    .checkbox_empty {
        height: 20px;
        position: relative;
        top: -2px;
    }

    .testDriveFormContainer
    {
        margin-top: 220px !important;
    }
    @media (max-width: 992px) and (min-width: 320px)
    {
        .testDriveFormContainer 
        {
            padding: 10px !important;
             width: 100% !important; 
        }
        .variantMainDiv {
            width: 100% !important;
        }
        .testDriveFormContainer {
            margin-top: 90px !important;
        }
    }

    .sub-container {
        display: block;
        margin: auto;
    }

    .sub-container>.menu {
        margin: auto;
        margin-top: 20px;
    }

    .sub-container>.menu>.menuContent {
        margin: auto;
        display: flex;
        width: 90%;
    }

    .sub-container>.menu>.menuContent>div {
        margin: 10px auto;
        display: flex;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer !important;
    }

    .menuContent>div>span {
        margin: auto;
        display: flex;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer !important;
    }

    .menuContent>div>span:hover {
        color: #1d3f8d;
    }

    .button_exploree {
        position: relative;
        height: 50px;
        border: 0;
        width: 90%;
        color: #ffffff;
        background-color: #2e5db3;
        font-size: 16px;
        font-weight: bold;
    }

    .button_exploreee
    {
        position: relative;
        height: 50px;
        border: 0;
        width: 90%;
        color: #ffffff;
        background-color: #c7c7c7;
        font-size: 16px;
        font-weight: bold;
    }

    @media (max-width: 992px) and (min-width: 320px)
    {
        .carimg {
            width: 100% !important;
        }
    }


    @media (max-width: 600px) and (min-width: 320px)
    {
        .carimg {
            height: initial;
            position: relative;
            top: 0px;
        }
    }


    .formsMenu {
        display: block;
        margin: auto;
        position: fixed;
        z-index: 1999;
        width: 100%;
        max-width: 1200px;
        background-color: #1d2733;
        color: #fff;
        margin-top: 10px !important;
    }
    .formsMenu > .links {
        min-height: 20px;
        padding: 10px;
    }
    .formsMenu > .links > a {
        text-transform: uppercase;
        font-size: 15px;
        float: right;
        text-decoration: underline;
    }
    .formsMenu > .menu {
        margin: auto;
        margin-top: 5px;
    }
    .formsMenu > .menu > .menuContent {
        margin: auto;
        display: flex;
    }
    .formsMenu > .menu > .menuContent > div {
        margin: 10px auto;
        display: flex;
        text-transform: capitalize;
        font-size: 17px;    
        cursor: pointer !important;
    }

    .formsMenu > .title
    {
        width:100%;
        text-align:center;
        margin-top: 0px !important;
        font-size: 20px;
        text-transform: uppercase;
        background-color: #1d2733;
        padding: 10px;
        color: #d04a50;
        max-width: 1200px;
        position: fixed;
        z-index: 1999;
        top: 100px;
    }

    @media (min-width: 320px) and (max-width: 750px)
    {
        .formsMenu > .title {   
            top: 56px !important;
        }

        .formsMenu > .menu
        {
            top: 107px !important;
            overflow-x: scroll;
        }

        .formsMenu > .menu > .menuContent > div
        {
            margin: 10px 10px;
            display: flex;
            text-transform: capitalize;
            font-size: 14px;
            cursor: pointer !important;
            text-align: left;
        }
    }

    @media (min-width: 320px) and (max-width: 768px)
    {
        .formsMenu > .menu > .menuContent
        {
            display: flex;
            text-align: center;
        }
    }

    @media (min-width: 320px) and (max-width: 768px)
    {
        .formsMenu > .menu {
          margin-top: 20px;
          max-width: 950px;
          min-width: 320px;
        }
    }

    @media (max-width: 768px) and (min-width: 480px)
    {
      .formsMenu > .menu > .menuContent > div {
          font-size: 15px;
      }
    }

    @media (max-width: 600px) and (min-width: 480px){
      .formsMenu > .menu > .menuContent > div {
          font-size: 13px;
      }
    }