    .checkbox_empty {
        height: 20px;
        position: relative;
        top: -2px;
    }

    .mainCarsDiv {
        width: 100%;
        min-width: 280px;
        max-width: 1200px !important;
        margin: 70px auto 10px;
    }

    .variantMainDiv {
        margin: auto;
        overflow: hidden;
        width: 90%;
    }

    .variantDiv {
        min-width: 30%;
        max-width: 30%;
        text-align: left;        
        margin: 10px;
        display: block;
        float: left;
        margin-top: 0;
    }

    @media (min-width: 1200px) {
        .variantDiv {
            min-width: 30%;
            margin: 15px 15px !important;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        .variantDiv {
            min-width: 30%;
            max-width: 30%;
            text-align: left;
            margin: 10px;
            float: left;
            margin-top: 0;
        }
    }


    @media (min-width: 600px) and (max-width: 992px) {
        .variantDiv {
            min-width: 46%;
        }
        
        .variantDiv {
            margin-bottom: 20px !important;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px) {

        
        .variantDiv {
            margin-bottom: 20px !important;
        }
    }


    @media (min-width: 320px) and (max-width: 600px) {
        .variantDiv {
            min-width: 90%;
            max-width: 90%;
            text-align: left;
            margin: 15px auto;
            float: none;
            margin-top: 0;
        }

        .carimg
        {
            height: 160px !important;
            position: relative;
            top: -25px;
        }
        
        .variantDiv {
            margin-bottom: 20px !important;
        }
    }

    .variantDiv:hover a {
        text-decoration: underline;
    }

    .button {
        height: 48px;
        border: 0;
        width: 100%;
        color: #ffffff;
        background-color: #2e5db3;
        font-size: 16px;
        font-weight: bold;
    }

    .car_detail {
        position: relative;
        top: 20px;
        padding: 0 15px;
    }

    @media (min-width: 400px) and (max-width: 600px) {
        .carimg
        {
            width: 70% !important;
        }
    }

    @media (min-width: 720px) and (max-width: 992px) {
        .carimg
        {
            width: 75% !important;
        }
    }


    /* Style the tab */
    div.tab {
        overflow: hidden;
    }

    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #1d2733;
    }

    /* Create an active/current tablink class */

    div.tab button {
        background-color: #1d2733;
        color: #fff;
        font-size: 20px;  
    }
    div.tab button.active {
        background-color: #1d2733;
        color: #4184fe;        
        text-decoration: underline;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        
    }
    .tablinks
    {
        width:33.33%;      
    }
    @media (min-width: 320px) and (max-width: 992px) {
        .shell, .headnav-shell,.range,.range-md-middle,.img-padding
        {
            height: 10px;
        }


    }

    .carsTitle
    {
        width:100%;
        text-align:center;
        margin-top: 90px !important;
        font-size: 30px;text-transform: uppercase;
        background-color: #1d2733;
        padding: 18px;
        color: #d04a50;
    }