.carDetailsMainDiv {
    
    margin: auto;
    width: 85%;
    max-width: 1200px;

}

@media (min-width: 992px){
  .links {
      margin-top: 230px !important;
  }
}

.links {
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
}
.links > a {
    text-transform: uppercase;
    font-size: 15px;
    float: right;
    text-decoration: none;
}


.carDetailsMenu {
    display: block;
    margin: auto;
    position: fixed;
    z-index: 1999;
    width: 100%;
    max-width: 1200px;
    background-color: #1d2733;
    color: #fff;
    margin-top: 10px !important;
}
.carDetailsMenu > .links {
    min-height: 20px;
    padding: 10px;
}
.carDetailsMenu > .links > a {
    text-transform: uppercase;
    font-size: 15px;
    float: right;
    text-decoration: underline;
}
.carDetailsMenu > .menu {
    margin: auto;
    margin-top: 5px;
}
.carDetailsMenu > .menu > .menuContent {
    margin: auto;
    display: flex;
}
.carDetailsMenu > .menu > .menuContent > div {
    margin: 10px auto;
    display: flex;
    text-transform: capitalize;
    font-size: 17px;    
    cursor: pointer !important;
}
.menuContentSeperator {
    padding: 10px 0px 10px 0px !important;
    margin: 0px !important;
    width: 2px !important;
    text-align: center;
    font-size: 25px;
    color: #989898;
}

.menuContent > div > span {
    margin: auto;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;    
    /*margin-right: 70%;*/
    cursor: pointer !important;
}



.menuContent div:hover {
    color: #659cff !important;
}





  .techSpeclinks
  {
    min-height: 20px !important;
    padding: 10px !important;
    position: relative !important;
    top: 55px !important;
  }

  .title > a
  {
    color: #1d3f8d;
    text-transform: uppercase !important;
    font-size: 15px !important;
    text-decoration: underline !important;
  }


  @media(min-width: 320px) and (max-width: 600px)
  {

    .techSpeclinks
    {
      top: 80px !important;
      right: 15px !important;
    }
  }


.car_tech_title {
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    background-color: #f2f7ff;
    padding: 5px;
}




/*.text
{
  width: 30%;
}*/



.eachContainer > .icon
{
  margin: auto 5px !important;width: 12%;
}

.eachContainer > .text
{
  margin: auto 5px !important;font-size: 20px
}

.overviewDiv
{
  margin: 110px auto !important;
  text-align: left;
  display: block;
}

.nameSection
{
   font-size: 22px;
   text-transform: uppercase;
}

.nameSection > span
{
    font-size: 17px;
    color: #d24c42;
    margin-left: 5px;
}

.eachContainer
{
  display: flex;
  margin: auto;
  min-height: 55px;
}

.sumarry
{
  width: 50%  ;
  margin: 20px auto !important;
}

.OverViewCarImage
{
  width: 50%;
    margin: 35px auto !important;
    text-align: center;
}


.bold 
{
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
}

.overviewDetails
{
  display: flex;
}

.testDriveLast_buttonn {
    color: #ffffff;
    background-color: #1d3f8d;
    font-size: 16px;
    border: 1px solid #1d3f8d;
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-transform: uppercase;
}
.testDriveLast_buttonn3{
  color: #ffffff;
  background-color: #1d3f8d;
  font-size: 16px;
  border: 1px solid #1d3f8d;
   width: 200px; 
  height: 42px;
  margin: auto;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  text-transform: uppercase;
}

    @media (min-width: 320px) and (max-width: 480px)
    {

        .menuContentSeperator
        {
            display: none !important;
        }

    }


  @media (min-width: 320px) and (max-width: 768px)
    {
        .overviewDetails
        {
            display: block;
        }

        .sumarry
        {
          width: 100%  ;
          margin: 20px auto !important;
        }

        .OverViewCarImage
        {
          width: 100%  ;
          margin: 20px auto !important;
        }

        .carDetailsMenu > .menu > .menuContent
        {
            display: flex;
            text-align: center;
        }

        .menuContent > div
        {
            margin: 15px !important;
        }


    }


  




.gallery
{
  margin-top: 175px;
}

/*.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 25%;
    width: 30px;
    height: 35px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}*/

  /*.sliderLowerDiv
  {
      width: 100%;
      height: 50px;
      position: absolute;
      bottom: 0;
      background-color: #c4c4c4;
  }*/










.aboveImage 
{
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #171717;
    color: #FFFFFF;
    font-weight: bold;
    width: 100%;
    height: 100%;
    opacity: 0.8;    
    padding: 75px 0;
    font-size: 18px;
}

.aboveImageCount
{
  font-size: 14px;
  font-weight: normal;
}


.sliderContainer
{

  margin:auto;
  margin-top: 8px;
  display: flex;
  width: 90%;
  max-height: 400px;
}

.slideSelector
{
  display: block;
  width: 20%;
}

.slider
{
    max-width: 800px;
    max-height: 400px;
    min-height: 300px;
    min-width: 300px;
    margin: auto 0px;
    border: 1px solid #cac5c5;
    width: 80%;
    height: 400px;    
    background-size: cover;
    background-repeat: no-repeat;
}

.interior, .exterior
{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
      
}


.interior > a, .exterior > a
{
    margin: 50% auto; 
    font-size: 18px;
}

@media (min-width: 768px) 
{
  .interior, .exterior{
    height: 49.9%;  
  }
}

@media (min-width: 320px) and (max-width: 480px)
{
  .slider
  {    
    height: 220px !important;
  }
}


@media (min-width: 320px) and (max-width: 768px)
{
  .sliderContainer
  {
    display: block;
        min-height: 500px;

  }

  .slideSelector
  {
    display: flex;
    width: 100%;
        min-height: 110px;

  }

  .slider
  {
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    height: 300px !important;
  }

  .interior, .exterior
  {

  }

  .aboveImage {
    padding: 15%;
  }
}






.colorList
{
  display: flex;
  
  margin: auto;
}

.title
{
  font-size: 22px;
  margin-bottom: 30px !important;
  margin-top: 40px !important;
  text-transform: uppercase;
  text-align: center;
}

.eachColor
{
  margin: auto;
}

.colorImage
{
  height: 40px;
  width: 100%;
  margin: auto;
  padding: 3px;
  border: 1px solid #363636;
  border-radius: 4px;
  margin-bottom: 10px;
}


@media (min-width: 320px) and (max-width: 768px)
{
  .colorList
  {
    display: block;
    width: 65%;
  }
  .eachColor
  {

    margin-top: 15px !important;
    margin-bottom:  15px !important;
  }
}










.variantDiv5
{
  font-size: 18px;
  margin:5px auto;
}

.variantDiv4
{
  font-size: 15px;margin:5px auto;
}

.variantDiv3
{
  font-size: 22px;
  color: #337ab7;
}

.checkboxlabel
{
  text-align: left;font-size: 16px; font-weight: normal;
    margin-left: -5px;
    margin-top: 5px;
}

.variantMainDiv
{
  margin: auto;overflow: hidden;width: 90%;
}



.variantDiv {
    min-width: 30%;
    max-width: 30%;
    max-height: 210px;
    min-height: 210px;
    text-align: left;
    border: 1px solid #b1b1b1;
    padding: 10px;
    margin: 20px 10px;
    display: block;
    float: left;
    margin-top: 0;
}

.variantDiv2
{
  display: flex;
      font-size: 16px;
     margin:10px auto;
}

.variantDivtext
{
  font-size: 17px;
}

@media (min-width: 992px)
{
    .variantDiv
    { 
      width: 30%; 
    }
}


@media (min-width: 768px) and (max-width: 1024px)
{
    .variantDiv
    {   
        min-width: 40%;
    }
}


@media  (min-width: 320px) and (max-width: 768px)
{
    .variantDiv
    { 
      min-width: 90%;
    }
}

.variantDiv:hover
{ 

    background: #ededed;
}

.variantDiv:hover a
{ 
  text-decoration: underline;
}



/*@media (min-width: 320px) and (max-width: 768px)
  {
      .carDetailsMainDiv {
      width: 90%;
    }

    .carDetailsMenu > .menu > .menuContent > div {
        font-size: 20px;    
    }



  }
*/


@media (min-width: 320px) and (max-width: 768px)
{
      .carDetailsMainDiv 
      {
        width: 95%;
      }

      .carDetailsMenu > .menu {
          margin-top: 20px;
          max-width: 950px;
          min-width: 320px;
      }
}

@media (max-width: 768px) and (min-width: 480px)
{
  .carDetailsMenu > .menu > .menuContent > div {
      font-size: 16px;
  }


  .menuContent > div {
      margin: 5px !important;
      padding: 0px 0px 0px 0px !important;
  }

}


@media (max-width: 600px) and (min-width: 480px){
  .carDetailsMenu > .menu > .menuContent > div {
      font-size: 14px;
  }
}

@media (min-width: 401px) and (max-width: 480px)
{
    .menuContent {
      display: flex !important;
      overflow-x: scroll;
    }
    .header_font {
      font-size: 18px !important;
    }
    .overviewDiv > .nameSection {
      font-size: 20px !important;
    }
    .overviewDiv > .nameSection > span {
      font-size: 16px !important;
    }
    .icon_body {
      height: 35px;
    }
    .eachContainer > .text {
      font-size: 17px;
    }
    .icon_text {
      font-size: 15px;
    }
    .icon_transmission {
      height: 29px;
      padding-left: 3px;
    }
    .testDriveLast_buttonn {
      font-size: 16px;
      height: 42px;
    }
    .testDriveLast_buttonn3 {
      font-size: 16px;
 
    }
    .title {
      font-size: 18px;
    }
    .smallscreen {
      float: left;
    }
    .checkbox-text {
      display: flex;
    }
    .checkbox_empty {
      top: 0 !important;
    }
    .variantDiv3 {
      font-size: 21px;
    }
    .variantDiv5 {
      font-size: 16px;
    }
    .variantDiv {
      min-height: 190px;
      max-height: 190px;
    }
}

@media (min-width: 320px) and (max-width: 400px)
{
    .menuContent {
      display: flex !important;
      overflow-x: scroll;
    }
    .header_font {
      font-size: 15px !important;
    }
    .overviewDiv > .nameSection {
      font-size: 17px !important;
    }
    .overviewDiv > .nameSection > span {
      font-size: 14px !important;
    }
    .icon_body {
      height: 30px;
    }
    .eachContainer > .text {
      font-size: 13px;
    }
    .icon_text {
      font-size: 12px;
    }
    .icon_transmission {
      height: 24px;
      padding-left: 3px;
    }
    .testDriveLast_buttonn {
      font-size: 14px;
      height: 42px;
    }
    .testDriveLast_buttonn3 {
      font-size: 14px;
    
    }
    .title {
      font-size: 18px;
    }
    .smallscreen {
      float: left;
    }
    .checkbox-text {
      display: flex;
    }
    .checkbox_empty {
      top: 0 !important;
    }
    .variantDiv3 {
      font-size: 20px;
    }
    .variantDiv5 {
      font-size: 15px;
    }
    .variantDiv {
      min-height: 180px;
      max-height: 180px;
    }
}

@media (min-width: 320px) and (max-width: 400px)
{
  .slider
  {
    height: 200px !important;
  }

  .sliderContainer 
  {
      min-height: 300px !important;
  }
}


@media (min-width: 400px) and (max-width: 500px)
{
  .slider
  {
    height: 250px !important;
  }

  .sliderContainer 
  {
      min-height: 360px !important;
  }
}

.carsTitle
{
    width:100%;
    text-align:center;
    margin-top: 0px !important;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #1d2733;
    padding: 10px;
    color: #d04a50;
    max-width: 1200px;
    position: fixed;
    z-index: 1999;
        top: 100px;
}







  td
  {
    padding: 5px;
    margin: auto;
  }
  tr
  {
    margin: auto;
    height: 50px;
  }

  td > img
  {
    width: 70%
  }

  .value
  {

    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }

  .imghor {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
  }

  .icon
  {
    text-align: left;
  }







  .colorListImageDIv
  {
    width: 66%;
    text-align: center;
  }

  .colorListPalletList
  {
    width: 34%;
  }

  .imgcircle 
  {
    border-radius: 50%;
    width: 50px !important;
    border: 1px solid #d3d3d3;
  }

  .colorTr
  {
    height: 65px;
    font-weight:normal;
  }

  .colorText
  {
    text-align: left;
    height: 65px;
    text-transform: uppercase;
  }

  .colorTr:focus 
  {
    font-weight: bold;
  }








.variantsMenu {
  display: block;
  margin: auto;
}
.variantsMenu > .links {
  min-height: 20px;
  padding: 10px;
}
.variantsMenu > .links > a {
  text-transform: uppercase;
  font-size: 15px;
  float: right;
  text-decoration: underline;
}
.variantsMenu > .menu {
  margin: auto;
  margin-top: 20px;
}
.variantsMenu > .menu > .menuContent {
  margin: auto;
  display: flex;
}
.variantsMenu > .menu > .menuContent > div {
  margin: 15px auto;
  display: flex;
  text-transform: uppercase;
  font-size: 20px;    
  cursor: pointer !important;
}

@media (min-width: 320px) and (max-width: 768px)
{
  .variantsMenu > .menu > .menuContent
  {
      display: flex;
      text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 768px)
{
  .variantsMenu > .menu {
      margin-top: 20px;
      max-width: 950px;
      min-width: 320px;
  }
}

@media (max-width: 768px) and (min-width: 480px)
{
  .variantsMenu > .menu > .menuContent > div {
      font-size: 16px;
  }

}


@media (max-width: 600px) and (min-width: 480px){
  .variantsMenu > .menu > .menuContent > div {
      font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 999px)
{
  .carsTitle { 
    top: 56px !important;
  }

  .carDetailsMenu > .menu
  {
    top: 107px !important;
  }

  .menuContent
  {
    overflow-x: scroll;
  }

  .carDetailsMenu > .menu > .menuContent > div
  {
    margin: 10px 10px;
      display: flex;
      text-transform: capitalize;
      font-size: 15px;
      cursor: pointer !important;
      text-align: left;
  }
}

@media (max-width: 400px) and (min-width: 320px)
{
  .value {
      font-size: 12px;
  }

/*  .text {
      width: 45%;
  }*/

  td {
      padding: 2px;
      margin: auto;
  }

  td > img {
      width: 60%;
  }
}