
/*-------------------------------------------Career Table - CSS---------------------------------*/
table {
	width: 100%;
}
tr:first-child {
	height: 50px;
    background-color: #0C2247;
}
th {
	text-align: center;
    color: #ffffff;
    font-size: 16px;
}
table tr th:nth-child(1) {
	width: 15%;
	border-right: 1px solid #ffffff;
}
table tr th:nth-child(2) {
	width: 45%;
	border-right: 1px solid #ffffff;
}
table tr th:nth-child(3) {
	width: 20%;
	border-right: 1px solid #ffffff;
}
table tr th:nth-child(4) {
	width: 20%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
 th {
    font-size: 12px !important;
 }
 td {
    font-size: 11px !important;
 } 
}