html
{
	font-family: 'Roboto', sans-serif;
}

body, .header, .footer, .container
{
	max-width: 1200px !important;
	margin: auto !important;
}

.header, .footer
{
	height: 100px;
	width: 95%;
	padding: 5px;
}

.header
{
	display: flex;
	position: fixed;
	background-color: #fff;
}

.container
{
	width: 95%;margin: auto;
	padding: 5px;
}	

.content
{
	margin-top: 100px !important;
}




.menuButton, .logo, .loginSection
{
	margin: auto;
}