

	.testDriveFormContainer {
        margin-top: 100px !important;
        width: 90% !important;
    }

    
    .mapSectionn,
    .detailsSection {
        min-height: 100px;
        margin: 20px auto;
    }

    .mapSectionn {
        border: 1px solid #ededed;
    }
    .categoryHeader
    {
        color: #194b8a;
        font-size: 20px;
        font-weight: 600;
    }

    td
    {
        text-align: left !important;        
    }

    td > div 
    {
        font-size: 17px;
        padding: 10px;
    }

    span
    {
        font-size: 19px;
        color: #194b8a;
        font-weight: 600;
    }

    .businessMobile
    {
        display: flex;
    }

    @media(min-width: 320px) and (max-width: 600px)
    {
        .businessMobile
        {
            display: block;
        }
    }

    .filterSection{
	    margin-top: 20px;
	    min-height: 50px;
	    display: flex;
	}

	.testDriveLast_button
	{
	    height: 40px !important;
	}

	select
	{ 
	    width: 99% !important;
	    border: 1px solid #dcdcdc !important;
	}