.myProfileMainDiv
{
	display: flex;
	width: 100%;
	min-height: 10px;
	margin: auto;
}
.myProfileMainDiv > div
{
	width: 31%;
	margin: 60px auto;
	padding: 10px;
}
.editbutton {
  background-color: rgb(46, 94, 179);
  height: 35px;
  width: 130px;
  box-shadow: none;
  border: none;
  margin-top: 40px;
  color: #FFFFFF;
}	

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


    md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(61, 122, 187) !important;
}


md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(9, 79, 145) !important;
    background: rgb(8, 72, 206) !important;
}

.md-tab {
    font-size: 18px;
    }


    .datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }


    
.inputImage{
    width: 100%;
    text-align: center !important;
    margin: auto;
    padding: 5px;
    font-size: 14px;
    color: #337ab7;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;width: 50%;background-color: #f1f1f1;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
        width: 100%;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.showTab {
  display: block;
}
.pro-title {
    text-transform: capitalize;
    font-size: 25px;
}
.addCar {
    color: #0e70be;
    font-size: 15px;
    margin-top: 15px !important;
    text-decoration: underline;
}
.addImage {
    width: 15px;
    margin-top: -4px !important;
}
.carListBorder {
    border-bottom: 2px solid #6c9bcc;
    margin:0 25%;
}
.afterUpload {
    max-height: 250px;
    width: 90%;
    border-radius: 50%;
}
/*--------------------------------------------Media Query --------------------------------------*/
@media screen and (min-width: 480px) and  (max-width: 768px) {
  .myProfileMainDiv {
    display: block !important;
  }
  .myProfileMainDiv > div {
    width: 90% !important;
  }
  .file-align {
    padding-left: 0 !important; 
  }
  .clear-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .imageDiv {
    max-width: 200px;
    max-height: 200px;
  }
  ul.tab li a {
    text-align: center;
    padding: 14px 10px;
    font-size: 15px;
  }
}
@media screen and (min-width: 320px) and  (max-width: 480px) {
  .myProfileMainDiv {
    display: block !important;
  }
  .myProfileMainDiv > div {
    width: 100% !important;
  }
  .file-align {
    padding-left: 0 !important; 
  }
  .clear-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .imageDiv {
    max-width: 200px;
    max-height: 200px;
  }
  ul.tab li a {
    text-align: justify;
    padding: 14px 6px;
    font-size: 12px;
  }
  .pro-title {
    font-size: 20px !important;
  }
  .pro-title1 {
    font-size: 17px !important;
  }
}
.addMt {
    margin-top: 50px !important;
}