*{
  outline: 0;
}
.filter-header {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}
.filter-div {
  padding: 0;
  margin: 0 15px 30px 0 !important;
  border: 1px solid #E8E8E8;
  max-width: 350px;
  height: 480px;
  box-shadow: 1px 2px 6px #E8E8E8 !important;
}
.font-text {
  font-size: 18px;
}
.filter-carName {
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
  font-size: 22px;
}
.car-th, .car-td {
  padding: 5px;
  text-align: left;
  position: relative;
  left: 10px;
  font-weight: normal;
  color: #000;
}
.th-1 {
  padding-left: 8px;
}
.th-2 {
  padding-left: 15px;
}
button {
  margin: 0 auto;
  display: block;
}

.my {
  padding-left: 15px;
  text-align: left;
  position: relative;
  font-weight: bold;
  color: #5b595a;
  text-transform: uppercase;
  height: 60px;
  background-color: #dbdbdb;
  font-size: 20px;
}
.mytd {
  padding: 0 15px;
  text-align: left;
  position: relative;
  border-bottom: 1px solid #c1c1c1;
  font-weight: normal;
  color: #5b595a;
  text-transform: capitalize;
  height: 60px;
  background-color: #f8f8f8;
  font-size: 18px;  
}
.filter-refresh {    
  float: right;
  position: relative;
  right: 15px;
}
.filter-plus {    
  float: right;
}
.center {
  text-align: center;
}
.hideborder {
  border: 0 !important;
}
.minusicon {
  position: relative;
  padding: 10px 0;
}
md-slider.md-default-theme.md-min .md-thumb:after, md-slider.md-min .md-thumb:after {
  border-color: #78787a !important;
  background-color: #78787a !important;
}
md-slider.md-default-theme .md-thumb:after, md-slider .md-thumb:after {
  border-color: #3661ad !important;
  background-color: #3661ad !important;
}
md-slider.md-default-theme .md-track.md-track-fill, md-slider .md-track.md-track-fill {
    background-color: #3661ad !important;
}
md-slider.md-default-theme .md-focus-ring, md-slider .md-focus-ring {
    background-color: transparent !important;
}

th {
  font-size: 24px;
}

.price-amount {
  color: #3d66b4 !important;
  font-size: 24px;
}
.enquire {
  width: 65%;
  font-size: 16px;
  font-weight: 400;
}
.icon {
  height: auto;
  margin-top: -3px !important;
}
.blackpatch {
  position: absolute;
  top: 33%;
}
.pre-car-width {
  width: 50%;
}
.horiz-divider {
  width: 100%;
}
.left-filter {
  padding: 0 55px 0 0;
}
.page-conatiner {
  margin-top: 20% !important;
  padding: 0 40px;
}
.chekbox-css {
  height: 20px;
  width: 20px;
  display: block;
  margin-bottom: 10px;
}
.checkbox-text {
  display: flex;
  line-height: 1.7;
  margin-bottom: 8px !important;
  color: #7f7f7f !important;
  font-weight: normal;
}
.search-box {
  width: 100%;
  box-sizing: border-box;
  border: 0px solid #ccc;
  color: #a7a7a7;
  background: #e9e9e9 url(../images/cardetails/search_grey.png) no-repeat right 2% center;

  padding: 12px 30px 12px 12px; 
}
#scrollArea {
  height: 300px;
  overflow: auto;
  margin-top: 20px;
}

#bottom {
  display: block;
  margin-top: 200px;
}
.expand-checkbox {
  position: relative;
  top: 30px;
  left: -122px;
  margin-top: 10px !important;
  margin-bottom: 15px !important;  
}
.key {
  display: inline-table;
  font-weight: normal;
  color: #7f7f7f !important;  
}
.ameo-check {
  width: 28px !important;
}
.modal-dialog {
  margin-top: 200px !important;
}
.btn-group>.btn:first-child {
  font-size: 0px !important;
  border: none;
  background-image: url(../assets/img/paddle_prev_999.png);
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  top: 90px;
  right: 70%;
  z-index: 9999;
  padding: 10px !important;
  margin-right: 60px; 
}
.btn-group>.btn:nth-child(2) {
  display: none !important;
}
.btn-group>.btn:last-child {
  font-size: 0px !important;
  border: none;
  background-image: url(../assets/img/paddle_next_999.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  top: 90px;
  left: 70%;
  z-index: 9999;
  padding: 10px !important;
  margin-left: 60px;  
}
.btn-group>.btn:active {
  background-color: transparent !important;
  border: 0 !important;
}
/*-------------------------------------------Checkbox css ---------------------------------*/

label input {
  display: none;
}
label span {
  display: inline-block;
  position: relative;
  float: right;  
  top: 4px !important; 
}
[type=checkbox]:checked + span:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 2px;
  font-size: 18px;
}
[type=checkbox]:checked + div:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 2px;
  font-size: 18px;
}
/*-------------------------------------------Media Query-----------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .pre-car-width {
    width: 47%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pre-car-width {
    width: 47%;
  }
  .cell-xs-10 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }  
  .left-filter {
    padding: 0;
  }
  .filter-div {
    margin: 0 10px 30px !important;
  } 
  .filter-header {
    font-size: 27px;
    text-align: center;
    margin: 0;
  }   
  .page-conatiner {
    margin-top: 15% !important;
    padding: 0 40px;
  }
  .apply {
    width: 65% !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .pre-car-width {
    width: 100%;
  }
  .cell-xs-10 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }  
  .range-xs-center {
    margin: 0 auto;
  }
  .filter-div {
    margin: 0 20px 30px !important;
  } 
  .left-filter {
    padding: 0 10px;
  }
  .mytd {
    font-size: 15px;
  }
  .my {
    font-size: 16px;
  }
  .filter-header {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }  
  .page-conatiner {
    margin-top: 19% !important;
    padding: 0 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .blackpatch {
    position: absolute;
    top: 36%;
  }
  .pre-car-width {
    width: 100%;
  }
  .cell-xs-10 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }  
  .range-xs-center {
    margin: 0 auto;
  }
  .filter-div {
    margin: 0 0 30px !important;
    height: 410px;
  }
  .left-filter {
    padding: 0;
  }
  .mobile-view {
    padding: 0;
    max-width: 100%;
    min-width: 100%;
  }
  .mytd {
    font-size: 15px;
  }
  .my {
    font-size: 16px;
  }
  .filter-header {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }  
  .page-conatiner {
    margin-top: 27% !important;
    padding: 0 30px;
  }
  th {
    font-size: 17px !important;
  }
  .car-td {
    font-size: 0.8em !important;
  }
  .button_explorer {
    height: 50px;
  }
}






