	.testDriveFormContainer {
	    margin-top: 0px !important;
	    padding: 40px;
	    width: 80%;
	    margin: auto;
	    /*background-color: #ededed;*/
	    max-width: 1200px !important;
	}
	.mdContent
	{
		padding-top: 5px;
		margin:auto;
		margin-top: 15px; 
		margin-bottom: 15px;
		
	}
	.name-icon {
		height: 20px !important;
	    padding-left: 6px;
	    margin-top: 5px !important;
	}

	.model-icon {
		height: 25px !important;
	    padding-left: 6px;
	    margin-top: 7px !important;
	}
	.service-icon {
		height: 22px !important;
	    padding-left: 3px;
	    margin-top: 4px !important;
	}
	.testDrive_button {
	    color: #0e70be;
	    background-color: #ffffff;
	    font-size: 16px;
	    border: 1px solid #0e70be;
	        min-width: 150px;
    max-width: 250px;
    width: 30%;
	    height: 54px;
	    margin-top: 10px; 
	    margin-bottom: 10px;
	}
	.testDriveLast_button
	{
		color: #ffffff;
	    background-color: #0e70be;
	    font-size: 16px;
	    border: 1px solid #0e70be;
	    min-width: 150px;
    	max-width: 250px;
    	width: 30%;
	    height: 54px;
	    margin-top: 10px; 
	    margin-bottom: 10px;
	}
	.steps-indicator li a {
	    color: #343537 !important;
	}
	.steps-indicator li.done a:before {
	    background-color: #0e70be !important;
	}
	.steps-indicator li.current a:before {
	    background-color: #0e70be !important;
	}
	.steps-indicator li.editing a:before {
	    background-color: #0e70be !important;
	}
	.steps-indicator li a:before, .steps-indicator:before {
	    background-color: #ededed !important;
	}
	.steps-indicator {
	    margin-top: 15px !important; margin-bottom: 15px !important;
	}

	md-input-container > md-icon + md-select {
	    margin-left: 36px;
	}


	.tdBelowDividerText
	{
		    font-size: 18px;
		    margin: auto;
		    padding: 5px;
		    width: 75%;
		    color: #636363;
	}

	.mainTD
	{
		display: flex;
		width: 85%;
		margin: 10px auto;
	}

	.leftMainTd
	{
		width: 40%;
		padding: 15px;
		margin: auto  !important;margin-top: 10px;
    margin-bottom: 15px;
	}

	.rightMainTd
	{
		width: 40%;
		padding: 15px;
		margin: auto  !important;
		margin-top: 0px !important;
	}

	md-content.md-default-theme, md-content {
	    color: rgba(0,0,0,0.87);
	    background-color: rgb(237, 237, 237) !important;
	}


	@media (min-width: 320px) and (max-width: 992px)
	{
	    .mainTD
		{
			display: block;
		}

		.leftMainTd
		{
			width: 100%;
			padding: 15px;
		}

		.rightMainTd
		{
			width: 100%;
			padding: 15px;
		}

	}

	

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }




select:focus, textarea:focus, input:focus{
    outline: none;border: none;
}

.outerMostInput
{
	display: block;margin: auto;text-align: left;margin-top: 10px;
    margin-bottom: 15px;
}

.labelSection
{
	height: 50%;margin: auto;font-size: 16px;
    color: #337ab7;
}

.inputArea
{
	height: 50%; display: flex;border: 1px solid #363636;margin: auto;background-color: white;
}

.iconArea
{
	padding: 5px;text-align: center;background-color: white;
}

.iconArea > object
{
	display:inline-block;height: 30px;margin: auto;
}

.inputArea > .seperator
{
	font-size: 22px;text-align: center;
}

.inputText
{
	border: none;background-color: white;width: 100%;margin: 5px;font-size: 17px;margin-bottom: 5px !important;
}

