.image_left {
	text-align: center;
	min-height: 155px !important;
	max-height: 155px !important;
	    line-height: 15;
}
.mypic {
	width: auto !important;
	height: auto !important;
	max-height: 155px !important;
	max-width: 70%;
}
.image_button {
	margin-top: 30px !important; 
	width: 100%;
	float: left;
	font-weight: bold;
	display: inline-block;
	line-height: 2.5;
}
.comment_box {
	width: 73%;
}
.hide_comment_box {
	display: none;
}
/*----------------------------------Media Query---------------------------*/
@media (min-width: 481px) and (max-width: 992px)
{
	.image_left {
		text-align: center;
	}
	.mypic {
        width: auto !important;
        height: auto !important;
        max-width: 30%;
        
    }
	.image_button {
		margin-top: 30px !important; 
		width: 150px;
		min-width: 150px;
		float: none;
	}
	.comment_box {
		display: none;
	}
	.hide_comment_box {
		display: block;
	}
}
@media (min-width: 320px) and (max-width: 480px)
{
	.image_left {
		text-align: center;
	}
	.mypic {
        width: auto !important;
        height: auto !important;
        max-width: 45%;
    }
	.image_button {
		margin-top: 30px !important; 
		width: 130px;
		float: none;
	}
	.comment_box {
		display: none;
	}
	.hide_comment_box {
		display: block;
	}
}