<link rel="stylesheet" href="styles/servicebooking.css">
<div id="myDIV" class="fade-in" style="display: none;">
<div class="formsMenu">
    <div id="title" class="title"> About Us </div>
</div>


<div class="testDriveFormContainer">
    <!-- <h3 class="contactTitle" style="text-transform: capitalize;"><span style="border-bottom: 2px solid #d24c42;">About Us</span></h3> -->
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->

    <br/>
		<div class="tdBelowDividerText contactText" style="text-align: justify;font-size: 17px;width: 85% !important;">
		    <strong>Elite Automobiles, Dakshin Honda Bangalore</strong>,  is an authorized Honda dealership located in Bangalore, India. Within a short period of time the dealership firm has done outstanding business and won the trust of its valued customers. We have locations centrally located in Bangalore at Lavelle Road & Magrath road for Sales & Service. Additionally we are located strategically near Hosur road Singasandra wherein the dealership is easily accessible to auto consumers.
			<br/><br/>
			Elite Automobiles features a state-of-the-art auto showroom with a wide range of brand new and second-hand Honda cars.
			<br/><br/>
			The dealership also provides Insurance and Finance solutions, special offers, Service & Repair facilities along with Test drives. Founded with the vision to deliver highest level of customer satisfaction, Elite Automobiles is supported by highly-skilled teams who work hard relentlessly to deliver superior customer service.
		</div>
</div>

</div>
<style type="text/css">
	.testDriveFormContainer {
	    margin-top: 115px !important;
	}
    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
</style>
<script type="text/javascript">
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 500);
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->