<link rel="stylesheet" href="styles/car.css">
<link rel="stylesheet" href="styles/accessories.css">


<div ng-if="!dataLoaded" style="margin: 50px auto; font-size: 22px;margin-top: 150px;">Just a moment...&nbsp;&nbsp;&nbsp;   
<img src="img/ring.svg" style="width: 38px;">
</div>







<div id="myDIV" class="fade-in" style="display: none;">

<div class="formsMenu">
    <div id="title" class="title"> Accessories </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-repeat="car in carsList" ng-click="goTOAccessories($index, car);" class="header_font" ng-if="car.car_name!='others'" ng-class="{isCarNotActive: $index != carIndex, isCarActive: $index == carIndex}">{{car.car_name}}</div>

        </div>
    </div>
</div>

<div class="testDriveFormContainer">
    <h3 class="" style="text-transform: capitalize;margin-bottom: 25px;"><span style="border-bottom: 2px solid #d24c42;">{{carName}} - Accessories List</span></h3>

    <!-- <div class="sub-container">
        <div class="menu" style="margin-top: 10px;margin-bottom: 15px;">
            <div class="menuContent smallscreen">

                <div>
                    <span ng-click="filter('all', 'none')" class="header_font" style="border-bottom: 4px solid #4e69a6;">All</span>
                </div>

                <div ng-repeat="title in titleNames">
                    <span ng-click="filter('notAll', title.name)" class="header_font" style="border-bottom: 2px solid #4e69a6;">{{title.name}}</span>
                </div>


            </div>
        </div>
    </div> -->

    <div class="mainCarsDiv" style="padding-bottom: 25px;margin: 20px auto 10px !important;">
        <div class="variants" style="margin: 25px auto;" id="myVariant">

            <div class="variantMainDiv" style="padding-bottom: 25px;">
                <!-- ng-if="car.car_name!='others'" -->
                <div ng-repeat="accessory in accessoriesToShow track by $index" class="variantDiv">
                    <div class="car_detail" style="padding: 0px !important;border: 1px solid #dcdcdc;box-shadow: 1px 1px 1px #dcdcdc;">
                        

                       <img src="{{accessory.image}}" alt="" class="carimg" onmousedown="return false" style="width: 100%;" />


                        <div style="border: 1px solid #d6d6d6;padding: 10px;">
                            
                            <div style="height: 60px;padding: 1px;">
                                <div style="width: 100%;margin: auto;">
                                    <div class="" style="float: left;font-size: 18px;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;width: 95%;" title="{{accessory.title}}">{{accessory.title}}</div>
                                    <br>
                                    <br>

                                    <div class="" style="display: flex;width: 75%">                 
                                      <span class="checkbox-text"> Add to enquiry list&nbsp;&nbsp;
                                        <img src="images/checkbox_empty.png" ng-show="!unchecked" class="checkbox_empty" ng-click="isAccessoriesSelected(accessory.id, accessory.title);unchecked = !unchecked" onmousedown="return false" /> 
                                        <img src="images/checkbox_checked.png" ng-show="unchecked" class="checkbox_empty" ng-click="isAccessoriesSelected(accessory.id, accessory.title);unchecked = !unchecked"  onmousedown="return false" />
                                      </span> 
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>



    <div style="max-width: 250px; margin: 60px auto;">
        <button class="button_exploree" ng-show="showEnqueryButton" ng-click="enquire();">Enquire</button>
        <button class="button_exploreee" ng-hide="showEnqueryButton" disabled>Enquire</button>
    </div>
</div>

</div>

<style type="text/css">
    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }

    .isCarActive
    {
        color: #4184fe !important;
        font-size: 18px;
        text-transform: uppercase !important;
        text-decoration: underline;
    }

    .isCarNotActive
    {
        color: #fff !important;
        font-size: 17px;
        text-transform: capitalize !important;
    }
</style>

<script type="text/javascript">

function pageDataLoaded()
{
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 1000);
}

</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->