<link rel="stylesheet" href="styles/car.css">
<style type="text/css">
    .button_exploree {
        position: relative;
        height: 50px;
        border: 0;
        width: 90%;
        color: #ffffff;
        background-color: #2e5db3;
        font-size: 16px;
        font-weight: bold;
    }

    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }

    .testDriveFormContainer
    {
    	margin-top: 140px !important;

    }
    @media (max-width: 992px) and (min-width: 320px)
	{
		.testDriveFormContainer 
		{
		    padding: 10px !important;
		     width: 100% !important; 
		}
		.variantMainDiv {
		    width: 100% !important;
		}
		.testDriveFormContainer {
		    margin-top: 90px !important;
		}
	}

</style>


<div class="testDriveFormContainer" >
<h3 class="" style="text-transform: capitalize;"><span style="border-bottom: 2px solid #d24c42;">Select Car to View Accessories</span></h3>

<div ng-if="!dataLoaded" style="margin: 50px auto; font-size: 22px;margin-top: 150px;">Just a moment...&nbsp;&nbsp;&nbsp;   
<img src="img/ring.svg" style="width: 38px;">
</div>
    <div class="mainCarsDiv fade-in" style="padding-bottom: 25px;margin: 20px auto 10px !important;" id="myDIV">


        <div class="variants" style="margin: 25px auto;" id="myVariant">

            <div class="variantMainDiv" style="padding-bottom: 25px;">
                <div ng-repeat="car in carsList" class="variantDiv" ng-if="car.car_name!='others'">
                    <div class="car_detail">
                        <div style="text-align: center;width: 100%; margin: 0px auto 10px;height: 80px;padding: 15px;">

                            <img src="{{car.web_display_car_image.image_url}}" alt="" class="carimg" onmousedown="return false" style="width: 100%;height: 145px;" />

                        </div>

                        <div style="background-color: #ededed;border: 1px solid #d6d6d6;padding: 10px;">

                            <div style="text-align: center;width: 100%; margin: 0px auto 20px;height: 40px;padding: 10px;">

                                <!-- <img src="{{car.display_image_url}}" alt="" class=""  onmousedown="return false" style="width: 100%" /> -->

                            </div>
                            <div style="height: 140px;padding: 10px;">
                                <div style="width: 100%;margin: auto;">
                                    <div class="" style="float: left;font-size: 18px;">{{car.car_name}}</div>
                                    <div class="" style="float: right;font-size: 16px;font-style: italic;color: #686868;">{{car.car_type}}</div>
                                </div>
                                <img src="images/ncd.png" style="width: 100%;">
                                <!-- <br> -->



                                <div style="width: 100%;margin: 20px auto;padding: 10px;">
                                    <button class="button" ng-click="viewAccessories(car.car_name, car.id)">View Accessories</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
</div>
</div>

<script type="text/javascript">
function pageDataLoaded()
{
    setTimeout(function() {
        $('#myDIV').fadeIn(1000)

    }, 10);
}
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->