
<link rel="stylesheet" href="styles/servicebooking.css">
<md-dialog aria-label="" class="mdDialogPosition" style="min-width: 280px;width: 40%;">
  <form ng-cloak novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Car</h2>
        <span flex></span>
        
      </div>
    </md-toolbar>

    <md-dialog-content>
              <!-- <form name="userForm" ng-submit="addMyCar()" novalidate> -->

	<div class="mainDiv" style="width: 80%;text-align: center;margin: auto;">
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':model==true}">Car Model*</div> -->
				<div class="inputArea" ng-class="{'text-box':model==true}">
					<div class="iconArea ser-padd"> 
						<object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">


					<select id="carModel" class="inputText" name="model" ng-model="newCar.model" ng-click="model=true" ng-blur="model=false" ng-required="true" tabindex="1" ng-change="testFuels()" required>
					  <option value="" ng-selected="true" disabled>Model*</option>
					  <option ng-repeat="car in carsList" value="{{car.car_name}}" ng-selected="">{{car.car_name}}</option>	 
					</select> 

				</div>
	                <!-- <div class="validation" ng-show="submitted && userForm.model.$error.required">Model is required*</div> -->
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':fuel==true}">Fuel Type*</div> -->
				<div class="inputArea" ng-class="{'text-box':fuel==true}">
					<div class="iconArea ser-padd"> 
						<object type="image/svg+xml" data="assets/new_form_icons/fueltype.svg" class="model-icon fuelIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
					<select class="inputText" name="userFuel" ng-model="newCar.fuel_type" ng-click="fuel=true" ng-blur="fuel=false" required="true"  tabindex="2" id="fueltype">
					  <option value="" ng-selected="true" disabled>Fuel Type*</option>
					  <option ng-repeat="fuel in addCarFuelTypes" value="{{fuel}}" >{{fuel}}</option>	
					</select> 
				</div>
	                <!-- <div class="validation" ng-show="submitted && userForm.userFuel.$error.required">Fuel Type is required*</div> -->
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':reg==true}">Registration No.*</div> -->
				<div class="inputArea" ng-class="{'text-box':reg==true}">
					<div class="iconArea ser-padd">
						<object type="image/svg+xml" data="assets/new_form_icons/registration.svg" class="name-icon regIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
					<input type="text" id="regNumber" name="valRenewReg" class="inputText" ng-model="newCar.registration_number" ng-click="reg=true" ng-blur="reg=false" required="true" tabindex="3" placeholder="Registration No.*">
				</div>	
	               <!-- <div class="validation" ng-show="submittedRenew && userForm.valRenewReg.$error.required">Registration No. is required*</div>		 -->
			</div>
			<div class="outerMostInput">
				<div class="labelSection" ng-class="{'text-label':date==true && date2==false}">Date of Purchase*</div>
				<div class="inputArea" ng-class="{'text-box':date==true && date2==false}">
					<div class="iconArea">
						<object type="image/svg+xml" data="assets/new_form_icons/date.svg" class="name-icon fuelIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
                   <datepicker date-format="dd-MM-yyyy" datepicker-mobile="true">
					<input type="text" id="purchaseDate" class="inputText dateCss" ng-model="newCar.date_of_purchase" ng-click="date=true;date2=false" ng-blur="date=false;date2=true"  tabindex="4" readonly placeholder="Date of Purchase*">
				   </datepicker>	
				</div>
	            <div class="validation" ng-show="submittedRenew && !date2">Date of Purchase is required*</div>
			</div>

			<div class="outerMostInput">
				<div class="labelSection" ng-class="{'text-label':date==true && last==false}">Last Service Date</div>
				<div class="inputArea" ng-class="{'text-box':date==true && last==false}">
					<div class="iconArea">
						<object type="image/svg+xml" data="assets/new_form_icons/date.svg" class="name-icon fuelIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
                   <datepicker date-format="dd-MM-yyyy" datepicker-mobile="true">
					<input type="text" id="lastDate" class="inputText dateCss" ng-model="newCar.last_service_date" ng-click="date=true;last=false" ng-blur="date=false;last=true" tabindex="5" readonly placeholder="Last Service Date">
				   </datepicker>	
				</div>
				<p class="text-danger" ng-if="serviceDate">Last Service Date is invalid</p>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':km==true}">Kilometers</div> -->
				<div class="inputArea" ng-class="{'text-box':km==true}">
					<div class="iconArea">
						<object type="image/svg+xml" data="assets/new_form_icons/kilometer.svg" class="name-icon allIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
					<input type="text" id="userKms" name="valRenewKm" class="inputText" ng-model="newCar.number_of_kms" ng-click="km=true" ng-blur="km=false" required="true" tabindex="6" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" placeholder="Kilometers">
				</div>	
	               <div class="validation" ng-show="submittedRenew && userForm.valRenewKm.$error.required">Kilometers is required*</div>		
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':engine==true}">Engine Number</div> -->
				<div class="inputArea" ng-class="{'text-box':engine==true}">
					<div class="iconArea">
	                   <object type="image/svg+xml" data="assets/new_form_icons/engine.svg" class="name-icon allIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
					<input type="text" id="userEngine" name="valEngine" ng-model="newCar.engine_number" class="inputText" ng-click="engine=true" ng-blur="engine=false"  tabindex="7" placeholder="Engine Number">
				</div>		
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':chasis==true}">Chasis Number</div> -->
				<div class="inputArea" ng-class="{'text-box':chasis==true}">
					<div class="iconArea">
	                   <object type="image/svg+xml" data="assets/new_form_icons/chasis.svg" class="name-icon allIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
					<input type="text" id="userChasis" name="valChasis" ng-model="newCar.chasis_number" class="inputText" ng-click="chasis=true" ng-blur="chasis=false"  tabindex="8" placeholder="Chasis Number">
				</div>	

			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':myins==true}">Insurance Company</div> -->
				<div class="inputArea" ng-class="{'text-box':myins==true}">
					<div class="iconArea ">
						<object type="image/svg+xml" data="assets/new_form_icons/insurance.svg" class="name-icon allIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
					<input type="text" id="userInsCompany" name="valRenewInsurance" class="inputText c-input" ng-click="myins=true" ng-blur="myins=false" ng-model="newCar.insurance_provider" required="true" tabindex="9" placeholder="Insurance Company">
				</div>	
	               <div class="validation" ng-show="submittedRenew && userForm.valRenewInsurance.$error.required">Insurance Company is required*</div>			
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Policy Number</div> -->
				<div class="inputArea" ng-class="{'text-box':phone==true}">
					<div class="iconArea">
	                   <object type="image/svg+xml" data="assets/new_form_icons/policy.svg" class="name-icon allIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
					<input type="text" id="userPolicy" name="valRenewPolicy" ng-model="newCar.policy_number" class="inputText" ng-click="phone=true" ng-blur="phone=false" tabindex="10" placeholder="Policy Number">
				</div>			
			</div>
			<div class="outerMostInput">
				<div class="labelSection" ng-class="{'text-label':exdate==true && exDate2==false}">Insurance Expiry Date</div>
				<div class="inputArea" ng-class="{'text-box':exdate==true && exDate2==false}">
					<div class="iconArea">
						<object type="image/svg+xml" data="assets/new_form_icons/expiry_date.svg" class="name-icon allIcon"></object>
					</div>
	                  <img src="assets/icons/grey_divider.png" class="box-divider">
                   <datepicker date-format="dd-MM-yyyy" datepicker-mobile="true">
					<input type="text" id="expairyDate" class="inputText c-input dateCss" name="valRenewExDate" ng-model="newCar.insurance_expiry" ng-click="exdate=true;exDate2=false" ng-blur="exdate=false;exDate2=true" tabindex="11" style="margin-top: 0 !important;" readonly placeholder="Expiry Date">
				   </datepicker>	
				</div>
				
				<div class="validation" ng-if="insurance_expiry"> Date expired!</div>	
	               <div class="validation" ng-show="submittedRenew && !exDate2">Expiry Date is required*</div>	
			</div>
        <div style="display: inline-block;">  
	        <button class="testDriveLast_button" ng-click="closeCarModal();">CLOSE</button>
		    <input type="submit" class="testDriveLast_button" value="ADD CAR" ng-click="addMyCar()" />
	    </div> 
	</div>
	<!-- </form> -->
      
    </md-dialog-content>
  </form>
</md-dialog>

<style type="text/css">
	md-input-container {
	    padding: 2px 2px 5px !important;
	}

	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 150px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 150px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 150px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 100px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 100px !important;
		}
	}

	.increaseHeight {
		    height: 423.5px;
		}
</style>
<script type="text/javascript">
 function validate(s) {
    var rgx = /^[0-9]*\.?[0-9]*$/;
    return s.match(rgx);
 }
</script>

