<link rel="stylesheet" href="styles/carcompare.css">
        <style type="text/css">
          .checkbox_empty {
                height: 20px;
                position: relative;
                top: -2px;
          }
        </style>


<div id="myDIV" class="fade-in" style="display: none;">

<div class="mainCarCompareDiv">

	<div class="links" >
	  <a href="" ng-if="!has3Cars" ng-click="changeCar($event, 3, 0);"> + Add Car</a>
	</div>
	<div class="headSection">
		<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]">
			<h1>Compare <br> Vehicles</h1>
			<div class="blueSeperator"></div>
			<div class="titleInput"> 
				<div class="inputContainer">			
	              <span class="checkbox-text"> 
                    <img src="images/checkbox_empty.png" ng-show="!common" class="checkbox_empty" ng-click="common = !common;differences=false;highLightCommon()" onmousedown="return false" id="common" for="common" value="1"/> 
                    <img src="images/checkbox_checked.png" ng-show="common" class="checkbox_empty" ng-click="common = !common;differences=false;highLightCommon()"  value="1" onmousedown="return false" id="common" for="common"/> &nbsp;&nbsp;Highlight Common features
	              </span>
				</div>
				<div class="inputContainer">			
	              <span class="checkbox-text"> 
                    <img src="images/checkbox_empty.png" ng-show="!differences" class="checkbox_empty" ng-click="differences = !differences;common=false;highLightUnCommon()" value="1" onmousedown="return false" id="differences" for="differences"/> 
                    <img src="images/checkbox_checked.png" ng-show="differences" class="checkbox_empty" ng-click="differences = !differences;common=false;highLightUnCommon()" value="1"  onmousedown="return false" id="differences" for="differences"/> &nbsp;&nbsp;Highlight Differences
	              </span>		
				</div>
				<div class="inputContainer inputContainerr" style="">	
					<div class="labelSection">COMPARE</div>
					<select class="inputText" name="test" ng-model="sendData.book_test_drife.model" ng-change="goToOverview(sendData.book_test_drife.model)">
					  <option value="" ng-selected="true" >Go to</option>
					  <option value="OVERVIEW">OVERVIEW</option>	 
					  <option value="1" ng-selected="false" >INTERIOR</option>	 
					  <option value="2" ng-selected="false" >EXTERIOR</option>	 
					  <option value="3" ng-selected="false">DIMENSIONS</option>	 
					  <option value="4" ng-selected="false">COMFORT</option>	 
					  <option value="5" ng-selected="false" >SAFETY</option>	 
					  <option value="6" ng-selected="false" >SPECIFICATION</option>	 
					  <option value="7" ng-selected="false" >ENTERTAINMENT</option>	 
					</select> 
				</div>
			</div>
		</div>
		 
		<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]">		
			<div class="topButtons">
				<div class="crossButton" ng-click="closeCar(1,$event);">X</div>
				<div class="betweenTopButtons"></div>
				<div class="changeCarIcon" ng-click="changeCar($event, 1, 1);">
					<img src="assets/icons/model.svg" style="width: 40px;margin: -10px auto;" onmousedown="return false"> 
				</div>
			</div>
			<div class="imageDiv">
				<img src="{{car1.web_display_images.image_url}}" class="headerImage"  onmousedown="return false"/>
			</div>
			<div class="carName" style="margin-top: 15px;" title="{{car1.car}}">
				{{car1.car}}
			</div>
			<div class="carName" style="font-size: 12px;text-overflow: ellipsis;width: 13em;overflow: hidden;white-space: nowrap;font-weight: 200;" title="{{car1.variant_data.variant.variant_name}}">
				{{car1.variant_data.variant.variant_name}}
			</div>
			<div class="dropDownDiv" style="margin-top: -25px;">
				<div class="inputContainer">	
					<select class="inputText" id="car1Select" name="test" style="width: 90%; margin: 5px auto;" ng-model="car1Variant" ng-change="changeVariant(1);">
					  <option selected disabled value="">Change variant</option>
					  <option ng-repeat="variant in car1.variant_list" value="{{variant.variant_id}}">{{variant.variant_name}}</option>	 
					</select>  
				</div>	
			</div>

			<div class="carName" title="{{car1.car_data[42].varient_price | rupees}}"> &#8377; {{car1.car_data[42].varient_price | rupees}} </div>
			<br>
			<input type="submit" class="testDriveLast_buttonn" value="Get On Road Price" style="" ng-click="getPriceQuote($event, car1.variant_list);" />
		</div>

	 

		<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]">		
			<div class="topButtons">
				<div class="crossButton" ng-click="closeCar(2,$event);">X</div>
				<div class="betweenTopButtons"></div>
				<div class="changeCarIcon" ng-click="changeCar($event, 2, 1);">
					<img src="assets/icons/model.svg" style="width: 40px;margin: -10px auto;" onmousedown="return false"> 
				</div>
			</div>
			<div class="imageDiv">
				<img src="{{car2.web_display_images.image_url}}" class="headerImage"   onmousedown="return false"/>
			</div>
			<div class="carName" style="margin-top: 15px;" title="{{car2.car}}">
				{{car2.car}}
			</div>
			<div class="carName" style="font-size: 12px;text-overflow: ellipsis;width: 13em;overflow: hidden;white-space: nowrap;font-weight: 200;" title="{{car2.variant_data.variant.variant_name}}">
				{{car2.variant_data.variant.variant_name}}
			</div>
			<div class="dropDownDiv" style="margin-top: -25px;">
				<div class="inputContainer">	
					<select class="inputText" id="car2Select" name="test" style="width: 90%; margin: 5px auto;" ng-model="car2Variant" ng-change="changeVariant(2);">
					  <option selected disabled value="">Change variant</option>
					  <option ng-repeat="variant in car2.variant_list" value="{{variant.variant_id}}">{{variant.variant_name}}</option>	 
					</select>   
				</div>	
			</div>
			
			<div class="carName" title="{{car2.car_data[42].varient_price | rupees}}"> &#8377; {{car2.car_data[42].varient_price | rupees}} </div>
			<br>
			<input type="submit" class="testDriveLast_buttonn" value="Get On Road Price" style="" ng-click="getPriceQuote($event, car2.variant_list);" />
		</div>



		<div class="carContainerr carContainerrWidth" ng-if="has3Cars">		
			<div class="topButtons">
				<div class="crossButton" ng-click="closeCar(3, $event);">X</div>
				<div class="betweenTopButtons"></div>
				<div class="changeCarIcon" ng-click="changeCar($event, 3, 1);">
					<img src="assets/icons/model.svg" style="width: 40px;margin: -10px auto;" ng-click="changeCar();" onmousedown="return false"> 
				</div>
			</div>
			<div class="imageDiv">
				<img src="{{car3.web_display_images.image_url}}" class="headerImage"  onmousedown="return false" />
			</div>
			<div class="carName" style="margin-top: 15px;" title="{{car3.car}}">
				{{car3.car}}
			</div>
			<div class="carName" style="font-size: 12px;text-overflow: ellipsis;width: 13em;overflow: hidden;white-space: nowrap;font-weight: 200;" title="{{car3.variant_data.variant.variant_name}}">
				{{car3.variant_data.variant.variant_name}}
			</div>
			<div class="dropDownDiv" style="margin-top: -25px;">
				<div class="inputContainer">	
				<select class="inputText" id="car3Select" name="test" style="width: 90%; margin: 5px auto;" ng-model="car3Variant" ng-change="changeVariant(3);">	
					<option selected disabled value="">Change variant</option>				 
					<option ng-repeat="variant in car3.variant_list" value="{{variant.variant_id}}">{{variant.variant_name}}</option>	 
				</select>  
				</div>	
			</div>
			<div class="carName" title="{{car3.car_data[42].varient_price | rupees}}"> &#8377; {{car3.car_data[42].varient_price | rupees}}  </div>
			<br>
			<input type="submit" class="testDriveLast_buttonn" value="Get On Road Price" style="" ng-click="getPriceQuote($event, car3.variant_list);" />
		</div>
	</div>

	<style type="text/css">
		.highLight
		{
			background-color: #ffdcde;
		}

		.nohighLight
		{
			background-color: none;
		}
	</style>



	<div class="overViewSection">
		<div class="title">OVERVIEW</div>

		<div class="overVieww">
			<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]" style="border:none;">
				<div ng-repeat="ov in overViewArray" class="eachRow" id="{{ov.name}}">{{ov.name}}</div>
			</div>
			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;">


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefueltype]" title="{{car1.variant_data.variant.fuel_type}}"> {{car1.variant_data.variant.fuel_type}}</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelCapacity]" title="{{car1.fuelCapacity.value}}">{{car1.fuelCapacity.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameseating]" title="{{car1.variant_data.variant.seating}}">{{car1.variant_data.variant.seating}}</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameTransmissiontype]" title="{{car1.variant_data.variant.transmission_type}}">{{car1.variant_data.variant.transmission_type}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedisplacement]" title="{{car1.displacement.value}}">{{car1.displacement.value}} 				
				</div>
				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelEfficiency]" title="{{car1.fuelEfficiency.value}}">{{car1.fuelEfficiency.value}} 				
				</div>

				<div class="eachRow eachRowColor" style="display: flex;">
					<div ng-repeat="color in car1.web_colors[0].s3_pallet_image_url" style="margin: auto 5px;">
			            <img src="{{color.img2}}" style="width: 18px;height: 18px;border: 1px solid #363636;" onmousedown="return false"/>
			        </div>
				</div>
			</div>


			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;" id="compOverview">
				
				<!-- <div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameEnginetype]"> {{car2.enginetype.value}}</div> -->

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefueltype]" title="{{car2.variant_data.variant.fuel_type}}"> {{car2.variant_data.variant.fuel_type}}</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelCapacity]" title="{{car2.fuelCapacity.value}}">{{car2.fuelCapacity.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameseating]" title="{{car2.variant_data.variant.seating}}">{{car2.variant_data.variant.seating}}</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameTransmissiontype]" title="{{car2.variant_data.variant.transmission_type}}">{{car2.variant_data.variant.transmission_type}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedisplacement]" title="{{car2.displacement.value}}">{{car2.displacement.value}} 				
				</div>
				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelEfficiency]" title="{{car2.fuelEfficiency.value}}">{{car2.fuelEfficiency.value}} 				
				</div>

				<div class="eachRow eachRowColor" style="display: flex;">
					<div ng-repeat="color in car2.web_colors[0].s3_pallet_image_url" style="margin: auto 5px;text-align: center;">
			            <img src="{{color.img2}}" style="width: 18px;height: 18px;border: 1px solid #363636;" onmousedown="return false"/>
			        </div>
				</div>
			</div>

			<div class="carContainerr carContainerrWidth" ng-if="has3Cars" style="border:none;">
				<!-- <div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameEnginetype]"> {{car3.enginetype.value}}</div> -->

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefueltype]" title="{{car3.variant_data.variant.fuel_type}}"> {{car3.variant_data.variant.fuel_type}}</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelCapacity]" title="{{car3.fuelCapacity.value}}">{{car3.fuelCapacity.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameseating]" title="{{car3.variant_data.variant.seating}}">{{car3.variant_data.variant.seating}}</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameTransmissiontype]" title="{{car3.variant_data.variant.transmission_type}}">{{car3.variant_data.variant.transmission_type}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedisplacement]" title="{{car3.displacement.value}}">{{car3.displacement.value}} 				
				</div>
				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelEfficiency]" title="{{car3.fuelEfficiency.value}}">{{car3.fuelEfficiency.value}} 				
				</div>

				<div class="eachRow eachRowColor" style="display: flex;">
					<div ng-repeat="color in car3.web_colors[0].s3_pallet_image_url" style="margin: auto 5px;">
			            <img src="{{color.img2}}" style="width: 18px;height: 18px;border: 1px solid #363636;" onmousedown="return false"/>
			        </div>
				</div>
			</div>
		</div>

	</div>

	<div id="1"></div>
	<br>
	<div class="overViewSection" >

		<div style="display: flex;border-bottom: 3px solid #d04a50;margin-bottom: 20px !important;">
			<div class="categoryHeader">Interior</div>
			<div class="categoryHeaderExpand">
				<div class="slide-buttonn" data-content="panel1">
				    <p><span class="panel-icon panelicon1" style="margin: auto;">+</span></p>
				</div>
			</div>
		</div>
		<div class="overVieww" id="panel1" style="display: none">

			<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]" style="border:none;min-height: 100px;">
				<div ng-repeat="sf in interiorArray" class="eachRow" id="{{sf.name}}" title="{{sf.name}}">{{sf.name}}</div>
			</div>

			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;min-height: 100px;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameupholstery]" title="{{car1.upholstery.description}}">{{car1.upholstery.description}}				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamemultiInformationDisplay]">
					<div ng-show="car1.multiInformationDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.multiInformationDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelConsumptionDisplay]">
					<div ng-show="car1.fuelConsumptionDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.fuelConsumptionDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamecruisingRangeDisplay]">
					<div ng-show="car1.cruisingRangeDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.cruisingRangeDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametripMeter]" title="{{car1.tripMeter.description}}">{{car1.tripMeter.description}}			
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoutsideTempDisplay]">
					<div ng-show="car1.outsideTempDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.outsideTempDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>



				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameseatBackFoldDown]" title="{{car1.seatBackFoldDown.description}}">{{car1.seatBackFoldDown.description}}				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamerearACVents]">
					<div ng-show="car1.rearACVents" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.rearACVents" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameecoLamps]">
					<div ng-show="car1.ecoLamps" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.ecoLamps" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

			</div>


			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;min-height: 100px;">


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameupholstery]" title="{{car2.upholstery.description}}">{{car2.upholstery.description}}				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamemultiInformationDisplay]">
					<div ng-show="car2.multiInformationDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.multiInformationDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelConsumptionDisplay]">
					<div ng-show="car2.fuelConsumptionDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.fuelConsumptionDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamecruisingRangeDisplay]">
					<div ng-show="car2.cruisingRangeDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.cruisingRangeDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametripMeter]" title="{{car2.tripMeter.description}}">{{car2.tripMeter.description}}			
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoutsideTempDisplay]">
					<div ng-show="car2.outsideTempDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.outsideTempDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>



				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameseatBackFoldDown]" title="{{car2.seatBackFoldDown.description}}">{{car2.seatBackFoldDown.description}}				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamerearACVents]">
					<div ng-show="car2.rearACVents" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.rearACVents" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameecoLamps]">
					<div ng-show="car2.ecoLamps" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.ecoLamps" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

			</div>



			<div class="carContainerr carContainerrWidth" ng-if="has3Cars" style="border:none;min-height: 100px;">


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameupholstery]" title="{{car3.upholstery.description}}">{{car3.upholstery.description}}				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamemultiInformationDisplay]">
					<div ng-show="car3.multiInformationDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.multiInformationDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefuelConsumptionDisplay]">
					<div ng-show="car3.fuelConsumptionDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.fuelConsumptionDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamecruisingRangeDisplay]">
					<div ng-show="car3.cruisingRangeDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.cruisingRangeDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametripMeter]" title="{{car3.tripMeter.description}}">{{car3.tripMeter.description}}			
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoutsideTempDisplay]">
					<div ng-show="car3.outsideTempDisplay" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.outsideTempDisplay" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>



				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameseatBackFoldDown]" title="{{car3.seatBackFoldDown.description}}">{{car3.seatBackFoldDown.description}}				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamerearACVents]">
					<div ng-show="car3.rearACVents" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.rearACVents" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameecoLamps]">
					<div ng-show="car3.ecoLamps" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.ecoLamps" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

			</div>


		</div>

	</div>





	<div id="2"></div>
	<br>
	<div class="overViewSection">
		<div style="display: flex;border-bottom: 3px solid #d04a50;margin-bottom: 30px !important;">
			<div class="categoryHeader">Exterior</div>
			<div class="categoryHeaderExpand">
				<div class="slide-buttonn" data-content="panel2">
				    <p><span class="panel-icon panelicon2" style="margin: auto;">+</span></p>
				</div>
			</div>
		</div>
		<div class="overVieww" id="panel2" style="display: none">

			<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]" style="border:none;min-height: 100px;">
				<div ng-repeat="sf in exteriorArray" class="eachRow" id="{{sf.name}}" title="{{sf.name}}">{{sf.name}}</div>
			</div>

			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;min-height: 100px;">
				

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamealloyWheels]">
					<div ng-show="car1.alloyWheels" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.alloyWheels" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefrontChromeGrill]" title="{{car1.frontChromeGrill.description}}">{{car1.frontChromeGrill.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameturnIndictorOnORVM]">
					<div ng-show="car1.turnIndictorOnORVM" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.turnIndictorOnORVM" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameantenna]" title="{{car1.antenna.description}}">{{car1.antenna.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebodyColorFrontBack]" title="{{car1.bodyColorFrontBack.description}}">{{car1.bodyColorFrontBack.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoutdoorHandles]" title="{{car1.outdoorHandles.description}}">{{car1.outdoorHandles.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoRVMColor]" title="{{car1.oRVMColor.description}}">{{car1.oRVMColor.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefrontRearMudguards]" title="{{car1.frontRearMudguards.description}}">{{car1.frontRearMudguards.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameheadLamp]" title="{{car1.headLamp.description}}">{{car1.headLamp.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefogLamps]">
					<div ng-show="car1.fogLamps" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.fogLamps" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamerearWiperWasher]" title="{{car1.rearWiperWasher.description}}">{{car1.rearWiperWasher.description}}	
				</div>



			</div>


			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;min-height: 100px;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamealloyWheels]">
					<div ng-show="car2.alloyWheels" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.alloyWheels" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefrontChromeGrill]" title="{{car2.frontChromeGrill.description}}">{{car2.frontChromeGrill.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameturnIndictorOnORVM]">
					<div ng-show="car2.turnIndictorOnORVM" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.turnIndictorOnORVM" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameantenna]" title="{{car2.antenna.description}}">{{car2.antenna.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebodyColorFrontBack]" title="{{car2.bodyColorFrontBack.description}}">{{car2.bodyColorFrontBack.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoutdoorHandles]" title="{{car2.outdoorHandles.description}}">{{car2.outdoorHandles.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoRVMColor]" title="{{car2.oRVMColor.description}}">{{car2.oRVMColor.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefrontRearMudguards]" title="{{car2.frontRearMudguards.description}}">{{car2.frontRearMudguards.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameheadLamp]" title="{{car2.headLamp.description}}">{{car2.headLamp.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefogLamps]">
					<div ng-show="car2.fogLamps" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.fogLamps" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamerearWiperWasher]" title="{{car2.rearWiperWasher.description}}">{{car2.rearWiperWasher.description}}	
				</div>
			</div>

			<div class="carContainerr carContainerrWidth" ng-if="has3Cars" style="border:none;min-height: 100px;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamealloyWheels]">
					<div ng-show="car3.alloyWheels" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.alloyWheels" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefrontChromeGrill]" title="{{car3.frontChromeGrill.description}}">{{car3.frontChromeGrill.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameturnIndictorOnORVM]">
					<div ng-show="car3.turnIndictorOnORVM" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.turnIndictorOnORVM" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameantenna]" title="{{car3.antenna.description}}">{{car3.antenna.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebodyColorFrontBack]" title="{{car3.bodyColorFrontBack.description}}">{{car3.bodyColorFrontBack.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoutdoorHandles]" title="{{car3.outdoorHandles.description}}">{{car3.outdoorHandles.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoRVMColor]" title="{{car3.oRVMColor.description}}">{{car3.oRVMColor.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefrontRearMudguards]" title="{{car3.frontRearMudguards.description}}">{{car3.frontRearMudguards.description}}	
				</div>
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameheadLamp]" title="{{car3.headLamp.description}}">{{car3.headLamp.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamefogLamps]">
					<div ng-show="car3.fogLamps" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.fogLamps" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamerearWiperWasher]" title="{{car3.rearWiperWasher.description}}">{{car3.rearWiperWasher.description}}	
				</div>
			</div>


		</div>

	</div>


	<div id="3"></div>
	<br>
	<div class="overViewSection">
		<div style="display: flex;border-bottom: 3px solid #d04a50;margin-bottom: 30px !important;">
			<div class="categoryHeader">Dimensions</div>
			<div class="categoryHeaderExpand">
				<div class="slide-buttonn" data-content="panel3">
				    <p><span class="panel-icon panelicon3" style="margin: auto;">+</span></p>
				</div>
			</div>
		</div>
		<div class="overVieww" id="panel3" style="display: none">
			<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]" style="border:none;">
				<div ng-repeat="sf in dimensionArray" class="eachRow" id="{{sf.name}}" title="{{sf.name}}">{{sf.name}}</div>
			</div>
			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;min-height: 100px;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallLength]" title="{{car1.overallLength.value}}">{{car1.overallLength.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallWidth]" title="{{car1.overallWidth.value}}">{{car1.overallWidth.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallHeight]" title="{{car1.overallHeight.value}}">{{car1.overallHeight.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamewheelbase]" title="{{car1.wheelbase.value}}">{{car1.wheelbase.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamekerbWeight]" title="{{car1.kerbWeight.value}}">{{car1.kerbWeight.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametyreSize]" title="{{car1.tyreSize.value}}">{{car1.tyreSize.value}} 				
				</div>
			</div>

			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;min-height: 100px;">
				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallLength]" title="{{car2.overallLength.value}}">{{car2.overallLength.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallWidth]" title="{{car2.overallWidth.value}}">{{car2.overallWidth.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallHeight]" title="{{car2.overallHeight.value}}">{{car2.overallHeight.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamewheelbase]" title="{{car2.wheelbase.value}}">{{car2.wheelbase.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamekerbWeight]" title="{{car2.kerbWeight.value}}">{{car2.kerbWeight.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametyreSize]" title="{{car2.tyreSize.value}}">{{car2.tyreSize.value}} 				
				</div>


			</div>
			<div class="carContainerr carContainerrWidth" ng-if="has3Cars" style="border:none;min-height: 100px;">
				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallLength]" title="{{car3.overallLength.value}}">{{car3.overallLength.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallWidth]" title="{{car3.overallWidth.value}}">{{car3.overallWidth.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameoverallHeight]" title="{{car3.overallHeight.value}}">{{car3.overallHeight.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamewheelbase]" title="{{car3.wheelbase.value}}">{{car3.wheelbase.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamekerbWeight]" title="{{car3.kerbWeight.value}}">{{car3.kerbWeight.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametyreSize]" title="{{car3.tyreSize.value}}">{{car3.tyreSize.value}} 				
				</div>

			</div>
		</div>
	</div>




	<div id="4"></div>
	<br>
	<div class="overViewSection">
		<div style="display: flex;border-bottom: 3px solid #d04a50;margin-bottom: 30px !important;">
			<div class="categoryHeader">Comfort</div>
			<div class="categoryHeaderExpand">
				<div class="slide-buttonn" data-content="panel4">
				    <p><span class="panel-icon panelicon4" style="margin: auto;">+</span></p>
				</div>
			</div>
		</div>
		<div class="overVieww" id="panel4" style="display: none">

			<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]" style="border:none;">
				<div ng-repeat="sf in comfortArray" class="eachRow" id="{{sf.name}}" title="{{sf.name}}">{{sf.name}}</div>
			</div>



			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameacWithHeater]">
					<div ng-show="car1.acWithHeater" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.acWithHeater" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepowerSteering]">
					<div ng-show="car1.powerSteering" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.powerSteering" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesteeringType]" title="{{car1.steeringType.description}}">{{car1.steeringType.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameelectricalFoldingORVM]">
					<div ng-show="car1.electricalFoldingORVM" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.electricalFoldingORVM" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamecLKE]">
					<div ng-show="car1.cLKE" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.cLKE" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepowerWindow]">
					<div ng-show="car1.powerWindow" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.powerWindow" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepushStart]">
					<div ng-show="car1.pushStart" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.pushStart" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameautoDoorLockBySpeed]">
					<div ng-show="car1.autoDoorLockBySpeed" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.autoDoorLockBySpeed" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedayNightIRVM]" title="{{car1.dayNightIRVM.description}}">{{car1.dayNightIRVM.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameignitionKeyReminder]">
					<div ng-show="car1.ignitionKeyReminder" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.ignitionKeyReminder" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedriverSeatHeightAdjustment]">
					<div ng-show="car1.driverSeatHeightAdjustment" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.driverSeatHeightAdjustment" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamehornType]" title="{{car1.hornType.description}}">{{car1.hornType.description}}	
				</div>



			</div>



			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameacWithHeater]">
					<div ng-show="car2.acWithHeater" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.acWithHeater" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepowerSteering]">
					<div ng-show="car2.powerSteering" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.powerSteering" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesteeringType]" title="{{car2.steeringType.description}}">{{car2.steeringType.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameelectricalFoldingORVM]">
					<div ng-show="car2.electricalFoldingORVM" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.electricalFoldingORVM" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamecLKE]">
					<div ng-show="car2.cLKE" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.cLKE" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepowerWindow]">
					<div ng-show="car2.powerWindow" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.powerWindow" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepushStart]">
					<div ng-show="car2.pushStart" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.pushStart" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameautoDoorLockBySpeed]">
					<div ng-show="car2.autoDoorLockBySpeed" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.autoDoorLockBySpeed" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedayNightIRVM]" title="{{car2.dayNightIRVM.description}}">{{car2.dayNightIRVM.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameignitionKeyReminder]">
					<div ng-show="car2.ignitionKeyReminder" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.ignitionKeyReminder" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedriverSeatHeightAdjustment]">
					<div ng-show="car2.driverSeatHeightAdjustment" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.driverSeatHeightAdjustment" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamehornType]" title="{{car2.hornType.description}}">{{car2.hornType.description}}	
				</div>
			</div>



			<div class="carContainerr carContainerrWidth" ng-if="has3Cars" style="border:none;">
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameacWithHeater]">
					<div ng-show="car3.acWithHeater" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.acWithHeater" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepowerSteering]">
					<div ng-show="car3.powerSteering" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.powerSteering" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesteeringType]" title="{{car3.steeringType.description}}">{{car3.steeringType.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameelectricalFoldingORVM]">
					<div ng-show="car3.electricalFoldingORVM" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.electricalFoldingORVM" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamecLKE]">
					<div ng-show="car3.cLKE" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.cLKE" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepowerWindow]">
					<div ng-show="car3.powerWindow" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.powerWindow" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepushStart]">
					<div ng-show="car3.pushStart" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.pushStart" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameautoDoorLockBySpeed]">
					<div ng-show="car3.autoDoorLockBySpeed" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.autoDoorLockBySpeed" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedayNightIRVM]" title="{{car3.dayNightIRVM.description}}">{{car3.dayNightIRVM.description}}	
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameignitionKeyReminder]">
					<div ng-show="car3.ignitionKeyReminder" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.ignitionKeyReminder" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedriverSeatHeightAdjustment]">
					<div ng-show="car3.driverSeatHeightAdjustment" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.driverSeatHeightAdjustment" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamehornType]" title="{{car3.hornType.description}}">{{car3.hornType.description}}	
				</div>
				
			</div>




		</div>

	</div>



	<div id="5"></div>
	<br>
	<div class="overViewSection">
		<div style="display: flex;border-bottom: 3px solid #d04a50;margin-bottom: 30px !important;">
			<div class="categoryHeader">Safety</div>
			<div class="categoryHeaderExpand">
				<div class="slide-buttonn" data-content="panel5">
				    <p><span class="panel-icon panelicon5" style="margin: auto;">+</span></p>
				</div>
			</div>
		</div>
		<div class="overVieww" id="panel5" style="display: none">

			<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]" style="border:none;">
				<div ng-repeat="sf in safetyArray" class="eachRow" id="{{sf.name}}">{{sf.name}}</div>
			</div>

			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;" >

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameairBags]">
					<div ng-show="car1.airBags" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.airBags" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameaBSwithEBD]">
					<div ng-show="car1.aBSwithEBD" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.aBSwithEBD" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameimmobilizer]">
					<div ng-show="car1.immobilizer" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.immobilizer" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamevehStabilityAssist]" title="{{car1.vehStabilityAssist.description}}">{{car1.vehStabilityAssist.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesecurityAlarm]">
					<div ng-show="car1.securityAlarm" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.securityAlarm" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedriverSeatBeltReminder]">
					<div ng-show="car1.driverSeatBeltReminder" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.driverSeatBeltReminder" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


			</div>


			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameairBags]">
					<div ng-show="car1.airBags" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.airBags" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameaBSwithEBD]">
					<div ng-show="car1.aBSwithEBD" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.aBSwithEBD" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameimmobilizer]">
					<div ng-show="car1.immobilizer" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.immobilizer" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamevehStabilityAssist]" title="{{car1.vehStabilityAssist.description}}">{{car1.vehStabilityAssist.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesecurityAlarm]">
					<div ng-show="car1.securityAlarm" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.securityAlarm" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedriverSeatBeltReminder]">
					<div ng-show="car1.driverSeatBeltReminder" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.driverSeatBeltReminder" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>
			</div>

			<div class="carContainerr carContainerrWidth" ng-if="has3Cars" style="border:none;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameairBags]">
					<div ng-show="car1.airBags" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.airBags" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameaBSwithEBD]">
					<div ng-show="car1.aBSwithEBD" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.aBSwithEBD" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameimmobilizer]">
					<div ng-show="car1.immobilizer" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.immobilizer" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamevehStabilityAssist]" title="{{car1.vehStabilityAssist.description}}">{{car1.vehStabilityAssist.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesecurityAlarm]">
					<div ng-show="car1.securityAlarm" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.securityAlarm" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedriverSeatBeltReminder]">
					<div ng-show="car1.driverSeatBeltReminder" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.driverSeatBeltReminder" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>
			</div>

		</div>

	</div>




	<div id="6"></div>
	<br>
	<div class="overViewSection">
		<div style="display: flex;border-bottom: 3px solid #d04a50;margin-bottom: 30px !important;">
			<div class="categoryHeader">Specification</div>
			<div class="categoryHeaderExpand">
				<div class="slide-buttonn" data-content="panel6">
				    <p><span class="panel-icon panelicon6" style="margin: auto;">+</span></p>
				</div>
			</div>
		</div>
		<div class="overVieww" id="panel6" style="display: none">

			<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]" style="border:none;">
				<div ng-repeat="sf in specificationArray" class="eachRow" id="{{sf.name}}" title="{{sf.name}}">{{sf.name}}</div>
			</div>

			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedisplacement]" title="{{car1.displacement.value}}">{{car1.displacement.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepower]" title="{{car1.power.value}}">{{car1.power.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametorque]" title="{{car1.torque.value}}">{{car1.torque.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametransAutomatic]" title="{{car1.transAutomatic.value}}">{{car1.transAutomatic.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametransManual]" title="{{car1.transManual.value}}">{{car1.transManual.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameturningRadius]" title="{{car1.turningRadius.value}}">{{car1.turningRadius.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesuspFront]" title="{{car1.suspFront.value}}">{{car1.suspFront.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesuspRear]" title="{{car1.suspRear.value}}">{{car1.suspRear.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebrakesFront]" title="{{car1.brakesFront.value}}">{{car1.brakesFront.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebrakesRear]" title="{{car1.brakesRear.value}}">{{car1.brakesRear.value}} 				
				</div>

			</div>


			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;">
			
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedisplacement]" title="{{car2.displacement.value}}">{{car2.displacement.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepower]" title="{{car2.power.value}}">{{car2.power.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametorque]" title="{{car2.torque.value}}">{{car2.torque.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametransAutomatic]" title="{{car2.transAutomatic.value}}">{{car2.transAutomatic.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametransManual]" title="{{car2.transManual.value}}">{{car2.transManual.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameturningRadius]" title="{{car2.turningRadius.value}}">{{car2.turningRadius.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesuspFront]" title="{{car2.suspFront.value}}">{{car2.suspFront.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesuspRear]" title="{{car2.suspRear.value}}">{{car2.suspRear.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebrakesFront]" title="{{car2.brakesFront.value}}">{{car2.brakesFront.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebrakesRear]" title="{{car2.brakesRear.value}}">{{car2.brakesRear.value}} 				
				</div>


			</div>

			<div class="carContainerr carContainerrWidth" ng-if="has3Cars" style="border:none;">
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamedisplacement]" title="{{car3.displacement.value}}">{{car3.displacement.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamepower]" title="{{car3.power.value}}">{{car3.power.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametorque]" title="{{car3.torque.value}}">{{car3.torque.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametransAutomatic]" title="{{car3.transAutomatic.value}}">{{car3.transAutomatic.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametransManual]" title="{{car3.transManual.value}}">{{car3.transManual.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameturningRadius]" title="{{car3.turningRadius.value}}">{{car3.turningRadius.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesuspFront]" title="{{car3.suspFront.value}}">{{car3.suspFront.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesuspRear]" title="{{car3.suspRear.value}}">{{car3.suspRear.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebrakesFront]" title="{{car3.brakesFront.value}}">{{car3.brakesFront.value}} 				
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamebrakesRear]" title="{{car3.brakesRear.value}}">{{car3.brakesRear.value}} 				
				</div>
			</div>

		</div>

	</div>


	<div id="7"></div>
	<br>
	<div class="overViewSection">
		<div style="display: flex;border-bottom: 3px solid #d04a50;margin-bottom: 30px !important;">
			<div class="categoryHeader">Entertainment</div>
			<div class="categoryHeaderExpand">
				<div class="slide-buttonn" data-content="panel7">
				    <p><span class="panel-icon panelicon7" style="margin: auto;">+</span></p>
				</div>
			</div>
		</div>
		<div class="overVieww" id="panel7" style="display: none">

			<div ng-class="{0:'titleAndOptions', 1:'titleAndOptionss'}[has3Cars]" style="border:none;">
				<div ng-repeat="sf in entertainmentArray" class="eachRow" id="{{sf.name}}" title="{{sf.name}}">{{sf.name}}</div>
			</div>

			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;">
				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamemusicSystem]" title="{{car1.musicSystem.description}}">{{car1.musicSystem.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesteeringMounted]">
					<div ng-show="car1.steeringMounted" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.steeringMounted" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametouchScreen]" title="{{car1.touchScreen.description}}">{{car1.touchScreen.description}}		
				</div>

				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameauxIn]">
					<div ng-show="car1.auxIn" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car1.auxIn" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

			</div>


			<div ng-class="{0:'carContainer', 1:'carContainerr'}[has3Cars]" style="border:none;">
				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamemusicSystem]" title="{{car2.musicSystem.description}}">{{car2.musicSystem.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesteeringMounted]">
					<div ng-show="car2.steeringMounted" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.steeringMounted" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametouchScreen]" title="{{car2.touchScreen.description}}">{{car2.touchScreen.description}}		
				</div>

				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameauxIn]">
					<div ng-show="car2.auxIn" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car2.auxIn" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>


			</div>

			<div class="carContainerr carContainerrWidth" ng-if="has3Cars" style="border:none;">

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamemusicSystem]" title="{{car3.musicSystem.description}}">{{car3.musicSystem.description}}		
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSamesteeringMounted]">
					<div ng-show="car3.steeringMounted" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.steeringMounted" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>

				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSametouchScreen]" title="{{car3.touchScreen.description}}">{{car3.touchScreen.description}}		
				</div>

				
				<div class="eachRow" style="margin-top: 5px;color: #000" ng-class="{0:'nohighLight', 1:'highLight'}[hasSameauxIn]">
					<div ng-show="car3.auxIn" style="margin: auto;"> 
						<img  src="images/tick.png" style="width: 20px;" onmousedown="return false"/>
					</div>
					<div  ng-show="!car3.auxIn" style="margin: auto;">
						<img src="images/cancel.png" style="width: 20px;" onmousedown="return false"/>
					</div>
				</div>
			</div>

		</div>

	</div>




</div>
<script type="text/javascript">
	$(".slide-buttonn").on('click', function()
	{
	    var panelId = $(this).attr('data-content');
	    $('#'+panelId).toggle(400);

	    $(this).find('.panel-icon').text(function(_, txt) {
	        return txt === "+" ? "-" : "+";
	    });
	});	

	function expandSpecific(id)
	{
		var panelId = "panel" + id;
		setTimeout(function() {
			$('#'+panelId).toggle(400);
			var div = $('#'+panelId).find('.panel-icon');
		    var t = '.panelicon'+id;
		    $('div').find(t).text(function(_, txt) {
		        return txt === "+" ? "-" : "+";
		    });
		}, 300);	    

	}

	function pageDataLoaded()
	{
	    setTimeout(function() {
	        $('#myDIV').fadeIn(1000)
	        /*var myDIV = document.getElementById('myDIV');
	        if (myDIV.style.display === 'none') {
	            myDIV.style.display = 'block';
	        }*/
	    }, 10);
	}


	
</script>

	
</div>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->