<link rel="stylesheet" href="styles/cardetails.css">
<link rel="stylesheet" href="styles/servicebooking.css">
<style type="text/css">
    .checkbox_empty {
        height: 20px;
        position: relative;
        top: -2px;
    }
    .button_exploree {
        position: relative;
        height: 50px;
        border: 0;
        width: 90%;
        color: #ffffff;
        background-color: #2e5db3;
        font-size: 16px;
        font-weight: bold;
    }
    
    .miniTitle:after {
        content: '';
        position: absolute;
        width: 6%;
        left: 47%;
        bottom: -5px;
        border-bottom: 3px solid #d24c42;
    }
    .testDriveLast_buttonn3{
  color: #ffffff;
  background-color: #1d3f8d;
  font-size: 16px;
  border: 1px solid #1d3f8d;
   width: 200px; 
  height: 42px;
  margin: auto;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  text-transform: uppercase;
}
</style>

<!-- <img src="{{car.car_details[0].web_car_poster_image_url}}" width="100%" class="poster_images_width" onmousedown="return false"/> -->

<div ng-if="!dataLoaded" style="margin: 50px auto; font-size: 22px;margin-top: 150px;">Just a moment...&nbsp;&nbsp;&nbsp;   
<img src="img/ring.svg" style="width: 38px;">
</div>
 


<div id="myDIV" class="fade-in" style="display: none;">



<div class="formsMenu">
<div id="title" class="title"> {{car.car_details[0].car_name}} </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div scroll-to-item scroll-to="#myOverview" class="header_font">Overview</div>
            <div scroll-to-item scroll-to="#myGallery" class="header_font">Gallery</div>
            <div scroll-to-item scroll-to="#myColor" class="header_font">Colors</div>
            <div scroll-to-item scroll-to="#myVariant" class="header_font">Variant</div>
            <div scroll-to-item scroll-to="#mySpec" class="header_font">Specifications</div>
        </div>
    </div>
</div>

<div class="carDetailsMainDiv">
  <!--   <div class="links" style="width: 91%;margin: auto;margin-bottom: -110px;">
      <a href="" ng-click="downloadBrochure(car.car_details[0].id);"> Download Car Brochure</a>
    </div> -->

    <div class="overviewDiv" id="myOverview" style="position: relative;top: 140px;">


    
        <div class="overviewDetails">



            <div class="OverViewCarImage">
                <img src="{{car.web_car_display_images.image_url}}" onmousedown="return false" style="margin: 20px auto;max-height: 360px;max-width: 597px;min-height: 150px;min-width: 200px;width: 90%;" class="" />
            </div>

            <div class="sumarry">
                <div class="sumarryContainer">
                    <div class="nameSection">
                        {{car.car_details[0].car_name}} <span>from &#8377;  {{car.car_details[0].start_price | doSort}}</span>
                        <p style="font-size: 10px;color:#000;text-transform: initial;">(
                        *Prices are indicative; Kindly contact the dealership for exact prices )
                        </p>
                    </div>

                    <table style="width: 100%; text-align: left;margin-top: 10px;">


                        <tr style="">
                            <td class="icon" width="10%">
                                <img src="assets/new_form_icons/body_type1.png" onmousedown="return false" style="width: 38px;margin-top: 10px;">
                            </td>

                            <td class="text" width="35%">
                                <span class="bold icon_text"> body type :</span>
                            </td>

                            <td class="value" width="55%">
                                {{car.car_details[0].car_type_name}}
                            </td>
                        </tr>

                        <tr>
                            <td class="icon" style="">
                                <img src="assets/new_form_icons/fueltype1.png" class="" onmousedown="return false">
                            </td>

                            <td class="text">
                                <span class="bold icon_text"> Fuel Type :</span>
                            </td>

                            <td class="value" style="">
                                <span ng-repeat="car in car.car_details[0].fuel_types">{{$first ? '' : '&nbsp;/ '}}{{car}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="icon" style="">
                                <img src="assets/new_form_icons/capacity1.png" class="" onmousedown="return false">
                            </td>

                            <td class="text">
                                <span class="bold icon_text">seating capacity :</span>
                            </td>

                            <td class="value" style="">
                                {{car.car_details[0].seating | sortCapacity}}
                            </td>
                        </tr>

                        <tr>
                            <td class="icon">
                                <img src="assets/new_form_icons/transmission1.png" class="" onmousedown="return false">
                            </td>

                            <td class="text">
                                <span class="bold icon_text">Transmission :</span>
                            </td>

                            <td class="value" style="">
                                <span ng-repeat="car in car.car_details[0].transmission">{{$first ? '' : '&nbsp;/ '}}{{car}}</span>
                            </td>
                        </tr>
                        <tr>
                        <td>
                         <img src="images/download.png" style="width: 20px" ng-click="downloadBrochure(car.car_details[0].id);">
                        </td>
                          <td class="text">
                                <span style ="white-space: nowrap;font-weight: bold;color: #1d3f8d;" class="_hyper_link">
<a href="" ng-click="downloadBrochure(car.car_details[0].id);">
                                Download Brochure
                                </a>
                                </span>
                            </td>
                        </tr>

                    </table>
                    <!-- <input type="submit" class="testDriveLast_buttonn" value="Get1 On Road Price" style="" ng-click="getPriceQuote($event, variantsToShow);" /> -->

                </div>
       
         
            </div>
        
        
        </div>

<!--  <div style="text-align:center">
    <input type="submit" class="testDriveLast_buttonn3" value="Get On Road Price" style="margin-right: 15px;margin-left: 15px;padding-left:15px;padding-right:15px"  ng-click="getPriceQuote($event, variantsToShow);" />
    <input type="submit" class="testDriveLast_buttonn3" value="Book a test drive" style="margin-right: 15px;margin-left: 15px;padding-left:15px;padding-right:15px"  ng-click="booktestdrive(car.car_details[0].id);" />
    <input type="submit" class="testDriveLast_buttonn3" value="Book Now" style="margin-right: 15px;margin-left: 15px;padding-left:15px;padding-right:15px"  ng-click="booknow(car.car_details[0]);" />
 </div> -->
       <div style="text-align: center;">
       <button class="testDriveLast_buttonn3" ng-click="getPriceQuote($event, variantsToShow);">
           Get On Road Price
       </button>
         <button class="testDriveLast_buttonn3" ng-click="booktestdrive(car.car_details[0].id);">
         Book a test drive
       </button>
         <button class="testDriveLast_buttonn3" ng-click="booknow(car.car_details[0]);">
Book Now
       </button>
      
       <!--  <button class="testDriveLast_buttonn3" ng-click="downloadBrochure(car.car_details[0].id);">
 Car Brochure
       </button> -->
       </div>
        <!-- <div class="col-lg-12 col-md-12 col-xs-3 col-sm-12" style="left: 20%;
         display: grid; 
        margin-bottom: 120px;">
            <div style=" padding-right:10px; float: left;">
                <input type="submit" class="testDriveLast_buttonn" value="Get1 On Road Price" style="" ng-click="getPriceQuote($event, variantsToShow);" />
            </div>
            <div style=" padding-right:10px; float: left;">
                <input type="submit" class="testDriveLast_buttonn" value="Get1 On Road Price" style="" ng-click="getPriceQuote($event, variantsToShow);" />
            </div>
            <div style=" padding-right:10px; float: left;" class="center-block">
                <input type="submit" class="testDriveLast_buttonn" value="Get1 On Road Price" style="" ng-click="getPriceQuote($event, variantsToShow);" />
            </div>
        </div> -->
        <br>
        <br>
    </div>


    <div class="gallery" id="myGallery">
        <div class="title miniTitle" style="position: relative;">
                Gallery
        </div>
        <div class="sliderContainer">
            <div class="slideSelector">
                <div class="interior" ng-click="changeSliderContent('int');" style="border-bottom: 1px solid #ededed;">
                    <div class="aboveImage">Interior<br>
                        <div class="aboveImageCount">({{interiorCount}} Images)</div>
                    </div>
                    <img ng-src="{{firstInt.image.img}}" style="width: 100%;height: 100%;" onmousedown="return false">
                </div>
                <div class="exterior" ng-click="changeSliderContent('ext');">
                    <div class="aboveImage">Exterior<br>
                        <div class="aboveImageCount">({{exteriorCount}} Images)</div>
                    </div>
                    <img ng-src="{{firstExt.image.img}}" style="width: 100%;height: 100%;" onmousedown="return false">
                </div>
            </div>
            <div class="slider">
                <img ng-repeat="slide in slideContent track by $index" class="slide bannerSliderImage" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image.img}}" style="width: 100%;height: 100%;" onmousedown="return false">
                <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
                <a class="arrow next" href="#" ng-click="prevSlide()"></a>
                <!-- <nav class="nav">
              <div class="wrapper">
                  <ul class="dots">
                      <li class="dot" ng-repeat="slide in interior">
                          <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.number}}</a>
                      </li>
                  </ul>
              </div>
          </nav> -->
                <!-- <div class="sliderLowerDiv">
            
          </div> -->
            </div>
        </div>
        <div id="myColor"></div>
    </div>


    <div class="colors" style="margin: 75px auto;">
        <div class="title miniTitle" style="position: relative;">
            <!-- {{car.car_details[0].car_name}} -->Colors
            </div>

        <div class="colorList">

            <div class="colorListImageDIv">
                <img src="{{initialImage}}" style="width: 75%;margin: 10% auto;">
            </div>

            <div class="colorListPalletList">
                <table>
                    <tr ng-repeat="color in web_colors" class="colorTr" id="colorRow" ng-click="changeColor(color);">
                        <td>
                            <img src="{{color.colorPalletImage}}" class="imgcircle">
                        </td>
                        <td class="colorText">
                            <p>{{color.colorName}}</p>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>




    <div class="variants" style="margin: 75px auto;" id="myVariant">
        <!-- <div style="position: fixed;right: 5px;top: 50%;max-width: 120px;min-width: 120px;" ng-show="showCompareButton">
            <button class="button_explore" ng-click="goToCompare(car.car_details[0].id);">Compare</button>
        </div> -->
        <div class="title miniTitle" style="margin-bottom: 5px !important;margin-top: 40px !important;position: relative;">
            <!-- {{car.car_details[0].car_name}} -->Variants</div>
        <div class="variantsMenu">
            <div class="menu" style="margin-top: 10px;margin-bottom: 15px;">
                <div class="menuContent smallscreen">

                    <div>
                        <span ng-click="filter('a')" class="header_font" style="border-bottom: 4px solid #4e69a6;">All</span>
                    </div>

                    <div ng-repeat="t in finaltransmission | unique:'transmission'">
                        <span ng-click="filter('tr', t.transmission)" class="header_font" style="border-bottom: 4px solid #4e69a6;">{{t.transmission}}</span>
                    </div>

                    <div ng-repeat="f in finalfueltype | unique:'fuel_type'">
                        <span ng-click="filter('fu', f.fuel_type)" class="header_font" style="border-bottom: 4px solid #4e69a6;">{{f.fuel_type }}</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="variantMainDiv">


            <div ng-repeat="variant in variantsToShow" class="variantDiv">

                <div class="variantDivtext" style="text-overflow: ellipsis;width: 13em;overflow: hidden;white-space: nowrap;color: #1d3f8d ;">{{variant.variant.variant_name}}</div>
                <div class="variantDiv2">
                    <div style="width: 65%;font-size: 13px;">{{variant.variant.transmission_type}}, {{variant.variant.fuel_type}}</div>
                    <div class="" style="display: flex;width: 50%">
                        <span class="checkbox-text"> 
                <img src="images/checkbox_empty.png" ng-show="!unchecked" class="checkbox_empty" ng-click="isCarSelected(variant.variant.id);unchecked = !unchecked" onmousedown="return false" /> 
                <img src="images/checkbox_checked.png" ng-show="unchecked" class="checkbox_empty" ng-click="isCarSelected(variant.variant.id);unchecked = !unchecked"  onmousedown="return false" /> &nbsp;&nbsp;Compare
              </span>
                    </div>
                </div>
                <div class="variantDiv3" style="color: #000;">
                    &#8377; {{variant.variant_price[0].values[0].price_field_value | doSort}}
                </div>
                <div class="variantDiv5">
                    <a ng-click="showPriceModal($event, variant);" style="color: #000;" ng-href="#">Showroom Price</a>
                </div>
                <div class="variantDiv5">
                    <a ng-click="showFeatureModal($event, variant);" style="color: #000;" ng-href="#">Feature ShowCase</a>
                </div>               

            </div>

        </div>

        <div style="position: fixed;right: 0;top: 50%;max-width: 250px;min-width: 250px;z-index: 10;" ng-show="showCompareButton">
            <button class="button_explore" ng-click="goToCompare(car.car_details[0].id);">Compare</button>
        </div>
        <!-- <div  style="max-width: 250px; margin: 60px auto;">
                <button class="button_exploree" ng-show="showCompareButton" ng-click="goToCompare(car.car_details[0].id);">Compare Variants</button>  
                <button class="button_exploree" ng-show="!showCompareButton" style="background-color: #c7c7c7 !important;" ng-hide="showCompareButton" disabled>Compare Variants</button>
            </div> -->
    </div>

    <style type="text/css">
        .featureShowCaseMainDiv {
            min-height: 100px;
            margin: auto;
            min-width: 100px;
            width: 100%;
        }

        .colSC {
            display: inline-block;
            width: 33.33%;
            vertical-align: top;
            text-transform: capitalize;
            padding: 5px;
            text-align: left;
        }
    </style>


    <div class="technicalSpec" style="margin: -45px auto 55px;" id="mySpec">
        <div class="techSpeclinks">
           
        </div>
        <div class="header-spec">
            <div class="title miniTitle" style="position: relative;">Specifications<br>
            <!-- <a ng-click="downloadBrochure(car.car_details[0].id);" style="cursor: pointer;">Download Brochure</a> -->
            </div>

            <div ng-repeat="item in car.technical_specifications" style="width: 90%;margin: auto;">
                <div style="border: 1px solid #ededed;">
                    <div>
                        <div class="car_tech_title" style="background-color: #f3f3f3 !important;">{{item.specification_type}}</div>
                    </div>
                    <table style="width: 100%;">
                        <tr ng-repeat="single in item.values" style="border-bottom: 1px solid #f3f3f3;">
                            <td style="width: 50%; text-transform: capitalize;padding: 5px;text-align: left;">{{single.specification_sub_name}}</td>
                            <td style="width: 50%; text-transform: capitalize;padding: 5px;text-align: left;">{{single.value}}</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>

</div>

<style type="text/css">
    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
    ._hyper_link:hover{
text-decoration: underline !important;
    }
</style>

<script type="text/javascript">

function pageDataLoaded()
{
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        /*var myDIV = document.getElementById('myDIV');
        if (myDIV.style.display === 'none') {
            myDIV.style.display = 'block';
        }*/
        viewReady();
    }, 500);
}


    /*var windowWidth = $(window).width();
    $(window).resize(function(){
        windowWidth = $(window).width();
    });
    $(window).scroll(function() {
        var currentScroll = $(window).scrollTop();

        if(windowWidth > 768 && windowWidth < 992)
        {
          if (currentScroll >= 150) {
              $('.fixme').css({
                  'position': 'fixed',
                  'top': '55px',
                  'margin': 'auto',
                  'z-index': '9999',
                  'background-color': 'white',
                  'width':'80%',

              });
          } else {
              $('.fixme').css({
                'width':'100%',
                 position: 'static'
              });
          }
        } 

        if(windowWidth > 320 && windowWidth < 767)
        {
          if (currentScroll >= 150) {
              $('.fixme').css({
                  'position': 'fixed',
                  'top': '55px',
                  'margin': 'auto',
                  'z-index': '9999',
                  'background-color': 'white',
                  'width':'100%',

              });
          } else {
              $('.fixme').css({
                'width':'100%',
                 position: 'static'
              });
          }
        }

        if(windowWidth >= 992)
        {
          if (currentScroll >= 120) {
              $('.fixme').css({
                  'position': 'fixed',
                  'top': '60px',              
                  'z-index': '9999',
                  'background-color': 'white',
                  'max-width':'1200px !important',
                  'width':'950px',
                  'margin': 'auto',
              });
              $('.menu').css({
                  'margin-top': '0px'
              });
          } else {
              $('.fixme').css({
                 position: 'static'
              });
          }
        }   



    });*/
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->