<link rel="stylesheet" href="styles/servicebooking.css">
<link rel="stylesheet" href="styles/career.css">

<div id="myDIV" class="fade-in" style="display: none;">
<div class="testDriveFormContainer">
	<h3 class="" style="text-transform: capitalize;margin-top: 50px;"><span style="border-bottom: 2px solid #d24c42;">CAREERS</span></h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->
	<div class="mainTD mainMargin cMain" ng-if="jobList">	
	  <div class="cSubMain">
		<table>
		  <tr>
		    <th>SI.No</th>
		    <th>Jobs</th>
		    <th>Location</th>
		    <th>Date</th>
		  </tr>
		  <tr ng-repeat="content in jobList" ng-class-odd="'odd-color'" ng-class-even="'even-color'">
		    <td class="cColumn">{{$index + 1}}</td>
		    <td class="cColumn cjov-title" ng-click="getForm(content)">{{content.title}}</td>
		    <td class="cColumn">{{content.location }}</td>
		    <td class="cColumn">{{content.updated_at | updatedDate}}</td>
		  </tr>
		</table>
	  </div>	
	</div>
	<div class="tdBelowDividerText" ng-if="showMessege" style="font-size: 15px;">
		<div>There are no job openings currently. Please email your resume to <span style="color:#2B3D61;font-weight: bold;">hrlr@dakshinhonda.com
		</span> for any future opening.</div>
	</div>
</div>

</div>
<style type="text/css">
	.testDriveFormContainer
	{
		margin-top: 35px !important;
	}
    .fade-in {
	  opacity: 0;
	  animation: fadeIn .5s ease-in 1 forwards;
	}
</style>
<script type="text/javascript">
    setTimeout(function() {
    	$('#myDIV').fadeIn(1500);
    }, 500);
</script>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
 
 -->
