<link rel="stylesheet" href="styles/servicebooking.css">
	<style type="text/css">
		td {
			padding: 6px 15px;
			text-align: justify;
		}

		.testDriveFormContainer
		{
			margin-top: 120px !important;
		}

		.mainMargin {
		    margin-top: 10px !important;
		}
	</style>
<div id="myDIV" class="fade-in" style="display: none;">

<div class="testDriveFormContainer">
<h3 class="c-jobtitle"><span style="border-bottom: 2px solid #d24c42;">Job title : {{jobDetails.title}}</span></h3>
<br>
<div class="tdBelowDividerText" ng-controller="headCtrl">
<div ng-show="!hideLogin">Click here to <a ng-click="showLogin($event)" ng-href="#">Login</a></div>
	</div>


<form name="userForm" ng-submit="sendCv()" novalidate>
    <div class="mainMargin mainTD cmain" style="width: 100%;">
	    <div class="leftMainTd cdesc">
	       <div class="c-container" style="padding: 5px;border: 1px solid #ededed;">
	          <table >
	            <tr>
	              <td><!-- Job Specification :- -->
	              </td>
	            </tr>
	            <tr ng-show="jobDetails.interview">
	              <td><span class="c_header">Job Title : </span><br>{{jobDetails.title}}
	              </td>
	            </tr>
	            <tr ng-show="jobDetails.required_skills">
	              <td><span class="c_header">Description : </span><br/>{{jobDetails.required_skills | req_skills}}
	              </td>
	            </tr>
	            <tr ng-show="jobDetails.technologies_required">
	              <td><span class="c_header">Desired Skills : </span><br>{{jobDetails.technologies_required}}
	              </td>
	            </tr>
	            <tr ng-show="jobDetails.experience_required">
	              <td><span class="c_header">Experience : </span><br>{{jobDetails.experience_required}}
	              </td>
	            </tr>
	            <tr ng-show="jobDetails.location">
	              <td><span class="c_header">Work Location :</span> <br>{{jobDetails.location}}
	              </td>
	            </tr>
 	            <tr ng-show="jobDetails.note">
	              <td><span style="font-size: 18px;color: #363636;">Note : </span><br>{{jobDetails.note}}
	              </td>
	            </tr>
	            <!--<tr ng-show="jobDetails.notice_period">
	              <td><span style="font-size: 18px;color: #363636;">Notice Period : </span><br>{{jobDetails.notice_period}}
	              </td>
	            </tr> -->
	          </table>
	       </div>
	    </div>
	    <div class="rightMainTd" style="margin-left: 0 !important;margin-right: 0 !important;">
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':name==true}">Name*</div> -->
				<div class="inputArea" ng-class="{'text-box':name==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valname" id="userName" ng-model="careerData.name" class="inputText" ng-click="name=true" ng-blur="name=false" ng-required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
				</div>
				    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
				    <br>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div> -->
				<div class="inputArea" ng-class="{'text-box':email==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="email" name="valEmail" id="userEmail" ng-model="careerData.email" class="inputText" ng-click="email=true" ng-blur="email=false" ng-required="true" tabindex="2" placeholder="Email Id*">
				</div>
			    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
			    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div><br>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':address==true}">Write your cover letter</div> -->
				<div class="inputArea" ng-class="{'text-box':address==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon cover"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<textarea class="inputText" name="valAddress" id="userAddress" rows="4" ng-model="careerData.cover_letter" cols="50" ng-click="address=true" ng-blur="address=false" tabindex="3" placeholder="Write your cover letter (If Any)"></textarea>
					</div>
				    <!-- <div class="validation" ng-show="submitted && userForm.valAddress.$error.required">cover letter is required*</div> -->
			</div>	

			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Mobile Number</div> -->
				<div class="inputArea" ng-class="{'text-box':phone==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valPhone" id="userPhone" ng-model="careerData.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" tabindex="4" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}" placeholder="Mobile Number*" required>
				</div>		
				<div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
			    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Mobile Number should be 10 digits*</div>
			    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Mobile Number should be 10 digits*</div>	<br>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':comp==true}">Current Company</div> -->
				<div class="inputArea" ng-class="{'text-box':comp==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/city.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valCompany" id="userCompany" ng-model="careerData.current_company" class="inputText c-input" ng-click="comp=true" ng-blur="comp=false" tabindex="5" placeholder="Current Company">
				</div>		<br>	
			</div>
			<div class="outerMostInput" style="margin-bottom: 50px;">
				<div class="labelSection" ng-class="{'text-label':model==true}">Experience*</div>
				<div class="inputArea exp-year" ng-class="{'text-box':model==true}">
				   <select class="inputText" id="mt0" name="valYear" ng-model="careerData.experience_years" ng-click="model=true" ng-blur="model=false" ng-required="true" tabindex="6">
					  <option value="">Years</option>
					  <option ng-repeat="modelData in years" value="{{modelData}}">{{modelData}}</option>	 
				   </select> 
				</div>
				<div class="inputArea exp-month" ng-class="{'text-box':model==true}">
					<select class="inputText" id="mt0" name="valMonth" ng-model="careerData.experience_months" ng-click="model=true" ng-blur="model=false" ng-required="true"  tabindex="7">
					  <option value="">Months</option>
					  <option ng-repeat="modelData in months" value="{{modelData}}">{{modelData}}</option>	 
					</select> 
				</div>
			    	<div class="validation" ng-show="submitted &&(userForm.valYear.$error.required || userForm.valMonth.$error.required)">Field is required*</div><br>
			</div>	
			<div class="outerMostInput">
				<div class="labelSection" ng-class="{'text-label':cv==true}">Upload Cv*</div>
				<div class="inputArea" ng-class="{'text-box':cv==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/upload.svg" class="upload-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" style="height: auto;" onmousedown="return false">
					<input type="file" ng-model="image" name="files" required base-sixty-four-input class="inputImage inputfile" onchange="updateImage();" id="uploadImage" tabindex="8" accept="application/pdf">
				</div>		
				<p><small>*Upload PDF only</small></p>
			    <div class="validation" ng-show="submitted && userForm.files.$error.required">Cv is required*</div>	
			    <br>
			</div>
            <input type="submit" class="testDriveLast_button" value="SUBMIT" ng-click="submitted=true" />
		</div>	
    </div>
</form>
</div>

</div>
<style type="text/css">
    .fade-in {
	  opacity: 0;
	  animation: fadeIn .5s ease-in 1 forwards;
	}
</style>
<script type="text/javascript">
    setTimeout(function() {
    	$('#myDIV').fadeIn(1500);
    }, 500);
</script>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  -->



