<link rel="stylesheet" href="styles/car.css">
<link rel="stylesheet" href="styles/preused_cars_filter.css">
<script type="text/javascript">
    /*
                type: 'alert', // success, error, warning, information, notification
                */

    //callnotify('msg', 'success');
</script>
<style type="text/css">
    .button_exploree {
        position: relative;
        height: 50px;
        border: 0;
        width: 90%;
        color: #ffffff;
        background-color: #2e5db3;
        font-size: 16px;
        font-weight: bold;
    }

    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
    .car_detail {
        margin-bottom: 20px !important;
    }

    @media (max-width: 992px) and (min-width: 320px)
    {
        .carsTitle {
            margin-top: 57px !important;
        }
    }

    .active
    {
        text-transform: uppercase !important;
    }

    @media (max-width: 500px) and (min-width: 320px)
    {
        div.tab button
        {
            font-size: 14px;
        }
    }



</style>

<div ng-if="!dataLoaded" style="margin: 50px auto; font-size: 22px;margin-top: 150px;">Just a moment...&nbsp;&nbsp;&nbsp;   
<img src="img/ring.svg" style="width: 38px;">
</div>


<div id="myDIV" class="fade-in" style="display: none;">


<div>
    <div class="carsTitle">Cars</div>
    <div class="tab">
        <button id="new" class="tablinks" onclick="openCity(event, 'newCar')">New Car</button>
        <button id="taxi" class="tablinks" onclick="openCity(event, 'taxiCar')">Taxi</button>
        <button id="old" class="tablinks" onclick="openCity(event, 'usedCar')">Auto Terrace</button>
    </div>
</div>




<div id="newCar" class="tabcontent">
    <div class="mainCarsDiv">
        <div class="variants" style="margin: 25px auto;" id="myVariant">
            <div style="max-width: 300px; margin: auto;float: right;">
            </div>
            <div class="variantMainDiv">
                <div ng-repeat="car in carsList" class="variantDiv" ng-if="car.car_name!='others'">
                    <div class="car_detail">
                        <div style="text-align: center;width: 100%; margin: 0px auto 10px;height: 80px;padding: 15px;">

                            <img src="{{car.web_display_car_image.image_url}}" alt="" class="carimg" onmousedown="return false" style="width: 100%;height: 145px;" />

                        </div>

                        <div style="background-color: #ededed;border: 1px solid #d6d6d6;padding: 10px;">

                            <div style="text-align: center;width: 100%; margin: 0px auto 20px;height: 40px;padding: 10px;">

                                <!-- <img src="{{car.display_image_url}}" alt="" class=""  onmousedown="return false" style="width: 100%" /> -->

                            </div>
                            <div style="height: 205px;padding: 10px;">
                                <div style="width: 100%;margin: auto;">
                                    <div class="" style="float: left;font-size: 16px;">{{car.car_name}}</div>
                                    <div class="" style="float: right;font-size: 14px;color: #686868;">{{car.car_type}}</div>
                                </div>
                                <img src="images/ncd.png" style="width: 100%;">
                                <!-- <br> -->
                                <div class="" style="margin: 10px auto;">

                                    <div style="font-size: 18px;color: #cc1319;">₹{{car.price | doSort}}*</div>

                                    <span class="compare_box">
                    <img src="images/checkbox_empty.png" ng-show="!checked" class="checkbox_empty" ng-click="isCarSelected(car.id);checked = !checked" onmousedown="return false"/> 
                    <img src="images/checkbox_checked.png" ng-show="checked" class="checkbox_empty" ng-click="isCarSelected(car.id);checked = !checked"  onmousedown="return false"/> Compare
                  </span>

                                </div>
                                <div class="" style="text-transform: capitalize;width: 110%;">
                                    <span class="" style="color: #686868;">Transmission : </span>
                                    <span ng-repeat="x in car.transmission" class="">
                  {{$first ? '' : '&nbsp;/ '}}{{x}}
                  </span>
                                </div>

                                <div class="" style="text-transform: capitalize;">
                                    <span class="" style="color: #686868;">Fuel type : </span>
                                    <span ng-repeat="x in car.fuel_types" class="">{{$first ? '' : '&nbsp;/ '}}{{x}}</span>
                                </div>


                                <div style="width: 100%;margin: 10px auto;">
                                    <button class="button" ng-click="cardetails(car.id, 0)">Explore</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- <div style="color: #d24c42;margin: 5px auto;">*Ex-Showroom Price</div> -->
        <div style="position: fixed;right: 0;top: 50%;max-width: 250px;min-width: 250px;z-index: 10;" ng-show="showCompareButton">
            <button class="button_explore" ng-click="goToCompare();">Compare</button>
        </div>
        <!-- <div  style="max-width: 250px; margin: 60px auto;">
            <button class="button_exploree" ng-show="showCompareButton" ng-click="goToCompare();">Compare Cars</button>  
            <button class="button_exploree" ng-show="!showCompareButton" style="background-color: #c7c7c7 !important;" ng-hide="showCompareButton" disabled>Compare Cars</button>
        </div> -->
    </div>
</div>

<div id="taxiCar" class="tabcontent">
    <div class="mainCarsDiv">
        <div class="variants" style="margin: 25px auto;" id="myVariant">
            <div style="max-width: 300px; margin: auto;float: right;">
            </div>
            <div class="variantMainDiv">
             <h4>
             No Cars Available
             </h4>
            <div ng-if="taxiCarsList.length==0">
 
            </div>
            <div ng-if="taxiCarsList.length>0">
                <div ng-repeat="car in taxiCarsList" class="variantDiv" ng-if="car.car_name!='others'">
                    <div class="car_detail">
                        <div style="text-align: center;width: 100%; margin: 0px auto 10px;height: 80px;padding: 15px;">

                            <img src="{{car.web_display_car_image.image_url}}" alt="" class="carimg" onmousedown="return false" style="width: 100%;height: 145px;" />

                        </div>

                        <div style="background-color: #ededed;border: 1px solid #d6d6d6;padding: 10px;">

                            <div style="text-align: center;width: 100%; margin: 0px auto 20px;height: 40px;padding: 10px;">

                                <!-- <img src="{{car.display_image_url}}" alt="" class=""  onmousedown="return false" style="width: 100%" /> -->

                            </div>
                            <div style="height: 205px;padding: 10px;">
                                <div style="width: 100%;margin: auto;">
                                    <div class="" style="float: left;font-size: 16px;">{{car.car_name}}</div>
                                    <div class="" style="float: right;font-size: 14px;color: #686868;">{{car.car_type}}</div>
                                </div>
                                <img src="images/ncd.png" style="width: 100%;">
                                <!-- <br> -->
                                <div class="" style="margin: 10px auto;">

                                    <div style="font-size: 18px;color: #cc1319;">₹ {{car.price | doSort}}*</div>

                                    <span class="compare_box">
                    <img src="images/checkbox_empty.png" ng-show="!checked" class="checkbox_empty" ng-click="isCarSelected(car.id);checked = !checked" onmousedown="return false"/> 
                    <img src="images/checkbox_checked.png" ng-show="checked" class="checkbox_empty" ng-click="isCarSelected(car.id);checked = !checked"  onmousedown="return false"/> Compare
                  </span>

                                </div>
                                <div class="" style="text-transform: capitalize;width: 110%;">
                                    <span class="" style="color: #686868;">Transmission : </span>
                                    <span ng-repeat="x in car.transmission" class="">
                  {{$first ? '' : '&nbsp;/ '}}{{x}}
                  </span>
                                </div>

                                <div class="" style="text-transform: capitalize;">
                                    <span class="" style="color: #686868;">Fuel type : </span>
                                    <span ng-repeat="x in car.fuel_types" class="">{{$first ? '' : '&nbsp;/ '}}{{x}}</span>
                                </div>


                                <div style="width: 100%;margin: 10px auto;">
                                    <button class="button" ng-click="cardetails(car.id, 1)">Explore</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
        <!-- <div style="color: #d24c42;margin: 5px auto;">*Ex-Showroom Price</div> -->
        <div style="position: fixed;right: 0;top: 50%;max-width: 250px;min-width: 250px;z-index: 10;" ng-show="showCompareButton">
            <button class="button_explore" ng-click="goToCompare();">Compare</button>
        </div>
       <!-- <div  style="max-width: 250px; margin: 60px auto;">
            <button class="button_exploree" ng-show="showCompareButton" ng-click="goToCompare();">Compare Cars</button>  
            <button class="button_exploree" ng-show="!showCompareButton" style="background-color: #c7c7c7 !important;" ng-hide="showCompareButton" disabled>Compare Cars</button>
        </div> -->
    </div>
</div>

<div id="usedCar" class="tabcontent">
    <div class="mainCarsDiv">
        <div ng-if="usedcarsPresent == 0" style="margin: 20px auto;font-size: 18px;color: rgba(50, 48, 49, 0.68);">Sorry, No Pre Owned Cars.</div>



        <style type="text/css">
        .checkbox_emptyy {
                height: 30px;
                width: 30px;
                border: 0px !important;
                margin-top: -4px !important;
                background-image: url("images/checkbox_empty.png");
                background-repeat: no-repeat;
                background-position: center;
          }
          .checkbox_checkedd {
                height: 30px;
                width: 30px;
                border: 0px !important;
                margin-top: -4px !important;
                background-image: url("images/checkbox_checked.png");
                background-repeat: no-repeat;
                background-position: center;
          }
          input[type="checkbox"] {
            display: none;
          }

          .rz-active:after {
            background-color: #d04a50 !important;
          }
        </style>
<div ng-controller="Preused_filterCtrl" ng-init="getparameter()">


      <div  style="margin: 50px auto;">
          <div class="shell text-md-left mobile-view">
            <div class="range text-md-left range-xs-center">
              <div class="cell-xs-10 cell-sm-8 cell-md-4  cell-md-push-1" style="padding: 0;">
                <div class="inset-lg-left-30 inset-md-left-15" style="padding: 0;">
                  <div class="cell-xs-12 cell-xs-push-1 cell-md-push-1 left-filter">
                    <table style="width: 100%;">
                      <tr>
                        <td class="my">Filter By <img src="images/cardetails/refresh.png" class="filter-refresh" ng-click="value=false;reFresh()" onmousedown="return false"/> </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: yearplus}">Year<img src="images/cardetails/{{show0}}.png" class="filter-plus" ng-click="showdetail('show0', 'yearplus')"  ng-class="{minusicon: yearplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="yearplus">
                        <td class="mytd center">
                          <rzslider
                              rz-slider-model="car_year1.min"
                              rz-slider-high="car_year1.max"
                              rz-slider-options="car_year1.options">
                          </rzslider>
                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: kmplus}">km driven<img src="images/cardetails/{{show1}}.png" class="filter-plus" ng-click="showdetail('show1', 'kmplus')"  ng-class="{minusicon: kmplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="kmplus">
                        <td class="mytd center">
                          <rzslider
                              rz-slider-model="car_km1.min"
                              rz-slider-high="car_km1.max"
                              rz-slider-options="car_km1.options">
                          </rzslider>
                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: priceplus}">Price<img src="images/cardetails/{{show2}}.png" class="filter-plus" ng-click="showdetail('show2', 'priceplus')"  ng-class="{minusicon: priceplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="priceplus">
                        <td class="mytd center">
                          <rzslider
                              rz-slider-model="car_price1.min"
                              rz-slider-high="car_price1.max"
                              rz-slider-options="car_price1.options">
                          </rzslider>
                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: brandplus}">Brand & Model <img src="images/cardetails/{{show3}}.png" class="filter-plus" ng-click="showdetail('show3', 'brandplus')"  ng-class="{minusicon: brandplus}" onmousedown="return false"/> </td>
                      </tr>
                       <tr ng-if="brandplus">
                        <td class="mytd">
                          <input type="text" name="search" class="search-box" placeholder="Search">  
                            <div id="scrollArea">
                                <span class="checkbox-text" ng-repeat="carname in allBrand"> 

                                  <div  style="display: flex;min-width: 157px;">
                                    <label class="residence move-top">

                                      <input type="checkbox" id="filterBrand" ng-click="selectedBrandName(carname.brand_name)" ng-model="carfuel_ids[carname.brand_name]" ng-checked="carfuel_ids[carname.brand_name]" />
                                      <span class="chekbox-css" ng-class="carfuel_ids[carname.brand_name] ? 'checkbox_checkedd' : 'checkbox_emptyy'"></span>

                                    </label>&nbsp;&nbsp;{{carname.brand_name}}&nbsp;({{carname.cars.length}})
                                  </div>

                                  <div class="expand-checkbox" ng-if="carfuel_ids[carname.brand_name]">

                                    <span class="checkbox-text" ng-repeat="(key, value) in carname.cars | groupBy:'car_model_name'"> 
                                      <label class="residence move-top">

                                       <input type="checkbox" id="filterModel" ng-class="{'ameo-check': (key == 'New Polo')}" ng-click="selectedModelName(key)" ng-model="carfuel_ids[key]" ng-checked="carfuel_ids[key]" />
                                        <span class="chekbox-css" ng-class="carfuel_ids[key] ? 'checkbox_checkedd' : 'checkbox_emptyy'"></span>

                                      </label>&nbsp;&nbsp;<p class="key">{{key}}</p>&nbsp;({{value.length}})
                                    </span>

                                  </div> 

                              </span>
                            </div> 
                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: fuelplus}">Fuel Type <img src="images/cardetails/{{show4}}.png" class="filter-plus" ng-click="showdetail('show4', 'fuelplus')"  ng-class="{minusicon: fuelplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="fuelplus">
                        <td class="mytd">

                          <span class="checkbox-text" ng-repeat="carfuel in car_fuel"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[carfuel]" ng-click="selectedFuelType(carfuel)" ng-checked="carfuel_ids[carfuel]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[carfuel] ? 'checkbox_checkedd' : 'checkbox_emptyy'"></span>
                            </label>&nbsp;&nbsp;{{carfuel}}&nbsp;({{countFuel[carfuel]}})
                          </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: transplus}">Transmission<img src="images/cardetails/{{show5}}.png" class="filter-plus" ng-click="showdetail('show5', 'transplus')"  onmousedown="return false" ng-class="{minusicon: transplus}"/> </td>
                      </tr>
                      <tr ng-if="transplus">
                        <td class="mytd">

                          <span class="checkbox-text" ng-repeat="cartrans in car_transmission"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[cartrans]" ng-click="selectedTransmission(cartrans)"  ng-checked="carfuel_ids[cartrans]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[cartrans] ? 'checkbox_checkedd' : 'checkbox_emptyy'"></span>
                            </label>&nbsp;&nbsp;{{cartrans}}&nbsp;({{transTransmission[cartrans]}})
                          </span>

                        </td>
                      </tr>

                      <tr>
                        <td class="mytd" ng-class="{hideborder: ownerplus}">Ownership & Certification<img src="images/cardetails/{{show7}}.png" class="filter-plus" ng-click="showdetail('show7', 'ownerplus')"  onmousedown="return false" ng-class="{minusicon: ownerplus}"/> </td>
                      </tr>
                      <tr ng-if="ownerplus">
                        <td class="mytd">

                          <span class="checkbox-text"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[value]" ng-click="selectedOwner(1)"  ng-checked="carfuel_ids[1]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[value] ? 'checkbox_checkedd' : 'checkbox_emptyy'"></span>
                            </label>&nbsp;&nbsp;1st OwnerShip&nbsp;({{first_owner[true]}})
                          </span>

                          <span class="checkbox-text"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[true]" ng-click="selectedCertified(true)" ng-checked="carfuel_ids[true]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[true] ? 'checkbox_checkedd' : 'checkbox_emptyy'"></span>
                            </label>&nbsp;&nbsp;Certified&nbsp;({{certified.true}})
                          </span>

                        </td>
                      </tr>
                    </table> 
                          <button class="button_explore enquire apply"
                           ng-click="showmessege=true;sendData()">APPLY</button>
                  </div>
                </div>
              </div>

              <div class="cell-xs-10 cell-md-8 cell-md-push-2 offset-top-90 offset-md-top-0" style="padding: 0;" ng-controller="CarsCtrl">
                <div data-photo-swipe-gallery="gallery" class="row">
                  <div data-filter="Gallery 1" class="col-xs-12 col-sm-6 pre-car-width isotope-item filter-div" ng-repeat="car in usedcarlist">
                      <div class="col-md-33">
                        <div  ng-show="car.used_car_images.length == 0" >

                          <img src="img/noCar.png"  alt="" class="img-responsive myimg" style="padding: 0;max-height: 195px !important;"  onmousedown="return false"/>

                        </div>


                        <div  ng-repeat="x in car.used_car_images" ng-if="car.used_car_images">

                          <img src="{{apiUrl}}{{x.image_url}}" ng-if="$index == 0" alt=""  class="img-responsive myimg" style="padding: 0;max-height: 195px !important;"  onmousedown="return false"/>

                          <img src="images/blackpatch.png" class="blackpatch img-responsive" ng-click="openLightboxModal($index, car.used_car_images)" ng-if="$index == 0" onmousedown="return false"/>

                        </div>


                        <table style="width: 100%;" style="text-transform: capitalize !important;text-align: left !important;">
                          <tr>
                            <th class="car-th th-1">{{car.car_model}}</th>
                            <th class="price-amount car-th th-2"><img src="images/rupee.png" class="icon" onmousedown="return false"/>{{car.price}}</th>
                          </tr>
                          <tr>
                            <td class="car-td">Model: <span style="text-transform: capitalize;">{{car.car_model_name}} - {{car.car_variant}}</span></td>
                            <td class="car-td">Color: <span>{{car.color}}</span></td>
                          </tr>
                          <tr>
                            <td class="car-td">Year: <span>{{car.car_year}}</span></td>
                            <td class="car-td">Fuel: <span>{{car.fuel_type}}</span></td>
                          </tr>
                          <tr>
                            <td class="car-td">Kilometer: <span>{{car.kms}}</span></td>
                            <td class="car-td">No. of Owners: <span>{{car.ownership}}</span></td>
                          </tr>
                          <tr>
                            <td class="car-td">Transmission: <span>{{car.transmission}}</span></td>
                            <td class="car-td">Under Warranty: 
                            <span ng-if="car.under_warranty == true">Yes</span>
                            <span ng-if="car.under_warranty == false">No</span>
                            </td>
                          </tr>
                        </table>  
                          <button class="button_explore enquire" ng-click="enquireUsedCar(car)">ENQUIRE</button>
                      </div>   
                  </div>
                  <div class="info_div" style="margin-top: 50px;" ng-if="showmessege">
                    <p class="info">No results found.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>      

</div>





    </div>
</div>



</div>
<div id="elemt"></div>
<script>
    function openCity(evt, title) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(title).style.display = "block";
        evt.currentTarget.className += " active";
        if (title == 'usedCar') {
            localStorage.setItem("carOption", "old");
        }
        else if (title == 'taxiCar') {
            localStorage.setItem("carOption", "taxi");
        }
        else {
            localStorage.setItem("carOption", "new");
        }

    }

    function openCityDirect(carOption, title) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(title).style.display = "block";

        setTimeout(function() {
            if (carOption == 'new') {
                $("#new").addClass(" active");
            } 
            else if (carOption == 'taxi') {
                $("#taxi").addClass(" active");
            }
            else {
                $("#old").addClass(" active");
            }
        }, 300);

    }

function pageDataLoaded()
{
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 10);
}

</script>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->