
<link rel="stylesheet" href="styles/testDrive.css">
<md-dialog aria-label="" class="mdDialogPosition" style="min-width: 280px;width: 50%;border: 3px solid #ededed"">
  <form ng-cloak>
<!--     <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Request Price Quote</h2>
        <span flex></span>
        
      </div>
    </md-toolbar> -->

    <md-dialog-content>

	<div class="mainDiv" style="width: 70%;text-align: center;margin: auto;">

		<div class="outerMostInput">
			<div class="labelSection">Model *</div>
			<div class="inputArea">
				<div class="iconArea"> 
					<img src="assets/icons/model.svg" onmousedown="return false"> 
				</div>
				<div class="seperator">|</div>
				<select class="inputText" name="test" ng-model="model" ng-change="modelChange();" id="changeModel">
				  <option value="" ng-selected="true">Select Car</option>
				  <option ng-repeat="car in carList" value="{{car.id}}">{{car.car_name}}</option>	 
				</select> 
			</div>
		</div>


		<div class="outerMostInput">
			<div class="labelSection">Variant *</div>
			<div class="inputArea">
				<div class="iconArea"> 
					<img src="assets/icons/model.svg" onmousedown="return false"> 
				</div>
				<div class="seperator">|</div>
				<select class="inputText" name="test" ng-model="variant" ng-change="variantChange();" id="changeVariant">
				  <option value="" ng-selected="true">Select Variant</option>
				  <option ng-repeat="variant in variantsToShow" value="{{variant.variant.id}}" ng-selected="">{{variant.variant.variant_name}}</option>	 
				</select> 
			</div>
		</div>



		<input type="submit" class="testDriveLast_buttonn" value="CLOSE" style="margin: 10px auto !important;width: 50%;" ng-click="closeDialogue();" />
	</div>
      
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      
      <md-button ng-click="closeModal();">
       Close
      </md-button>
      
    </md-dialog-actions> -->
  </form>
</md-dialog>

<style type="text/css">
	/**/
	



	md-input-container {
	    padding: 2px 2px 5px !important;
	}


	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	select
	{
		height: 30px;
	}

	.increaseHeight {
		    height: 423.5px;
		}


</style>


