<link rel="stylesheet" href="styles/servicebooking.css">
<!-- <img src="{{contactusBanner.image_url}}" width="100%" onmousedown="return false"/> -->
<div id="myDIV" class="fade-in" style="display: none;">
<div class="formsMenu">
    <div id="title" class="title"> SERVICES </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="testDrivebooking();" class="header_font">Test Drive</div>
            <div ng-click="servicebooking();" class="header_font">Service Booking</div>
            <div ng-click="insurancebooking();" class="header_font">Car Insurance</div>
            <div ng-click="onRoadPriceQuoteServices();" class="header_font">Price Quote</div>
            <div ng-click="emicalculatorServices();" class="header_font">EMI Calculator</div>
            <div ng-click="contactUsServices();" class="header_font isMenuContentActive">Contact Us</div>
            <div ng-click="feedback();" class="header_font">Feedback</div>
        </div>
    </div>
</div>


<div class="testDriveFormContainer">
    <h3 class="contactTitle h3after" style="text-transform: uppercase;position: relative;">Contact Us</h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->
    <form name="userForm" ng-submit="contactRequest()" novalidate>
		<br> 
		<div class="tdBelowDividerText contactText" style="text-align: center;">
			Contact Us with any questions/enquires you may have. <br>You can alternatively also call us using our phone numbers within the <a ng-href="locateus">Locate Us</a> section.
		</div>
		<div class="tdBelowDividerText" ng-controller="headCtrl" style="margin-bottom: -20px;">
            <div ng-show="!hideLogin">Click here to <a ng-click="showLogin($event)" ng-href="#">Login</a></div>
        </div>
		<br>

		<div class="mainTD">
		<div class="leftMainTd">
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':name1==true}">Name*</div> -->
				<div class="inputArea" ng-class="{'text-box':name1==true}">
					<div class="iconArea">
						<object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
					</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valname" ng-model="contactFormData.name" class="inputText" ng-click="name1=true" ng-blur="name1=false" ng-required="true" id="contactName" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
				</div>
				    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':email1==true}">Email Id*</div> -->
				<div class="inputArea" ng-class="{'text-box':email1==true}">
					<div class="iconArea">
						   <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
					</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="email" name="valEmail" ng-model="contactFormData.email" class="inputText" ng-click="email1=true" ng-blur="email1=false" ng-required="true" id="contactEmail" tabindex="2" placeholder="Email Id*">
				</div>
			    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
			    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':address==true}">Address</div> -->
				<div class="inputArea" ng-class="{'text-box':address==true}">
					<div class="iconArea">
						   <object type="image/svg+xml" data="assets/new_form_icons/location.svg" class="name-icon"></object>
					</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<textarea class="inputText" name="valAddress" id="userAddress" rows="4" ng-model="contactFormData.address" cols="50" ng-click="address=true" ng-blur="address=false" tabindex="3" placeholder="Address"></textarea>
					</div>
			</div>


				
		</div>

		<div class="rightMainTd" style="margin-top: 0px !important;">
				<div class="outerMostInput">
					<!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Phone Number*</div> -->
					<div class="inputArea" ng-class="{'text-box':phone==true}">
						<div class="iconArea">
							   <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
						</div>
							<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<input type="text" name="valPhone" ng-model="contactFormData.phone" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" ng-required="true" id="contactPhone" tabindex="4" onkeypress="return event.keyCode >= 48 && event.keyCode < 58" pattern="\d{10}" placeholder="Phone Number*">
					</div>		
				    <div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
				    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
				    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>	
				</div>
				<div class="outerMostInput hide_big_screen">
					<!-- <div class="labelSection" ng-class="{'text-label':comm==true}">Comments*</div> -->
					<div class="inputArea" ng-class="{'text-box':comm==true}">
						<div class="iconArea">
							   <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
						</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<textarea class="inputText" rows="4" name="valComment" ng-model="contactFormData.message" cols="50" ng-click="comm=true" ng-blur="comm=false" ng-required="true" id="contactComment" tabindex="6" placeholder="Comments*"></textarea>
					</div>
						    <div class="validation" ng-show="submitted && userForm.valComment.$error.required">Comments is required*</div>
				</div>	
				<div class="outerMostInput">
                    <!-- <div class="labelSection" ng-class="{'text-label':ser==true}">Showroom*</div> -->
                    <div class="inputArea" ng-class="{'text-box':ser==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/feedback.svg" class="service-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <select class="inputText" name="valService" ng-model="contactFormData.category" ng-click="ser=true" ng-blur="ser=false" ng-required="true" tabindex="6" ng-change="changedealers();">
					  <option value="" ng-selected="true" disabled>Share you feedback for*</option>
					  <option value="Sales">Sales</option>
					  <option value="Service">Services</option>
					  <option value="Others">Others</option>
					  <!-- <option ng-repeat="dealer in dealerList" value="{{dealer.dealer_name}}">{{dealer.dealer_name}}</option> -->	 
					</select>
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valService.$error.required">Showroom is required*</div>
                </div>

				<div class="outerMostInput">
					<!-- <div class="labelSection" ng-class="{'text-label':fuel==true}">Dealership Location*</div> -->
					<div class="inputArea" ng-class="{'text-box':fuel==true}">
					<div class="iconArea ser-padd"> 
						   <object type="image/svg+xml" data="assets/new_form_icons/location.svg" class="name-icon"></object>
					</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<select class="inputText" name="valService" ng-model="contactFormData.sales_center" ng-click="ser=true" ng-blur="ser=false" ng-required="true" tabindex="6">
						  <option value="" ng-selected="true" disabled>Showroom*</option>
						  <option ng-repeat="dealer in dealerList" value="{{dealer.dealer_name}}">{{dealer.dealer_name}}</option>	 
						</select> 
					</div>
				    <div class="validation" ng-show="submitted && userForm.fuel.$error.required">Dealership Location is required*</div>
				</div>
		</div>


		</div>
		<div class="outerMostInput hide_small_screen" >
			<!-- <div class="labelSection" ng-class="{'text-label':comm==true}">Comments*</div> -->
			<div class="inputArea" ng-class="{'text-box':comm==true}" style="width: 66% !important;">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
				</div>
				<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<textarea class="inputText" rows="4" name="valComment" ng-model="contactFormData.message" cols="50" ng-click="comm=true" ng-blur="comm=false" ng-required="true" id="contactComment" tabindex="6" placeholder="Comments*"></textarea>
			</div>
				    <div class="validation" ng-show="submitted && userForm.valComment.$error.required">Comments is required*</div>
		</div>	
		<input type="submit" class="testDriveLast_button" id="contactus" value="SUBMIT" ng-click="contactUs();" />
    </form>
</div>
</div>
<style type="text/css">
.fade-in {
	  opacity: 0;
	  animation: fadeIn .5s ease-in 1 forwards;
	}
	.h3after:after {
        content: '';
        position: absolute;
        width: 13%;
    	left: 44%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }
</style>
<script type="text/javascript">
    setTimeout(function() {
    	$('#myDIV').fadeIn(1000);
    	viewReady();
    }, 500);
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->