<link rel="stylesheet" href="styles/servicebooking.css">

<div id="myDIV" class="fade-in" style="display: none;">

<div class="formsMenu">
    <div id="title" class="title"> SERVICES </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="testDrivebooking();" class="header_font">Test Drive</div>
            <div ng-click="servicebooking();" class="header_font">Service Booking</div>
            <div ng-click="insurancebooking();" class="header_font">Car Insurance</div>
            <div ng-click="onRoadPriceQuoteServices();" class="header_font">Price Quote</div>
            <div ng-click="emicalculatorServices();" class="header_font isMenuContentActive">EMI Calculator</div>
            <div ng-click="contactUsServices();" class="header_font">Contact Us</div>
            <div ng-click="feedback();" class="header_font">Feedback</div>
        </div>
    </div>
</div>
<style type="text/css">
.highLightYellow
{
	background-color: #FFF176;	
}
.nohighLight
{

}
</style>
<div class="testDriveFormContainer" ng-controller="emicalculatorCtrl">
	<h3 class="h3after" style="text-transform: uppercase;position: relative;">CALCULATE EMI</span>

	</h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->
    
    
   <form name="userForm" ng-submit="calculate()" novalidate>	
	<div class="mainTD" style="margin-top: 20px;">
		<div class="leftMainTd">
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':model==true}">Model*</div> -->
				<div class="inputArea" ng-class="{'text-box':model==true}">
				<div class="iconArea ser-padd"> 
					<object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<select class="inputText" name="valModel" ng-model="emiCarModel" ng-change="emiModel()" ng-click="model=true" ng-blur="model=false" required id="emiModel" tabindex="1">
					  <option value="" ng-selected="true">Select Car*</option>
					  <option ng-repeat="car in emidata.cars" value="{{car.car_name}}" ng-selected="" ng-if="car.car_name!='others'">{{car.car_name}}</option>	 
					</select> 
				</div>
				 <div class="validation" ng-show="submitted && userForm.valModel.$error.required">Car Model is required*</div>
				 <br>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':variant==true}">Variant*</div> -->
				<div class="inputArea" ng-class="{'text-box':variant==true}">
					<div class="iconArea">
					  <object type="image/svg+xml" data="assets/new_form_icons/variants.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<select class="inputText" id="mt0" name="valVariant" ng-model="emiCarVariant" ng-click="variant=true" ng-blur="variant=false" ng-change="emiVariant()" required tabindex="2">
					  <option value="" ng-selected="true">Select Variant*</option>
					  <option disabled class="highLightYellow"> **Yellow highlight is for taxi</option>
					  <option  value="{{$index}}" ng-repeat="variant in emicarVariantData" ng-class="{nohighLight: variant.variant_price[0].price[0].board, highLightYellow: variant.variant_price[0].price[0].board === 'yellow'}">{{variant.variant_name}}</option>	 
					</select> 
				</div>		
				 <div class="validation" ng-show="submitted && userForm.valVariant.$error.required">Car Variant is required*</div>	<br>
			</div>

			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':onRoad==true}">OnRoad Price</div> -->
				<div class="inputArea" ng-class="{'text-box':onRoad==true}">
					<div class="iconArea">
					  <object type="image/svg+xml" data="assets/new_form_icons/onroadprice.svg" class="name-icon" style="padding-left: 4px !important;"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text"  ng-model="onRoadPriceValue" class="inputText" ng-click="onRoad=true" ng-blur="onRoad=false" id="emiPrice" readonly tabindex="3" placeholder="On Road Price">
				</div><br>
			</div>
		</div>
		<div class="rightMainTd">
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':Tenure==true}">Select Tenure</div> -->
				<div class="inputArea" ng-class="{'text-box':Tenure==true}">
					<div class="iconArea"> 
					  <object type="image/svg+xml" data="assets/new_form_icons/tenure.svg" class="name-icon" style="padding-left: 4px !important;"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<select class="inputText" id="mt0" name="tenure" ng-model="tenureMonth" ng-click="Tenure=true" ng-blur="Tenure=false" tabindex="4" required>
					  <option value="" ng-selected="true">Select Tenure*</option>
					  <option ng-repeat="m in tenureData" value="{{m.month}}" ng-selected="">{{m.month}}&nbsp;&nbsp;months</option>	 
					</select> 
				</div>
				 <div class="validation" ng-show="submitted && userForm.tenure.$error.required">Tenure is required*</div><br>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':Rate==true}">Enter Rate of interest*</div> -->
				<div class="inputArea" ng-class="{'text-box':Rate==true}">
					<div class="iconArea" style="padding:0;">
					  <object type="image/svg+xml" data="assets/new_form_icons/rate_of_interest.svg" class="name-icon interest"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valRate" class="inputText" ng-click="Rate=true" id="emirate" ng-blur="Rate=false" ng-model="rateInterest" required tabindex="5" onkeypress="return isNumberKey(event,this)" placeholder="Rate of interest*">
				</div>	
				 <div class="validation" ng-show="submitted && userForm.valRate.$error.required">Rate of interest is required*</div><br>		
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':highlight==true}">Enter Down Payment</div> -->
				<div class="inputArea" ng-class="{'text-box':highlight==true}">
					<div class="iconArea">
						<img src="assets/icons/down_payments-emiblue.svg" class="emi-rupee" onmousedown="return false">
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="number" name="valDownPay" ng-model="downPay" class="inputText" ng-click="highlight=true" ng-blur="highlight=false" required id="emiPay" tabindex="6" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" placeholder="Down Payment*">
				</div>
				 <div class="validation" ng-show="submitted && userForm.valDownPay.$error.required">Down Payment is required*</div><br>
			</div>
		</div>	

	</div>

	<input type="submit" class="testDriveLast_button calculate" value="RESET" ng-click="clearFields()" />
	<input type="submit" class="testDriveLast_button calculate" value="CALCULATE" ng-click="submitted=true"/>
	<!-- scroll-to-item scroll-to="#showCalculation" -->
  </form><br id="showCalculation">
	  <div class="divider-line"></div><br>
	  <img src="assets/icons/arrow.png" style="height: 20px !important;"  onmousedown="return false"/>
    <table style="width: 100%;">
      <tr> 
        <td class="emi-common emi-text">EMI</td>
        <td class="emi-common emi-price emi-td"><img src="assets/icons/down_payments-emiblue.svg" class="emi-image"  onmousedown="return false"/>{{emiValue}}</td>
      </tr>
    </table>
</div>
</div>

<style type="text/css">
	.fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }

    .h3after:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }

</style>
    <script type="text/javascript">

        function isNumberKey(evt, obj) {

            var charCode = (evt.which) ? evt.which : event.keyCode
            var value = obj.value;
            var dotcontains = value.indexOf(".") != -1;
            if (dotcontains)
                if (charCode == 46) return false;
            if (charCode == 46) return true;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 500);
</script>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
 

 -->