<link rel="stylesheet" href="styles/servicebooking.css">
<div id="myDIV" class="fade-in" style="display: none;">

    <style type="text/css">
        .enquie_div {
            height: auto;
            min-height: 80px;
            background-color: #ffffff;
            opacity: 10;
            padding: 5px;
            border: 1px solid #dfdfdf;
        }

        .itembox {
            height: auto;
            width: auto;
            background-color: #ededed;
            display: inline-block;
            padding: 5px 10px;
            line-height: 1.5;
            color: #565656;
            margin: 5px !important;
            border: 1px solid #dfdfdf;
        }

        .close_icon {
            height: 15px;
            padding-left: 5px;
        }

        .testDriveFormContainer {
            margin-top: 0 !important;
            padding:0!important;
            width:100%!important;
            
        }

        .page_head{
            display:none;
        }
        header{
            display: none;
        }
        footer{
            display:none;
        }
        .mobiclose{
            display: none;
        }
        .webclose{
            display: block;
        }
        @media screen and (max-width:920px) and (min-width: 320px){
            .leftMainTd{
                width: 100%!important;
            }
            .rightMainTd{
                width: 100%!important;
                padding-left: 3%!important;
                padding-bottom: 3%!important;
            }
            .mobiclose{
                display: block!important;
            }
            .webclose{
                display: none!important;
            }
        }
        main{
            margin: 0!important;
        }

        .h3after:after {
            content: '';
            position: absolute;
            width: 30%;
            left: 0%;
            bottom: -10px;
            border-bottom: 4px solid #d24c42;

        }
    </style>

    <!-- <div class="formsMenu">
        <div id="title" class="title"> SALES ENQUIRY </div>
    </div> -->

    <div class="testDriveFormContainer">

        <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->

        <form name="userForm" ng-submit="enquireRequest()" novalidate>

            <div class="mainTD" style="margin: 0;width: 100%!important;">
                <div class="leftMainTd" style="padding: 0;width: 65%;">
                    <img class="mobiclose" style="width: 4%;cursor: pointer;position: absolute; right: 3%; top:1.5%;" ng-click="closelandingpage()" src="..\icons\Close.png">
                    <img src="..\..\images\honda_cars.jpg" style="width: 100%;">

                </div>

                <div class="rightMainTd" style="margin-top: 14px !important;text-align: left;width:35%;margin: 0;padding: 0; padding-right: 3%;">
                    <div class="webclose" style="width: 100%; text-align: right; "><img style="width: 4%;cursor: pointer;" ng-click="closelandingpage()" src="..\icons\Close.png"></div>
                    <img ng-click="closelandingpage()" width="100%" src="..\..\images\enquiryimg.png">
                    
                    <h3 class="contactTitle h3after" style="text-transform: capitalize;position: relative;">ENQUIRY</h3>
                    <br>
                    <div style="text-align: left;">
                        <div>Do provide your information below
                            We will get in touch with you regarding your Enquiry.</div>
                    </div>
                    <div class="outerMostInput">
                        <!-- <div class="labelSection" ng-class="{'text-label':name1==true}">Name*</div> -->
                        <div class="inputArea" ng-class="{'text-box':name1==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/profile.svg"
                                    class="name-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <input type="text" name="valname" ng-model="wishlist.name" class="inputText"
                                ng-click="name1=true" ng-blur="name1=false" ng-required="true" id="contactName"
                                tabindex="1"
                                onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)"
                                placeholder="Name*">
                        </div>
                        <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is
                            required*</div>
                            <br>
                    </div>

                    

                    <div class="outerMostInput">
                        <!-- <div class="labelSection" ng-class="{'text-label':email1==true}">Email Id*</div> -->
                        <div class="inputArea" ng-class="{'text-box':email1==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/email.svg"
                                    class="name-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <input type="email" name="valEmail" ng-model="wishlist.email" class="inputText"
                                ng-click="email1=true" ng-blur="email1=false" ng-required="true" id="contactEmail"
                                tabindex="2" placeholder="Email Id*">
                        </div>
                        <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is
                            required*</div>
                        <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is
                            invalid*</div>
                            <br>
                    </div>
                    
                    <div class="outerMostInput">
                        <!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Phone Number*</div> -->
                        <div class="inputArea" ng-class="{'text-box':phone==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg"
                                    class="name-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <input type="text" name="valPhone" ng-model="wishlist.mobile" class="inputText"
                                ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10"
                                ng-required="true" id="contactPhone" tabindex="3"
                                onkeypress="return event.keyCode >= 48 && event.keyCode < 58" pattern="\d{10}"
                                placeholder="Phone Number*">
                        </div>
                        <div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is
                            required*</div>
                        <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number
                            should be 10 digits*</div>
                        <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number
                            should be 10 digits*</div>
                            <br>
                    </div>
                    
                    <!-- <div class="outerMostInput">
					<! -- <div class="labelSection" ng-class="{'text-label':model==true}">Model*</div> -- >
					<div class="inputArea" ng-class="{'text-box':model==true}">
						<div class="iconArea ser-padd"> 
							   <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
						</div>
							<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<input type="text" name="valModel" ng-model="model" class="inputText" ng-click="model=true" ng-blur="model=false"  readonly tabindex="4" required="true" placeholder="Model*" disabled>
					</div>
				    <div class="validation" ng-show="submitted && userForm.valModel.$error.required">Model is required*</div>
                </div> -->

                    <div class="outerMostInput">

                        <div class="inputArea" ng-class="{'text-box':ser==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/model.svg"
                                    class="name-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <select class="inputText" name="valModel" ng-model="carmodel" tabindex="8"
                                ng-click="model=true" ng-blur="model=false" ng-required="true">
                                <option value="" ng-selected="true" disabled>Model*</option>
                                <option ng-repeat="dealer in carsList" value="{{dealer.id}}">
                                    {{dealer.car_name}}</option>
                            </select>
                        </div>
                        
                        <div class="validation" ng-show="submitted && userForm.valModel.$error.required">Model is
                            required*</div>
                            <br>
                    </div>
                    <div style="text-align: right;">
                    <input type="submit" class="testDriveLast_button" id="enquireRequest" value="SUBMIT"
                        ng-click="submitted=true" /></div>
                    <!-- <div class="outerMostInput hide_big_screen">
					<div class="labelSection">Enquire About:</div>
					<div class="enquie_div">      
		               <div>
		                 <p ng-repeat="item in accessoriesItemToShow" ng-model="myList" ng-hide="show" class="itembox">{{item.name}} <img src="images/cancel.png" class="close_icon" ng-click="remove($index)"></p>
		               </div>
					</div>
				</div>	 -->
                    <!-- <div class="outerMostInput hide_big_screen">
					<div class="labelSection" ng-class="{'text-label':comm==true}">Comments</div>
					<div class="inputArea" ng-class="{'text-box':comm==true}">
						<div class="iconArea">
							   <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
						</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<textarea class="inputText" rows="4" name="valComment" ng-model="wishlist.comment" cols="50" ng-click="comm=true" ng-blur="comm=false" id="contactComment" tabindex="6" ></textarea>
					</div>
				</div>	 -->
                </div>


            </div>


            <!-- <div class="outerMostInput hide_small_screen" style="width: 65%;">
			<div class="labelSection">Enquire About:</div>
			<div class="enquie_div">      
               <div>
                 <p ng-repeat="item in accessoriesItemToShow" ng-model="myList" ng-hide="show" class="itembox">{{item.name}} <img src="images/cancel.png" class="close_icon" ng-click="show=true;remove($index)"></p>
               </div>
			</div>
		</div>	 -->
            <!-- <div class="outerMostInput hide_small_screen" style="width: 65%;">
			< !-- <div class="labelSection" ng-class="{'text-label':comm==true}">Comments</div> - ->
			<div class="inputArea" ng-class="{'text-box':comm==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
				</div>
				<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<textarea class="inputText" rows="4" name="valComment" ng-model="wishlist.comment" cols="50" ng-click="comm=true" ng-blur="comm=false" id="contactComment" tabindex="6" placeholder="Comments(If any)" ></textarea>
			</div>
		</div>	 -->

        </form>
    </div>
    <script>
        setTimeout(function () {
            $('#myDIV').fadeIn(1000);
            viewReady();
        }, 500);
    </script>
    <!-- Google Code for Dakshin Honda Conversion Page -->
    <!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>  -->
    <!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->