

<md-dialog aria-label="" class="mdDialogPosition" style="min-width: 280px;width: 50%;"">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Feature Showcase</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>

	<!-- <div ng-repeat="item in variantfeatureDataData" style="width: 90%;margin: auto;">
	    <div>
	      <div>
	        <div style="text-transform: uppercase;font-size: 18px; text-align: left;background-color: #e3eeff; padding: 5px;">{{item.feature_name}}</div>
	      </div>
	      <table style="width: 100%;">
	        <tr ng-repeat="single in item.feature_data" style="font-size: 16px;">
	          <td style="width: 50%; text-transform: capitalize;padding: 5px;text-align: left;">{{single.feature_sub_name}}</td>
	          <td style="width: 50%; text-transform: capitalize;padding: 5px;text-align: left;">{{single.feature_showcase_value}}</td>
	        </tr>
	      </table> 
	    </div>
	  </div> --> 


	    <div ng-repeat="item in variantfeatureDataData.features" style="margin: auto;">
	        <div>
	            <div>
	                <div class="car_tech_title" style="background-color: #e3eeff !important;">{{item.key_feature_type}}</div>
	            </div>
	            <table style="width: 100%;">
	                <tr style="border-bottom: 1px solid #f3f3f3;">
	                    <td>
	                        <section class="colSC" ng-repeat="single in item.values">
	                            <div style="display: block;">{{single.feature_name}} : <!-- {{single.description}} -->

	                            	<div ng-if="single.description == 'yes' || single.description == 'Yes'" style="margin: auto;"> 
										<img  src="images/tick.png" style="width: 12px;" onmousedown="return false"/>
									</div>


									<div  ng-if="single.description == 'no' || single.description == 'No'" style="margin: auto;">
										<img src="images/cancel.png" style="width: 12px;" onmousedown="return false"/>
									</div>



									<div  ng-hide="single.description == 'no' || single.description == 'No' || single.description == 'yes' || single.description == 'Yes'" style="margin: auto;">
										{{single.description}}
									</div>
									
	                            </div>
	                        </section>
	                    </td>
	                    
	                </tr>
	            </table>
	        </div>
	    </div>






		<div id="outer" style="width:100%" ng-click="closeCarModal();">
		  <div id="inner" class="testDriveLast_button">CLOSE</div>
		</div>
      
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      
      <md-button ng-click="closeModal();">
       Close
      </md-button>
      
    </md-dialog-actions> -->
  </form>
</md-dialog>

<style type="text/css">
	#outer {
	  width: 100%;
	  text-align: center;
	}

	#inner {
	  display: inline-block;
	      line-height: 55px;
	}
	.testDriveLast_button
	{
	    color: #ffffff;
	    background-color: #2E5EB3;
	    font-size: 16px;
	    border: 1px solid #2E5EB3;
	    min-width: 150px;
	    max-width: 250px;
	    width: 30%;
	    height: 54px;
	    position: relative;
	    top: 20px;
	    bottom: 20px;
	    margin: 20px auto 30px !important;
	}
	/**/
	.button
	{
		width: 100%;
	    margin: 10px auto;
	    padding: 8px;
	}



	md-input-container {
	    padding: 2px 2px 5px !important;
	}


	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	.increaseHeight {
		    height: 423.5px;
		}
</style>


