<link rel="stylesheet" href="styles/servicebooking.css">
<link rel="stylesheet" href="styles/feedback.css">
<div id="myDIV" class="fade-in" style="display: none;">

<div class="formsMenu">
    <div id="title" class="title"> SERVICES </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="testDrivebooking();" class="header_font">Test Drive</div>
            <div ng-click="servicebooking();" class="header_font">Service Booking</div>
            <div ng-click="insurancebooking();" class="header_font">Car Insurance</div>
            <div ng-click="onRoadPriceQuoteServices();" class="header_font">Price Quote</div>
            <div ng-click="emicalculatorServices();" class="header_font">EMI Calculator</div>
            <div ng-click="contactUsServices();" class="header_font">Contact Us</div>
            <div ng-click="feedback();" class="header_font isMenuContentActive">Feedback</div>
        </div>
    </div> 
</div>

<div class="testDriveFormContainer">
    <h3 class="h3after" style="text-transform: uppercase;position: relative;">Feedback</h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->
    <form name="userForm" ng-submit="sendFeedback()" novalidate>
        <br>
        <div class="tdBelowDividerText" ng-controller="headCtrl" style="margin-bottom: -20px;">
            <div ng-show="!hideLogin">Click here to <a ng-click="showLogin($event)" ng-href="#">Login</a></div>
        </div>
        <br>
        <br>
        <div class="mainTD">
            <div class="leftMainTd">
                <div class="outerMostInput">
                    <!-- <div class="labelSection" ng-class="{'text-label':name1==true}">Name*</div> -->
                    <div class="inputArea" ng-class="{'text-box':name1==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="text" id="feedbackName" name="valname" ng-model="feedbackData.name" class="inputText" ng-click="name1=true" ng-blur="name1=false" ng-required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
                </div>
                <div class="outerMostInput">
                    <!-- <div class="labelSection" ng-class="{'text-label':email1==true}">Email Id*</div> -->
                    <div class="inputArea" ng-class="{'text-box':email1==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="email" name="valEmail" id="feedbackEmail" ng-model="feedbackData.email" class="inputText" ng-click="email1=true" ng-blur="email1=false" ng-required="true" tabindex="2" placeholder="Email Id*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
                    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
                </div>
                <div class="outerMostInput">
                    <!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Phone Number*</div> -->
                    <div class="inputArea" ng-class="{'text-box':phone==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="text" name="valPhone" ng-model="feedbackData.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" ng-required="true" id="feedbackPhone" tabindex="3" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}" placeholder="Phone Number*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
                    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
                    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>
                </div>

                <div class="outerMostInput">
                    <!-- <div class="labelSection" ng-class="{'text-label':ser==true}">Showroom*</div> -->
                    <div class="inputArea" ng-class="{'text-box':ser==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/feedback.svg" class="service-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <select class="inputText" name="valService" ng-model="feedbackData.feedback_type" ng-click="ser=true" ng-blur="ser=false" ng-required="true" tabindex="6" ng-change="changedealers();">
					  <option value="" ng-selected="true" disabled>Share you feedback for*</option>
					  <option value="Sales">Sales</option>
					  <option value="Service">Services</option>
					  <option value="Others">Others</option>
					  <!-- <option ng-repeat="dealer in dealerList" value="{{dealer.dealer_name}}">{{dealer.dealer_name}}</option> -->	 
					</select>
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valService.$error.required">Showroom is required*</div>
                </div>




            </div>

            <div class="rightMainTd" style="margin-top: 0px !important;">




                <!-- 		<div class="outerMostInput">
			<div class="labelSection" ng-class="{'text-label':type==true}">Share you feedback for*</div>
			<div class="inputArea" ng-class="{'text-box':type==true}">
				<div class="iconArea">
					<object type="image/svg+xml" data="assets/new_form_icons/feedback.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<table class="service-table">
					  <tr>
					    <td><p class="service-p">Sales</p></td>
					    <td class="serivice-chk">
							<label class="residence move-top">
							  <input type="radio" id="feedbackSales" value="Sales" ng-model="feedbackData.feedback_type" name="title" ng-required="true">
							  <span ng-click="feedbackData.feedback_type='Sales'"></span>
							</label>
						</td>
					  </tr>
					  <tr>
					    <td><p class="service-p">Services</p></td>
					    <td class="serivice-chk">
							<label class="residence move-top">
							  <input type="radio" id="feedbackServices" value="Services"  ng-model="feedbackData.feedback_type" name="title" ng-required="true">
							  <span ng-click="feedbackData.feedback_type='Services'"></span>
							</label>
					    </td>
					  </tr>
					  <tr>
					    <td><p class="service-p">Others</p></td>
					    <td class="serivice-chk">
							<label class="residence move-top">
							  <input type="radio" id="feedbackOthers" value="Others" ng-model="feedbackData.feedback_type" name="title" ng-required="true">
							  <span ng-click="feedbackData.feedback_type='Others'"></span>
							</label>
					    </td>
					  </tr>
					</table>
			</div>
			    <div class="validation" ng-show="submitted && userForm.title.$error.required">feedback is required*</div>
</div> -->


                <div class="outerMostInput">
                    <!-- <div class="labelSection" ng-class="{'text-label':ser==true}">Showroom*</div> -->
                    <div class="inputArea" ng-class="{'text-box':ser==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/service_center.svg" class="service-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <select class="inputText" name="valService" ng-model="feedbackData.sales_center" ng-click="ser=true" ng-blur="ser=false" ng-required="true" tabindex="7">
					  <option value="" ng-selected="true" disabled>Showroom*</option>
					  <option ng-repeat="dealer in dealerList" value="{{dealer.dealer_name}}">{{dealer.dealer_name}}</option>	 
					</select>
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valService.$error.required">Showroom is required*</div>
                </div>

                <div class="outerMostInput">
                    <div class="labelSection">Provide your rating*</div>

                    <div class="inputArea" style="border: none;background-color: transparent;">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" ng-model="feedbackData.rating" ng-required="true" /><label class="full" for="star5" title="5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4.5" ng-model="feedbackData.rating" ng-required="true" /><label class="half" for="star4half" title="4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" ng-model="feedbackData.rating" ng-required="true" /><label class="full" for="star4" title="4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3.5" ng-model="feedbackData.rating" ng-required="true" /><label class="half" for="star3half" title="3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" ng-model="feedbackData.rating" ng-required="true" /><label class="full" for="star3" title="3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2.5" ng-model="feedbackData.rating" ng-required="true" /><label class="half" for="star2half" title="2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" ng-model="feedbackData.rating" ng-required="true" /><label class="full" for="star2" title="2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1.5" ng-model="feedbackData.rating" ng-required="true" /><label class="half" for="star1half" title="1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" ng-model="feedbackData.rating" ng-required="true" /><label class="full" for="star1" title="1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" ng-model="feedbackData.rating" ng-required="true" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>
                    <div class="validation" ng-show="submitted && userForm.rating.$error.required">Rating is required*</div>
                </div>

                <div class="outerMostInput hide_big_screen">
                    <!-- <div class="labelSection" ng-class="{'text-label':comm==true}">Comments*</div> -->
                    <div class="inputArea" ng-class="{'text-box':comm==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <textarea class="inputText" rows="4" id="feedbackComment" ng-model="feedbackData.comment" cols="50" name="valComment" ng-click="ser=true" ng-blur="ser=false" tabindex="4" required="true" maxlength="600" ng-maxlength="599" placeholder="Comments*"></textarea>
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valComment.$error.required">Comments is required*</div>
                    <div class="validation" ng-show="userForm.valComment.$error.maxlength">Comments must not exceed 600 characters*</div>
                </div>

            </div>
        </div>
        <div class="outerMostInput hide_small_screen">
            <!-- <div class="labelSection" ng-class="{'text-label':comm==true}">Comments*</div> -->
            <div class="inputArea" ng-class="{'text-box':comm==true}" style="width: 66% !important;">
                <div class="iconArea">
                    <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
                </div>
                <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                <textarea class="inputText" rows="4" id="feedbackComment" ng-model="feedbackData.comment" cols="50" name="valComment" ng-click="ser=true" ng-blur="ser=false" tabindex="4" required="true" maxlength="600" ng-maxlength="599" placeholder="Comments*"></textarea>
            </div>
            <div class="validation" ng-show="submitted && userForm.valComment.$error.required">Comments is required*</div>
            <div class="validation" ng-show="userForm.valComment.$error.maxlength">Comments must not exceed 600 characters*</div>
        </div>

        <input type="submit" class="testDriveLast_button" id="feedback" value="SUBMIT" ng-click="submitFeedback();" />
    </form>
</div>
</div>
<style type="text/css">
    @media (min-width: 320px) and (max-width: 410px) {

        .mainTD {
            width: 100%;
        }
        .leftMainTd,
        .rightMainTd {
            padding: 0px;
        }
    }
    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
    .h3after:after {
        content: '';
        position: absolute;
        width: 12%;
        left: 44%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }
</style>
<script type="text/javascript">
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 500);
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->