<link rel="stylesheet" href="styles/servicebooking.css">
<div id="myDIV" class="fade-in" style="display: none;">
<div class="formsMenu">
    <div id="title" class="title"> SERVICES </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="testDrivebooking();" class="header_font">Test Drive</div>
            <div ng-click="servicebooking();" class="header_font">Service Booking</div>
            <div ng-click="insurancebooking();" class="header_font isMenuContentActive">Car Insurance</div>
            <div ng-click="onRoadPriceQuoteServices();" class="header_font">Price Quote</div>
            <div ng-click="emicalculatorServices();" class="header_font">EMI Calculator</div>
            <div ng-click="contactUsServices();" class="header_font">Contact Us</div>
            <div ng-click="feedback();" class="header_font">Feedback</div>
        </div>
    </div>
</div>
<div class="testDriveFormContainer" ng-init="getCarModel()">
    <h3 class="h3after" style="text-transform: uppercase;position: relative;">ENQUIRE ABOUT INSURANCE</h3>
    
    <div class="tdBelowDividerText" ng-controller="headCtrl">
        <div ng-show="!hideLogin">Click here to <a ng-click="showLogin($event)" ng-href="#">Login</a></div>
    </div>

    <!--  <div class="fa-angle-down" onmousedown="return false" ></div> -->

<form name="userForm"  novalidate style="margin-top: -35px;">
    <div class="mainTD mainMargin">
        <div class="leftMainTd">
            <div class="outerMostInput" style="margin-top: -15px;">
                <!-- <div class="labelSection" ng-class="{'text-label':name==true}">Name*</div> -->
         
                 
                <div class="inputArea" ng-class="{'text-box':name==true}">
                    <div class="iconArea">
                        <object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <input type="text" id="userName" name="valRenewName" ng-model="insuranceAllPage.name" class="inputText" ng-click="name=true" ng-blur="name=false" required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
                </div>
                <div class="validation" ng-show="userForm.submitted && userForm.valRenewName.$error.required">Name is required*</div>
            </div>
            <div class="outerMostInput">
                <!-- <div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div> -->
                <div class="inputArea" ng-class="{'text-box':email==true}">
                    <div class="iconArea">
                        <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <input type="email" name="valRenewEmail" id="userEmail" ng-model="insuranceAllPage.email" class="inputText" ng-click="email=true" ng-blur="email=false" required="true" tabindex="2" placeholder="Email Id*">
                </div>
                <div class="validation" ng-show="userForm.submitted && userForm.valRenewEmail.$error.required">Email Id is required*</div>
                <div class="validation" ng-show="userForm.submitted && userForm.valRenewEmail.$error.email">Email Id is invalid*</div>
            </div>
            <div class="outerMostInput">
                <!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Mobile Number*</div> -->
                <div class="inputArea" ng-class="{'text-box':phone==true}">
                    <div class="iconArea">
                        <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false" >
                    <input type="text" name="valPhone" id="userPhone" ng-model="insuranceAllPage.mobile"    required="true" class="inputText"   placeholder="Phone Number*" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9"   minlength="10" maxlength="10">
                    <!-- <input type="text" name="valRenewMobile" id="userPhone" ng-model="insuranceAllPage.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" required="true" tabindex="3" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}" placeholder="Phone Number*" minlength="10" maxlength="10"> -->
                </div>
                <div class="validation" ng-show="userForm.submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
                <div class="validation" ng-show="userForm.submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
                <div class="validation" ng-show="userForm.submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>
            </div>
             
            <div class="outerMostInput">
                <!-- <div class="labelSection" ng-class="{'text-label':address==true}">Address</div> -->
                <div class="inputArea" ng-class="{'text-box':address==true}">
                    <div class="iconArea">
                        <object type="image/svg+xml" data="assets/new_form_icons/city.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <textarea class="inputText" id="userRenewCity" ng-model="insuranceAllPage.address" rows="4" cols="50" ng-click="address=true" ng-blur="address=false" tabindex="4" placeholder="Address"></textarea>
                </div>
            </div>
            <div class="outerMostInput" ng-show="showInsDropdown">
                
                <div class="inputArea" ng-class="{'text-box':model==true}">
                    <div class="iconArea ser-padd">
                        <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <select class="inputText" ng-model="firstValue" id="userNewModel" ng-click="model=true" ng-blur="model=false" required="true" ng-change="modalInsuranceRenewData(firstValue)" tabindex="5" name="valRenewModel" ng-options="mode.model for mode in mycars">
                      <!-- <option value="" ng-bind="selectCarModel"></option>
                      <option ng-repeat="mode in mycars" value="{{mode.id}}" >{{mode.model}}</option> -->   
                                    </select>
                </div>
                <div class="validation" ng-show="userForm.submitted && userForm.valRenewModel.$error.required">Model is required*</div>
                <div class="modelcontainer" ng-controller="addcarCtrl">
                    <!-- <div class="labelSection modelwidth" ng-class="{'text-label':model==true}">Model*</div> -->
                    <div class="addCar addcarmodel" ng-click="addCar($event, carAdd)">
                        <img src="images/cardetails/plus.png" class="addImage imagemodel" onmousedown="return false" />&nbsp;&nbsp;ADD CAR
                    </div>
                </div>
            </div>
            <div class="outerMostInput" ng-show="!showInsDropdown">
                <!-- <div class="labelSection" ng-class="{'text-label':model==true}">Model*</div> -->
                <div class="inputArea" ng-class="{'text-box':model==true}">
                    <div class="iconArea ser-padd">
                        <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    
                    <input type="text" ng-model="firstValue" id="userNewModel" ng-click="model=true" ng-blur="model=false" required="true" tabindex="5" name="valRenewModel" class="inputText" placeholder="Model*"/>

                </div>
                <div class="validation" ng-show="userForm.submitted && userForm.valRenewModel.$error.required">Model is required*</div>
            </div>
        </div>

        <div class="rightMainTd">
            <div class="outerMostInput" style="margin-top: -15px;">
                <!-- <div class="labelSection" ng-class="{'text-label':date==true}">Date Of Purchase*</div> -->
                <div class="inputArea" ng-class="{'text-box':date==true}">
                    <div class="iconArea">
                        <object type="image/svg+xml" data="assets/new_form_icons/date.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <datepicker date-format="dd-MM-yyyy, EEEE" date-max-limit="{{minDate}}" datepicker-mobile="true">

                        <input ng-model="insData.date_of_purchase" ng-change="changeDate(insData.date_of_purchase)" class="inputText dateCss" type="text" id="date" ng-click="date=true" ng-blur="date=false" name="renewDatePurchase" tabindex="6" ng-required="true" readonly placeholder="Date Of Purchase" />

                    </datepicker>
                </div>
                
            </div>
          
            <div class="outerMostInput">
                <!-- <div class="labelSection" ng-class="{'text-label':reg==true}">Registration No.*</div> -->
                <div class="inputArea" ng-class="{'text-box':reg==true}">
                    <div class="iconArea ser-padd">
                        <object type="image/svg+xml" data="assets/new_form_icons/registration.svg" class="reg_icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <input type="text" id="regNumber1" name="valRenewReg" class="inputText" ng-model="insData.registration_number" ng-click="reg=true" ng-blur="reg=false" required="true" tabindex="7" placeholder="Registration Number*">
                </div>
                <div class="validation" ng-show="userForm.submitted && userForm.valRenewReg.$error.required">Registration No. is required*</div>
            </div>
            <div class="outerMostInput">
                <!-- <div class="labelSection" ng-class="{'text-label':km==true}">Kilometers*</div> -->
                <div class="inputArea" ng-class="{'text-box':km==true}">
                    <div class="iconArea">
                        <object type="image/svg+xml" data="assets/new_form_icons/kilometer.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <input type="text" id="userKms" name="valRenewKm" class="inputText" ng-model="insData.number_of_kms" ng-click="km=true" ng-blur="km=false" required="true" tabindex="8" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" placeholder="Kilometers*">
                </div>
                <div class="validation" ng-show="userForm.submitted && userForm.valRenewKm.$error.required">Kilometers is required*</div>
            </div>
            <div class="outerMostInput">
                <!-- <div class="labelSection" ng-class="{'text-label':km1==true}">Insurance Company*</div> -->
                <div class="inputArea" ng-class="{'text-box':km1==true}">
                    <div class="iconArea ">
                        <object type="image/svg+xml" data="assets/new_form_icons/insurance.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <input type="text" id="userInsCompany" name="valRenewInsurance" class="inputText c-input" ng-click="km1=true" ng-blur="km1=false" ng-model="insData.insurance_provider" tabindex="9" required="true" placeholder="Insurance Company">
                </div>
                
            </div>
            <div class="outerMostInput">
                <!-- <div class="labelSection" ng-class="{'text-label':pol1==true}">Policy*</div> -->
                <div class="inputArea" ng-class="{'text-box':pol1==true}">
                    <div class="iconArea">
                        <object type="image/svg+xml" data="assets/new_form_icons/policy.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <input type="text" id="userPolicy" name="valRenewPolicy" ng-model="insData.policy_number" class="inputText" ng-click="pol1=true" ng-blur="pol1=false" tabindex="10" required="true" placeholder="Policy Number">
                </div>
             
            </div>
            <div class="outerMostInput">
                <!-- <div class="labelSection" ng-class="{'text-label':exdate==true}">Expiry Date*</div> -->
                <div class="inputArea" ng-class="{'text-box':exdate==true}">
                    <div class="iconArea">
                        <object type="image/svg+xml" data="assets/new_form_icons/expiry_date.svg" class="name-icon"></object>
                    </div>
                    <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                    <datepicker date-format="dd-MM-yyyy" datepicker-mobile="true">
                        <input type="text" id="exDate" class="inputText c-input dateCss" name="valRenewExDate" ng-model="insData.insurance_expiry" ng-click="exdate=true" tabindex="11" ng-blur="exdate=false" style="margin-top: 0 !important;" readonly required="true" placeholder="Expiry Date">
                    </datepicker>
                </div>
                
            </div>
        </div>
    </div>
    <input type="submit" class="testDriveLast_button" id="insurance" value="SUBMIT" ng-click="newInsurance();" />
    </form>

     
 
</div>
</div>

<style type="text/css">
    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
    .h3after:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }
</style>
<script type="text/javascript">
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 500);
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->