
<link rel="stylesheet" href="styles/locateus.css">
<link rel="stylesheet" href="styles/servicebooking.css">
<link rel="stylesheet" href="styles/carcompare.css">

<div class="formsMenu" >
    <div id="title" class="title fade-in" style="display: none;border-bottom: 0px !important;"> LOCATE US </div>    
</div>

<div class="testDriveFormContainer" style="padding-bottom: 0 !important;">
    <!-- <h3><span style="border-bottom: 2px solid #d24c42;">LOCATE US</span></h3> -->

    <div class="filterSection fade-in" id="myDIV" style="display: none;margin-top: 20px;">
    	<div style="width: 48% !important;margin: auto;">
            <select class="inputText" name="dealer" ng-model="location" id="userNewModel" ng-click="model=true" ng-blur="model=false" required="true" tabindex="4" ng-change="changeLocation();">
                <option value="" ng-selected="true" disabled>Select Location*</option>
                <option value="all">All</option>
                <option ng-repeat="dealer in dealersToShow" value="{{dealer.id}}">{{dealer.dealer_name}}</option>   
            </select>
        </div>
        <div style="margin: auto;">
            OR
        </div>
        <div style="width: 48% !important;margin: auto;">
            <select class="inputText" name="userNewModel" ng-model="facility" id="userNewModel" ng-click="model=true" ng-blur="model=false" required="true" tabindex="4" ng-change="facilityChange();">
                <option value="" ng-selected="true" disabled>Select Facillity*</option>
                <option value="all">All</option>
                <option ng-repeat="f in facilityToShow track by $index" >{{f}}</option>   
            </select>
        </div>  

    </div>

    <div class="mapSectionn">
        <div class="mapDiv">
            <div id="map" class="" style="height: 450px;"></div>
        </div>
    </div>

    <div class="detailsSection fade-in" id="myDIV1" style="display: none;">
        <div class="overViewSection" ng-repeat="dealer in dealerDetails">
            <div style="display: flex;border-bottom: 2px solid #dcdcdc;margin-bottom: 10px !important;">
                <div class="categoryHeader"> <object type="image/svg+xml" data="assets/new_form_icons/location.svg"></object>{{dealer.dealer_name}}</div>
                <div class="categoryHeaderExpand">
                    <div class="slide-buttonnn" data-content="panel{{dealer.id}}">
                        <p><span class="panel-icon panelicon{{dealer.id}}" style="margin: auto;">+</span></p>
                    </div>
                </div>
            </div>

            <div class="overView" id="panel{{dealer.id}}" style="display: none;background-color: #f7f7f7;text-align: left; padding: 10px;">

                <div style="width: 100%;font-size: 17px;">                             
                        <span >Address :</span>
                        
                            {{dealer.address}}                            
                        
                                                  
                </div>
                <br>
                <div style="display: flex;">
                    <div style="width: 50%;">
                        <span >Facillities:</span>
                             <div style="display: flex;margin: 10px auto; font-size: 17px;">                     
                                
                                    <ul>
                                        <li ng-repeat="name in dealer.dealer_type">{{name}}</li> 
                                    </ul>                              
                            </div>
                    </div>
                    <div style="width: 50%;">  
                        <span >Business Hours:</span>                    
                        <div ng-init="time = filterWorkingHours(dealer.working_hours)" style="font-size: 17px;">
                            
                            <ul>
                                <li>{{time}}</li> 
                            </ul> 
                        </div> 
                    </div>
                    
                </div>

                <br>
                <div style="display: flex;">
                    <div style="width: 50%;">
                            <div style="display: flex;margin: 10px auto; font-size: 17px;">
                                    <div ng-init="emails = filterEmail(dealer.email)">
                                    <span >Email :</span> 
                                        <div ng-repeat="emailId in emails">
                                            <ul>
                                                <li><a href="mailto:{{emailId.email}}" target="_top"  style="text-transform: lowercase !important;">{{emailId.email}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                    </div>
                    
                    <div style="width: 50%;">
                        <span >Mobile:</span >
                            <div style="margin: 10px auto; font-size: 17px;">                                
                                    <ul>
                                        <li>{{dealer.mobile}}</li> 
                                    </ul>  
                            </div>

                    </div>
                </div>
                <br>
                
                <div style="width: 100%; text-align: center;margin: 10px auto;">
                    <button class="testDriveLast_buttonn" style="width: 25%;background-color: #1d3f8d !important;" ng-click="openMap(dealer.lat,dealer.lon)">Get Directions</button>
                </div>                           
           </div>

        </div>
    </div>
</div>
</div>
<br><br><br><br>
</div>

<style type="text/css">
    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
    .testDriveFormContainer {
        margin-top: 120px !important;
        padding: 40px;
        width: 80%;
        margin: auto;
        /*background-color: #F6F6F6;*/
        max-width: 1200px !important;
    }

    @media (max-width: 1200px) and (min-width: 1000px)
    {
      .smallClass 
      {
          top: 100px !important;
      }
    }
</style>
<script type="text/javascript">

    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        $('#myDIV1').fadeIn(1000);
        $('#title').fadeIn(1000);
        viewReady();
    }, 600);

    $(document).on("click", ".slide-buttonnn", function() {

        var panelId = $(this).attr('data-content');
        $('#' + panelId).toggle(400);

        $(this).find('.panel-icon').text(function(_, txt) {
            return txt === "+" ? "-" : "+";
        });
    });
    function expandSpecific(id) {
        var panelId = "panel" + id;
        setTimeout(function() {
            $('#' + panelId).toggle(400);
            var div = $('#' + panelId).find('.panel-icon');
            var t = '.panelicon' + id;
            $('div').find(t).text(function(_, txt) {
                return txt === "+" ? "-" : "+";
            });
        }, 300);

    }
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> -->
 