

<md-dialog aria-label="" class="mdDialogPosition" style="min-width: 280px;max-width: 370px;width: 30%;margin-top: 45px;
    margin-right: 7px;">
  <form ng-cloak name="userForm" ng-submit="signIn()" novalidate>
    <!-- <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>LOGIN</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar> -->

    <md-dialog-content>
    	<div style="width: 100%;height: 15px;display: flex;">
    		<div style="width: 92% !important;">
    			
    		</div>
    		<div ng-click="closeModal();" style="width: 8%;">
    			<img src="icons/Close.png" style="width: 20px;">
    		</div>
    	</div>
      <div class="md-dialog-content">
      <!-- <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left"> -->

        <md-input-container class="md-block" flex-gt-sm>
            <label class="bold_font">Email Id</label>
            <input ng-model="user.email" type="email" id="loginEmail" tabindex="1" name="valEmail" required="true" ng-class="{colorfield:email}" ng-click="email=true;" ng-blur="email=false;">
        </md-input-container>
			    <!-- <div class="validation1" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
			    <div class="validation1" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div> -->

        <md-input-container class="md-block" flex-gt-sm>
            <label class="bold_font">Password</label>
            <input ng-model="user.password" type="password" id="loginPassword" tabindex="2" name="valPassword" required="true" ng-class="{colorfield:password}" ng-click="password=true;" ng-blur="password=false;">
        </md-input-container>
			    <!-- <div class="validation" ng-show="submitted && userForm.valPassword.$error.required">Password is required*</div> -->
			    <a class="forgotPasswordLink" href="" ng-click="showForgotPasswordModal();" style="float: right;">Forgot Password?</a>
                <br><br>

            <button class="button fbButton" ng-click="signInForm();">LOGIN</button><br>
      <!-- </form> -->
	      <div class="divline"> 
	      	<div class="leftline"></div>
	      	<p class="or">or</p>
	      	<div class="rightline"></div>
	      </div><br>	

	      <a fb-login  class="btn btn-block btn-social btn-facebook icon-responsive">
		    <span class="fa fa-facebook"></span> LOGIN WITH FACEBOOK
		  </a><br>
	      <a g-login  class="btn btn-block btn-social btn-google icon-responsive">
		    <span class="fa fa-google-plus"></span> LOGIN WITH GOOGLE
		  </a><br>
	    <!-- <button class="button fbButton" ng-click="closeModal();">CLOSE</button> -->
      </div>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions> -->
  </form>
</md-dialog>

<style type="text/css">

	a:hover {
		color: #ffffff !important;
	}
	.fa {
		font-size: 1.4em !important;
		min-width: 40px !important;
	}
	md-input-container {
        width: 100%;
    }
	md-input-container label {
        color: rgba(0, 0, 0, 0.38);
    }
    md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
        border-color: rgba(0,0,0,0.12) !important;
    }

    md-input-container.md-input-invalid.md-input-focused label {
        color: #2e5db3 !important;
        font-weight: normal !important;
    }

    md-input-container:not(.md-input-invalid).md-input-focused label {
        color: rgb(63, 81, 181) !important;
        font-weight: normal !important;
    }
    .or {
    	margin: 0 5px;
	    text-align: center;
	    line-height: 0 !important;
	    color: #a8a8a9;
	    font-weight: bold;
    }
    .leftline {
    	border-top: 1px solid #a8a8a9;
    	width: 48%;
    	float: left;
    }
    .rightline {
    	border-top: 1px solid #a8a8a9;
    	width: 48%;
    	float: right;
    }
    .divline {
    	display: flex;
    	margin: 32px auto 25px;
    }
    .bold_font{
    	font-weight: 900;
    }
	/**/
	.button
	{
		width: 100%;
	    margin: 10px auto;
	    padding: 8px;
	    margin-top: 0;
	}
	.button1
	{
		width: 50%;
	    margin: 0 5px;
	    padding: 8px;
	}

	
	.fbButton {
	  color: #ffffff;
	  background: #3b5998;
	  border: solid #3b5998 0px;
	  text-decoration: none;
	}

	.fbButton:hover {
	  text-decoration: none;
	}

	.gpButton {
	  color: #ffffff;
	  background: #dd4b39;
	  border: solid #dd4b39 0px;
	  text-decoration: none;
	}

	.gpButton:hover {
	  text-decoration: none;
	}
    span {
    	color: #ffffff !important;
    }
	md-input-container {
	    padding: 2px 2px 5px !important;
	}
	.forgotPasswordLink:hover{
        color: #23527c  !important;
        text-decoration: underline !important;
        cursor: pointer;
    }


	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 100px !important;
    			/*right: 5% !important;*/
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 100px !important;
    			/*right: 5% !important;*/
		}
		.icon-responsive {
			    font-size: 13px !important;
                padding-left: 30px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 75px !important;
    			/*right: 6% !important;*/
		}
		.icon-responsive {
			    font-size: 12px !important;
                padding-left: 30px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 75px !important;
    			/*right: 6% !important;*/
		}
		.icon-responsive {
			    font-size: 11px !important;
                padding-left: 30px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 75px !important;
    			/*right: 6% !important;*/
		}
		.icon-responsive {
			    font-size: 11px !important;
                padding-left: 30px !important;
		}
	}

	.increaseHeight {
		    height: 423.5px;
		}
	md-input-container.md-input-invalid .md-input-focused {
	    border-color: #2e5db3 !important;
	}
	.colorfield {
		border-bottom: 1px solid #2e5db3 !important;
		border-color: #2e5db3 !important;
	}

	.btn
	{
		border-radius: 0 !important;
	}
</style>


