<link rel="stylesheet" href="styles/mainpagestyle.css">
<style type="text/css">
    .checkbox_empty {
        height: 20px;
        position: relative;
        top: -2px;
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: transparent !important;
    }

    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
        color: transparent;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1 !important;
        border: 4px solid #d24c42;
        border-radius: 50%;
        color: transparent;
    }

    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: 1 !important;
        color: white !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-dots li button:before {
        font-size: 14px !important;
        line-height: 18px !important;
        padding-top: 2px;
    }

    .bannerSlider {
        margin-top: 80px !important;
    }

    @media (max-width: 1000px) and (min-width: 320px) {
        .bannerSlider {
            margin-top: 58px !important;
        }
        h3>span {
            font-size: 30px;
        }
    }

    @media (max-width: 400px) and (min-width: 320px) {
        h3>span {
            font-size: 25px;
        }
    }

    .h3Test:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;
    }
    ._cursor{
        cursor: pointer;

    }
    @media   (min-width:1600px) {
      .nav{
        bottom: 10px !important; 
      }
    }
</style>

<!-- <div name="bannerSlider" style="display: none;" id="bannerSlider" class="bannerSlider">
    <div name="imageSlider" class="slider banner-maxsize image_top">

    <div ng-repeat="slide in slides | orderBy:'display_order'">  
       
        <img class="slide bannerSliderImage" ng-hide="!isCurrentSlideIndex($index)" id="imgslider"
            ng-style="{'background-image':'url({{slide.image}})'}" onmousedown="return false" ng-click="gotourl(slide.car_id,slide.redirect_to)"   style="cursor: pointer;">     
 
        <img src="assets/img/player.png" ng-if="slide.video_url!=null" style="width: 60px;top: 50%;left: 47%;position:  absolute;"  role="button" ng-click="setVideo($event, slide.video_url);"  >      
    </div>
       
          
        <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
        <a class="arrow next" id="nextClick" href="#" ng-click="prevSlide()"></a>
        <nav class="nav" style="    bottom: 0;">
            <div class="wrapper">
                <ul class="dots">
                    <li class="dot" ng-repeat="slide in slides">
                        <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">
                        {{slide.number}}

                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div> -->

<div name="bannerSlider">
   <div name="imageSlider" class="slider banner-maxsize image_top" ng-repeat="slide in slides track by $index" ng-hide="!isCurrentSlideIndex($index)" style="background-size: cover !important;background-position: inherit !important;min-height: 700px;" ng-style="{'background-image':'url({{slide.image}})'}">
       <div>
       <!-- {{slide}} -->
           <div ng-hide="!isCurrentSlideIndex($index)">
         <img class="slide bannerSliderImage" ng-show="slide.video==false" style="height: auto !important"  ng-style="{'background-image':'url({{slide.image}})'}"  onmousedown="return false">
               </div>
            <div ng-hide="!isCurrentSlideIndex($index)">
            <!-- {{slide.video}} -->
          <img   ng-show="slide.video==true"  src="assets/img/player.png" style="width: 60px;top: 50%;left: 47%;z-index: 9;position:  absolute;"  role="button" ng-click="setVideo($event, slide.video_url);"  >
           </div>
       </div>        <a class="arrow prev"  href="#" ng-click="nextSlide()"></a>
       <a class="arrow next" id="nextClick" href="#" ng-click="prevSlide()"></a>
       <!-- <button ng-if="slide.redirect_to=='knowmore'" style="width: 100px;height: auto;background: #fff;top: 80%;" class="arrow next" ng-click="gotourl(slide.car_id,slide.redirect_to)">{{slide.redirect_to}}</button> -->
       <button ng-if="slide.redirect_to!=null"  style="border-radius: 5px;padding: 5px 10px;right:35px;width: auto;height: auto;    font-family: Helvetica;background: {{slide.button_color}};top: 80%;" class="arrow btn" ng-click="gotourl(slide.car_id,slide.redirect_to)">{{slide.button_text}}</button>
       <nav class="nav">
           <div class="wrapper">
               <ul class="dots">
                   <li class="dot" ng-repeat="slide in slides">
                       <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.number}}</a>
                   </li>
               </ul>
           </div>
       </nav>

   </div>
</div> 



<div class="testimonialMain" id="testimonialMain" style="display: none;">
 
    <div class="testimonialContent">
        <h3 class="testimonial-divider test-title h3Test" ng-click="goToAlltestimonial()" style="position: relative; margin-bottom: 40px;">
            <span class="" style="font-size: 36px;font-weight: 600;color: white;">TESTIMONIALS</span>
        </h3>
        <br>
        <div ng-controller="testimonialCtrl" class="your-class" style="margin: 20px auto;min-height: 100px;font-family: Roboto !important;">
            <div ng-repeat="test in testimonialListFinal" style="width: 30%; margin: auto;">
                <div class="testimonials">
                    <div class="active item" style="margin: auto;">
                        <p class="module line-clamp" style="padding-left: 0;text-align: left;text-decoration: none;max-width: 450px;height: 140px;font-size: 18px; color: white;">
                        {{test.testimonialDescription}}

                        </p>
                        <div class="carousel-info">
                            <img alt="" src="{{test.image}}" ng-show="test.image" class="pull-left">
                            <img alt="" src="images/profiledefault.png" ng-show="!test.image" class="pull-left">
                            <div class="pull-left">
                                <span class="testimonials-name" style="text-transform: capitalize !important;font-weight: 600;">
                                &mdash; {{test.testimonialTitle}}

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div ng-click="goToAlltestimonial()" style="margin: 10px auto;font-size: 18px;color: white;text-decoration:underline;"
            title="View All">VIEW ALL</div>
        <br>
        <br>
    </div>
</div>
<div class="servicesMain" id="testimonialMain">
    <div class="serviceFirstMainRow">
        <div class="serviceFirstSubOne">
            <a href="" ng-href="cars" ng-click="goToCars('new');">
                <img src="images/newcars.jpg" style="width: 100%;">
            </a>
            <a href="" ng-click="testDriveServices()">
                <img src="images/testDrive.jpg" style="width: 100%;">
            </a>
        </div>
        <div class="serviceFirstSubTwo">
            <a ng-href="cars" ng-click="goToCars('old');">
                <img src="images/usedcars.jpg" style="width: 100%;">
            </a>
            <a ng-href="accessoriesCarList" ng-click="">
                <img src="images/accessories.jpg" style="width: 100%;">
            </a>
        </div>
    </div>
    <div class="serviceSecondMainRow">
        <div class="serviceSecondSubOne">
            <a href="" ng-click="servicebooking()">
                <img src="images/servicebooking.jpg" style="width: 100%;">
            </a>
            <a href="" ng-click="emicalculatorServices()">
                <img src="images/emicalc.jpg" style="width: 100%;">
            </a>
        </div>
        <div class="serviceSecondSubTwo">
            <a ng-href="enquiry">
                <img src="images/Enquiry-1.jpg" style="width: 100%;">
            </a>
            <a href="" ng-href="locateus">
                <img src="images/locateUs.jpg" style="width: 100%;">
            </a>
        </div>
    </div>
    <div class="serviceSecondMainRow">
        <div class="serviceSecondSubOne">
            <a href="" ng-click="insurance()">
                <img src="images/carInsurance.jpg" style="width: 100%;">
            </a>
            <a >
                <img style="width: 100%;">
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">function bannerDataLoaded() {
        // setTimeout(function () {
        //     $('#bannerSlider').fadeIn(1000)
        // }
        //     , 300);
    }

    function testimonialsDataLoaded() {
        setTimeout(function () {
            $('#testimonialMain').fadeIn(1500);
            $('.your-class').slick({
                dots: true, infinite: true, speed: 300, slidesToShow: 2, slidesToScroll: 1, autoplay: true, autoplaySpeed: 1500, arrows: false, responsive: [{
                    breakpoint: 1024, settings: {
                        slidesToShow: 1, slidesToScroll: 2, infinite: true, dots: false
                    }
                }
                    , {
                    breakpoint: 600, settings: {
                        slidesToShow: 1, slidesToScroll: 1
                    }
                }
                    , {
                    breakpoint: 480, settings: {
                        slidesToShow: 1, slidesToScroll: 1
                    }
                }
                ]
            }
            );
        }
            , 1000);
    }

</script>
<!-- <script type="text/javascript">
    /*<![CDATA[ */

    var google_conversion_id = 825753188;
    var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
    var google_remarketing_only = false;

/*]]> */

</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script> -->
<!-- <noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"
        />
    </div>
</noscript>   -->