
<link rel="stylesheet" href="styles/servicebooking.css">
<link rel='stylesheet' type='text/css' href='css/timepicki.css'/>

<div id="myDIV" class="fade-in" style="display: none;width: 100%;">

<div class="formsMenu">
    <div id="title" class="title"> PAYMENTS </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="makepayment();" class="header_font isMenuContentActive">Make Payment</div>
            <div ng-click="paymentdue();" class="header_font">Payment Due</div>
            <div ng-click="mypayments();" class="header_font">My Payments</div>
        </div>
    </div>
</div>

<style type="text/css">
    .textbox { 
        border: 1px solid #db3236 !important;  
    }
    .textboxx { 
        border: 1px solid #DFDFDF !important;  
    }
</style>



<div class="testDriveFormContainer">
<h3 class="h3after" style="text-transform: uppercase;position: relative;">Manual Payments</h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->




        <form name="userForm" ng-submit="manualpayment()" novalidate>
            <br>
            <div class="mainTD">
                <div class="leftMainTd" style="margin-top: 0 !important;">
                    <div class="outerMostInput">
                        <!-- <div class="labelSection" ng-class="{'text-label':name==true}">Name*</div> -->
                        <div class="inputArea" ng-class="{'text-box':name==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <input type="text" placeholder="Name*" name="valname" id="userName" ng-model="testDriveFormdata.name" class="inputText" ng-click="name=true" ng-blur="name=false" ng-required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)">
                        </div>
                        <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
                    </div>

                    <div class="outerMostInput">
                        <!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Mobile No*</div> -->
                        <div class="inputArea" ng-class="{'text-box':phone==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <input type="text" placeholder="Mobile No*" name="valPhone" id="userPhone" ng-model="testDriveFormdata.mobile" class="inputText inputTextPhone" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" ng-required="true" tabindex="2" onkeypress="return (event.charCode >=48 && event.charCode < 58 || event.charCode < 9)" pattern="\d{10}">
                        </div>
                        <div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
                        <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
                        <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>
                    </div>


                    <div class="outerMostInput">
                        <!-- <div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div> -->
                        <div class="inputArea" ng-class="{'text-box':email==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <input type="email" placeholder="Email Id*" name="valEmail" id="userEmail" ng-model="testDriveFormdata.email" class="inputText" ng-click="email=true" ng-blur="email=false" ng-required="true" tabindex="3" readonly>
                        </div>
                        <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
                        <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
                    </div>


                    <div class="outerMostInput" ng-if="!directbooking">
                       
                        <div class="inputArea" ng-class="{true:'textbox', false:'textboxx'}[manPayOpt]">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/icons/Paymentfor.svg" class="name-icon" style="height: 30px !important;"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">


                            <select class="inputText" name="paymentfor" ng-change="changedealer();" ng-model="testDriveFormdata.entity_type" ng-click="ser=true" ng-blur="ser=false" ng-required="true" tabindex="4" placeholder="Payment For*">
                                <option value="" selected disabled>Payment For*</option>
                              <option value="Booking Down-payment">Booking Down-payment</option>                       
                                    <option value="Service">Service</option>
                                    <option value="Insurance">Insurance</option>
                                    <option value="Service">Body-Shop</option>
                                    <option value="Accessories">Accessories</option>
                                    <option value="Other">Other</option>
                               
                            </select>
                        </div>
                        <div class="validation" ng-show="submitted && userForm.paymentfor.$error.required">Payment for is required*</div>
                    </div>


                    <div class="outerMostInput" ng-if="!directbooking">

                        <div class="labelSection" ng-class="{'text-label':model==true}">Model*</div>

                        <div class="inputArea" ng-class="{'text-box':model==true}">

                        <div class="iconArea ser-padd"> 

                               <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>

                        </div>

                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">

                            <select class="inputText" name="test" ng-model="testDriveFormdata.car_id" ng-click="model=true" ng-blur="model=false" tabindex="4" ng-change="changemodel();">

                              <option value="" disabled></option>

                              <option ng-if="showmodel" ng-repeat="car in carsList" value="{{car.id}}">{{car.car_name}}</option>    

                              <option ng-if="custommodel" ng-repeat="car in carsList" value="{{car.id}}">{{car.model}}</option>

                            </select> 

                        </div>

                        <div class="validation" ng-show="modelval">Model is required*</div>

                        <div class="modelcontainer" ng-controller="addcarCtrl" ng-if="testDriveFormdata.entity_type == 'Service' || testDriveFormdata.entity_type == 'Insurance' || testDriveFormdata.entity_type == 'Accessories'">
                            <div class="addCar addcarmodel" ng-click="addCar($event, carAdd)">
                                <img src="images/cardetails/plus.png" class="addImage imagemodel" onmousedown="return false" />&nbsp;&nbsp;ADD CAR
                            </div>
                        </div>

                    </div>


      <div class="outerMostInput" ng-if="directbooking">
                       
                        <div class="inputArea" ng-class="{true:'textbox', false:'textboxx'}[manPayOpt]">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/icons/Paymentfor.svg" class="name-icon" style="height: 30px !important;"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">

     <input type="text"  disabled class="inputText" name="paymentfor"   ng-model="testDriveFormdata.entity_type" ng-click="ser=true" ng-blur="ser=false" ng-required="true" tabindex="4" placeholder="Payment For* " value="{{testDriveFormdata.entity_type}}">


                     
                        </div>
                        <div class="validation" ng-show="submitted && userForm.paymentfor.$error.required">Payment for is required*</div>
                    </div>


                    <div class="outerMostInput" ng-if="directbooking">

                        <div class="labelSection" ng-class="{'text-label':model==true}">Model*</div>

                        <div class="inputArea" ng-class="{'text-box':model==true}">

                        <div class="iconArea ser-padd"> 

                               <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>

                        </div>

                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">

   <input type="text"  disabled class="inputText" name="test" ng-model="testDriveFormdata.car_id" ng-click="model=true" ng-blur="model=false" tabindex="4" value="{{booking_car_data.car_name}}">


                  <!--           <select class="inputText" name="test" ng-model="testDriveFormdata.car_id" ng-click="model=true" ng-blur="model=false" tabindex="4" ng-change="changemodel();">

                              <option value="" disabled></option>

                              <option ng-if="showmodel" ng-repeat="car in carsList" value="{{car.id}}">{{car.car_name}}</option>    

                              <option ng-if="custommodel" ng-repeat="car in carsList" value="{{car.id}}">{{car.model}}</option>

                            </select>  -->

                        </div>

                        <div class="validation" ng-show="modelval">Model is required*</div>

                        <div class="modelcontainer" ng-controller="addcarCtrl" ng-if="testDriveFormdata.entity_type == 'Service' || testDriveFormdata.entity_type == 'Insurance' || testDriveFormdata.entity_type == 'Accessories'">
                            <div class="addCar addcarmodel" ng-click="addCar($event, carAdd)">
                                <img src="images/cardetails/plus.png" class="addImage imagemodel" onmousedown="return false" />&nbsp;&nbsp;ADD CAR
                            </div>
                        </div>

                    </div>





                    
                </div>

                <div class="rightMainTd">


                    <div class="outerMostInput" ng-click="checkDrpDwnValue();">
                        <!-- <div class="labelSection" ng-class="{'text-label':fuel==true}">Registration Number</div> -->
                        <div class="inputArea" ng-class="{'text-box':fuel==true}">
                            <div class="iconArea ser-padd">
                                <object type="image/svg+xml" data="assets/new_form_icons/registration.svg" class="model-icon fuelIcon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <input type="regno" placeholder="Registration Number" name="valEmail" id="regno" ng-model="testDriveFormdata.regno" class="inputText inputTextReg" ng-click="regno=true" ng-blur="regno=false" tabindex="7">

                        </div>

                    </div>



                    <div class="outerMostInput" ng-click="checkDrpDwnValue();" ng-if="!directbooking">
                             
                        <div class="inputArea" ng-class="{'text-box':ser==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/service_center.svg" class="service-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
 

                            <select class="inputText"
                                    ng-model="testDriveFormdata.dealer_id" 
                                    ng-options="i.id as i.dealer_name for i in dealer_data" tabindex="8" ng-selected="testDriveFormdata.dealer_id" name="dealer_loc">
                                <option value="" disabled required>Dealership Location*</option>
                            </select>
 
                           <div class="validation" ng-show="dealer_loc">Dealership is required*</div>

                        </div> 
                         
                     <!--    <div class="validation" ng-show="submitted && userForm.dealer_loc.$error.required">Dealership is required*</div> -->
                    </div>

                         <div class="outerMostInput" ng-if="directbooking" >
                                
                                <!-- {{dealer_data}} -->
                         <div class="inputArea" ng-class="{'text-box':ser==true}">

                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/service_center.svg" class="service-icon"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
 

                            <select class="inputText" 
                                    ng-model="testDriveFormdata.dealer_id" 
                                    ng-options="i.id as i.dealer_name for i in dealer_data" tabindex="8" ng-selected="testDriveFormdata.dealer_id" required>
                                <option value="" disabled>Dealership Location*</option>
                            </select>
 

                        </div>
                           <div class="validation" ng-show="dealer_loc">Dealership is required*</div>
                     <!--    <div class="validation" ng-show="submitted && userForm.valService.$error.required">Dealership is required*</div> -->
                    </div>

                    <div class="outerMostInput" ng-click="checkDrpDwnValue();">
                        <!-- <div class="labelSection" ng-class="{'text-label':km==true}">Amount*</div> -->
                        <div class="inputArea" ng-class="{'text-box':km==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/icons/Amount.svg" class="name-icon" style="height: 29px !important;"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <input placeholder="Amount*" step="0.01" type="number" id="userNewKms" name="valamt" class="inputText" ng-model="testDriveFormdata.amount" ng-click="km=true" ng-blur="km=false" required="true" tabindex="5">
                        </div>
                        <div class="validation" ng-show="submitted && userForm.valamt.$error.required">Amount is required*</div>
                    </div>
                    


                    <div class="outerMostInput" >
                        <!-- <div class="labelSection" ng-class="{'text-label':address==true}">Comments</div> -->
                        <div class="inputArea" ng-class="{'text-box':address==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/icons/Comments_pay.svg" class="name-icon" style="height: 29px !important;"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <textarea class="" placeholder="Comments (If any)" name="valAddress" id="userAddress" ng-model="testDriveFormdata.Comments" rows="4" cols="50" ng-click="address=true" ng-blur="address=false" tabindex="9" style="border: none;background-color:#FFFFFF;width: 100%;margin:0 0 5px 5px;font-size:17px;"></textarea>
                        </div>
                    </div>


                </div>
            </div>

            <input type="submit" class="testDriveLast_button" id="manualpayment" value="PAY" ng-click="submitted=true" />
        </form>

        <!--<iframe width="100%" name="myiframe" height="550px" src={{paymenturl}} frameborder="0" onload="onLoadFunc(this.src)"></iframe>-->
    </div>
</div>
<script type='text/javascript' src='js/timepicki.js'></script>
<script type="text/javascript">
    $('#timepicker').timepicki(); 


    setTimeout(function() {
        $('#myDIV').fadeIn(1000)
        viewReady();
    }, 500);
</script>

<style type="text/css">
    .h3after:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }

    .timepicker_wrap 
    {
        width: 205px;
    }

    .time, .mins, .meridian {
        width: 50px;
        float: left;
        margin: 0 5px;
        font-size: 20px;
        color: #2d2e2e ;
        font-weight: 300;
        font-family: "Roboto" !important;
    }
    
    .checkbox_empty {
        height: 20px;
        position: relative;
        top: -2px;
    }

    .inputAreaRed {
        height: 50%;
        display: flex;
        border: 1px solid red !important;
         margin: auto;
        background-color: white;
    }


    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
</style>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->