<link rel="stylesheet" href="styles/myaccount.css">
<link rel="stylesheet" href="styles/servicebooking.css">



<div id="myDIV" class="fade-in" style="display: none;">


<div class="formsMenu">
    <div id="title" class="title" style="height: 90px;"> My Profile <br>

        <img ng-src="{{displayUserImage}}" class="" id="profileImage" onmousedown="return false" style="width: 90px;
    height: 90px;margin-top: 5px;border-radius: 50% !important;">

        <input type="file" ng-model="image.file" name="files" accept="image/*" maxsize="5000" base-sixty-four-input class="inputImage file-align hidefile" ng-change="updateImage();" id="uploadImage" style="display: none !important;">
        <div style="top: -25px;left: 40px;position: relative;z-index: 50;">
            <div class="myButton" ng-if="isSocial!=1">
                <input type="button" value="" ng-model="image.file" name="files" accept="image/*" maxsize="5000" base-sixty-four-input ng-change="updateImage();" class="editbutton" ng-show="showEditButton" id="uploadImage" onclick="openfileDialog();" />
            </div>
        </div>
    </div>
</div>



<div class="testDriveFormContainer">


    <h3 class="" style="text-transform: capitalize;"><span style="border-bottom: 1px solid #000;text-transform: uppercase;">Personal Info</span></h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->
    <form name="userForm" ng-submit="submitProfile()" novalidate>
        <br>
        <div class="mainTD">

            <div class="">

                <div class="outerMostInput">
                    <!-- <div class="labelSection" ng-class="{'text-label':name==true}">Name*</div> -->
                    <div class="inputArea" ng-class="{'text-box':name==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input placeholder="Name*" type="text" name="valname" id="userName" ng-model="sendData.profile.full_name" class="inputText" ng-click="name=true" ng-blur="name=false" ng-required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
                </div>
                <div class="outerMostInput" ng-show="!showEditButton">
                    <!-- <div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div> -->
                    <div class="inputArea" ng-class="{'text-box':email==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input placeholder="Email Id*" type="email" name="valEmail" id="userEmail" ng-model="sendData.profile.email" class="inputText" ng-click="email=true" ng-blur="email=false" tabindex="2" readonly>
                    </div>
                </div>

                <div class="outerMostInput">
                    <!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Phone Number</div> -->
                    <div class="inputArea" ng-class="{'text-box':phone==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input placeholder="Phone Number" type="text" name="valPhone" id="userPhone" ng-model="sendData.profile.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" tabindex="4" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
                    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>
                </div>
                <div class="outerMostInput" ng-show="showEditButton">
                    <!-- <div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div> -->
                    <div class="inputArea" ng-class="{'text-box':email==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input placeholder="Email Id*" type="email" name="valEmail" id="userEmail" ng-model="sendData.profile.email" class="inputText" ng-click="email=true" ng-blur="email=false" required="true" tabindex="2">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
                    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
                </div>

                <div style="display: flex;">

                    <div style="width: 49%;margin: auto;">
                        <div class="outerMostInput">
                            <!-- <div class="labelSection" ng-class="{'text-label':date==true}">Date of Birth</div> -->
                            <div class="inputArea" ng-class="{'text-box':date==true}">
                                <div class="iconArea">
                                    <object type="image/svg+xml" data="assets/new_form_icons/date.svg" class="name-icon"></object>
                                </div>
                                <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                                <datepicker date-format="dd-MM-yyyy" datepicker-mobile="true" date-max-limit="{{maxDate}}">
                                    <input placeholder="Date of Birth" type="text" id="date" class="inputText dateCss" ng-model="sendData.profile.dob" ng-click="date=true" tabindex="5" ng-blur="date=false">
                                </datepicker>
                            </div>
                        </div>
                    </div>
                    <div style="width: 49%;margin: auto;">
                        <div class="outerMostInput">
                            <!-- <div class="labelSection" ng-class="{'text-label':exdate==true}">Anniversary</div> -->
                            <div class="inputArea" ng-class="{'text-box':exdate==true}">
                                <div class="iconArea">
                                    <object type="image/svg+xml" data="assets/new_form_icons/expiry_date.svg" class="name-icon"></object>
                                </div>
                                <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                                <datepicker date-format="dd-MM-yyyy" datepicker-mobile="true"  >
                                    <input placeholder="Anniversary" type="text" id="exDate" class="inputText c-input dateCss" name="valRenewExDate" ng-model="sendData.profile.marriage_anniversary_date" ng-click="exdate=true" ng-blur="exdate=false" style="margin-top: 0 !important;" tabindex="6">
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="outerMostInput">
                    <!--  <div class="labelSection" ng-class="{'text-label':add==true}">Address*</div> -->
                    <div class="inputArea" ng-class="{'text-box':add==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/location.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <textarea placeholder="Address (Optional)" type="text" name="valAdd" id="userAddress" rows="4" ng-model="sendData.profile.address" cols="50" class="inputText" ng-click="add=true" ng-blur="add=false" tabindex="3"></textarea>
                    </div>
                    <!-- <div class="validation" ng-show="submitted && userForm.valAdd.$error.required">Address is required*</div> -->
                </div>
            </div>

        </div>
        <br>

        <input type="submit" class="testDriveLast_button" value="SAVE" ng-click="submitted=true" />
        </form>
        <div style="width: 80%;border-bottom: 2px solid #2e5eb3;margin: 35px auto;"></div>

        <br>
        <h3 class="" style="text-transform: capitalize;"><span style="border-bottom: 1px solid #000;text-transform: uppercase;">My Cars</span></h3>

        <div ng-cloak ng-controller="MyCarsCtrl" style="width: 70%;margin: auto;">
            <div id="My Cars" >
                <div class="addCar" ng-click="addCar($event, carAdd)" ng-controller="addcarCtrl">
                  <img src="images/cardetails/plus.png" class="addImage"  onmousedown="return false"/>&nbsp;&nbsp;ADD CAR
                </div>
                <br>
                  <div ng-repeat="myCar in mycars" style="border: 1px solid #ededed;border-bottom: 2px solid #6c9bcc;margin: 10px auto;padding-right: 10px;padding-left: 10px;" class="">
                    <div class="pull-right"  >
                        <img src="images/edit.svg" class="close_icon"  style="width: 20px;height: auto;cursor: pointer;" ng-click="updatecardetails($event,myCar)">
                        <img src="images/trash.svg" class="close_icon"  style="width: 20px;height: auto;cursor: pointer;" ng-click="confirmdelete($index)">
                        
                    </div>
                  <div class="myProfileMainDiv" style="padding-top: 10px;">

                        <div class="" style="width: 42% !important;padding: 0 !important; margin: 10px auto 2px !important;">

                                <img ng-src="{{myCar.default_car_images}}" id="profileImage"  style="" onmousedown="return false">
                        </div>
                    

                        <div class="" style="width: 58% !important; text-align: left;padding: 0 !important; margin: 10px auto 2px !important;">
                        
                        <style type="text/css">
                            td
                            {
                                padding: 5px;
                            }

                            td:first-child {
                                color: gray !important;
                            }
                        </style>

                        <table style="margin: auto;">
                            <tbody> 
                                <tr>
                                    <td>Car Model:</td>
                                    <td>{{myCar.model}}</td>
                                </tr>
                                <tr>
                                    <td>Fuel Type:</td>
                                    <td>{{myCar.fuel_type}}</td>
                                </tr>
                                <tr>
                                    <td>Last Service Date:</td>
                                    <td>{{myCar.last_service_date | updatedDate}}</td>
                                </tr>
                                <tr>
                                    <td>Insurance Company:</td>
                                    <td>{{myCar.insurance_provider}}</td>
                                </tr>
                                <tr>
                                    <td>Insurance Expiry Date:</td>
                                    <td>{{myCar.insurance_expiry | updatedDate}}</td>
                                </tr>
                                <tr>
                                    <td>Kilometers:</td>
                                    <td>{{myCar.number_of_kms}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                  </div>

                  </div>  
            </div>   
        </div>
        <br><br>
    
</div> 
</div>


<script type="text/javascript">
    function openfileDialog() {
        $("#uploadImage").click();
    }

    function showclock() {
        var clock = $('.form-control');
        clock.clockpicker({
            autoclose: true
        });

        clock.clockpicker('show').clockpicker('toggleView', 'minutes');
    }

    // function updateImage(myClass) {
    //     var input = document.getElementById("uploadImage");
    //     var fReader = new FileReader();
    //     fReader.readAsDataURL(input.files[0]);
    //     fReader.onloadend = function(event) {
    //         var img = document.getElementById("profileImage");
    //         img.src = event.target.result;
    //         // localStorage.setItem("temp_profile_img", img.src);
    //         localStorage.setItem("imagechanged", "yes");
    //     }
    // }


    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 1000);


</script>
<style type="text/css">
    div.myButton input {
        background: url(icons/camera.png) no-repeat;
        cursor: pointer;
        width: 45px;
        height: 40px;
        background-size: 25px;
        border: none;
    }



    .testDriveFormContainer {
        margin-top: 215px !important;
    }

    .mainTD {
        width: 60%;
    }

    .outerMostInput {
        width: 99%;
    }


    .blackHeader {
        height: 90px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        background-color: #1d2733;
        padding: 10px;
        color: #d04a50;
        max-width: 1200px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        .blackHeader {
            margin-top: 56px !important;
        }
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        .blackHeader {
            margin-top: 100px !important;
        }
    }
</style>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>-->
<!-- <noscript> 
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>  -->