<link rel="stylesheet" href="styles/testDrive.css">
<link rel="stylesheet" href="styles/myaccount.css">
<link rel="stylesheet" href="styles/servicebooking.css">
<style type="text/css">
.myProfileMainDiv > div {
    margin: 10px auto !important;
    
    
}
#container_profile {
    width: 45% !important;
}
@media (max-width: 992px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 180px!important;
    margin-bottom: 60px!important;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 55px!important;
    margin-bottom: 60px!important;
  }
  .imageDiv {
    max-width: 150px !important;
    max-height: 150px !important;
  }
  #container_profile {
    width: 80% !important;
  }




}
</style>
<div class="testDriveFormContainer" style="margin-top: 100px !important;">
    <div class="pro-title"><span style="border-bottom: 2px solid #d24c42;">My Cars</span></div>
    <br>
    <div ng-cloak>
        <div id="My Cars" >
            <div class="addCar" ng-click="addCar($event, carAdd)" ng-controller="addcarCtrl">
              <img src="images/cardetails/plus.png" class="addImage"  onmousedown="return false"/>&nbsp;&nbsp;ADD CAR
            </div>
              <div ng-repeat="myCar in mycars" style="border: 1px solid #ededed;border-bottom: 2px solid #6c9bcc;margin: 10px auto;" class="">
                <div class="myProfileMainDiv">
                    <div class="imageDiv clear-margin" style="text-align: center;">
                        <img ng-src="{{myCar.default_car_images}}" id="profileImage"  style="width: 200px !important;" onmousedown="return false">
                    </div>
                    <div class="myProfilePartA clear-margin addMt" id="container_profile">
                        <div class="outerMostInput" ng-if="myCar.model">
                            <div class="labelSection">Car Model:  {{myCar.model}}</div>
                        </div>
                        <div class="outerMostInput" ng-if="myCar.fuel_type">
                            <div class="labelSection">Fuel Types:  {{myCar.fuel_type}}</div>
                        </div>
                        <div class="outerMostInput" ng-if="myCar.last_service_date">
                            <div class="labelSection">Last Service Date:  {{myCar.last_service_date | updatedDate}}</div>
                        </div>
                    </div>
                    <div class="myProfilePartB clear-margin addMt" id="container_profile">
                        <div class="outerMostInput" ng-if="myCar.insurance_provider">
                            <div class="labelSection">Insurance Company: {{myCar.insurance_provider}}</div>
                        </div>
                        <div class="outerMostInput" ng-if="myCar.insurance_expiry">
                            <div class="labelSection">Insurance Expiry Date: {{myCar.insurance_expiry | updatedDate}}</div>
                        </div>
                        <div class="outerMostInput" ng-if="myCar.number_of_kms">
                            <div class="labelSection">Kilometers: {{myCar.number_of_kms}}</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="carListBorder"></div> -->
              </div>  
        </div>   
    </div>
</div>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->