<link rel="stylesheet" href="styles/testDrive.css">
<link rel="stylesheet" href="styles/myaccount.css">
<link rel="stylesheet" href="styles/servicebooking.css">
<style type="text/css">
.labelSection > span
  {
    color: #04519f !important;
  }
.myProfileMainDiv > div {
    margin: 10px auto !important;
}
#container_profile {
    width: 45% !important;
}

.labelDiv
{
    width: 40% !important;
    padding: 10px !important;
}

.valueDiv
{
    width: 60% !important;
    padding: 10px !important;
}

tr
{
    border-bottom: 1px solid #ededed;
}

@media (max-width: 992px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 180px!important;
    margin-bottom: 60px!important;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 55px!important;
    margin-bottom: 60px!important;
  }
  .imageDiv {
    max-width: 150px !important;
    max-height: 150px !important;
  }
  #container_profile {
    width: 80% !important;
  }

}

.testDriveFormContainer {
    margin-top: 100px !important;
}
</style>
<div class="testDriveFormContainer">
    <div class="pro-title">My Profile</div>
    <br>
    <div ng-cloak>
        <div id="My Cars">
            <div class="myProfileMainDiv" style="border: 1px solid #b9b9b9;width: 80%">
 
            <div style="width: 40%!important;">
                    <img ng-src="{{displayUserImage}}" class="mypic" id="profileImage"  style="margin-top: 0;" onmousedown="return false">
            </div>

            <div  style="width: 60%!important;">
                    <table style="text-align: left;width: 100%;margin: auto;">
                        <tr>
                            <td class="labelDiv">
                                <div class="labelSection"><span>Name:</span></div>
                            </td>
                            <td class="valueDiv">
                                {{sendData.full_name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="labelDiv">
                                <div class="labelSection"><span>Phone Number:</span></div>
                            </td>
                            <td class="valueDiv">
                                {{sendData.mobile}}
                            </td>
                        </tr>
                        <tr>
                            <td class="labelDiv">
                                <div class="labelSection"><span>Email Id:</span></div>
                            </td>
                            <td class="valueDiv">
                                {{sendData.email}}
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="labelDiv">
                                <div class="labelSection"><span>Date of Birth:</span></div>
                            </td>
                            <td class="valueDiv">
                                {{sendData.dob}}
                            </td>
                        </tr>
                        <tr>
                            <td class="labelDiv">
                                <div class="labelSection"><span>Anniversary:</span></div>
                            </td>
                            <td class="valueDiv">
                                {{sendData.marriage_anniversary_date}}
                            </td>
                        </tr>

                        <tr style="border: none;">
                            <td class="labelDiv">
                                <div class="labelSection"><span>Address:</span></div>
                            </td>
                            <td class="valueDiv">
                                {{sendData.address}}
                            </td>
                        </tr>
                    </table>
            </div>

            </div>
            <input type="submit" class="testDriveLast_button" value="EDIT" ng-click="goMyAccount()" 
            style="margin-top: 20px;" />
        </div>   
    </div>
</div>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript> -->
<!-- <div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>   -->