<link rel="stylesheet" href="styles/servicebooking.css">
<img src="{{offersBanner.image_url}}" width="100%" class="poster_images_width" onmousedown="return false"/>
<div class="testDriveFormContainer">
<h3 class="" style="text-transform: capitalize;">SERVICE OFFER</h3>
    <div class="fa-angle-down" onmousedown="return false" ></div>
<br> 
<div class="tdBelowDividerText offer-text" style="text-align: left;">
	Currently, there are no Offers. Please visit us again to check our service offers as they are updated frequently. Fill out the below form to receive more information on Service Offers.
</div>
  <form name="userForm" ng-submit="sendOffers()" style="margin-top: -30px;" novalidate>
<div class="mainTD mainMargin">
    <div class="leftMainTd">
		<div class="outerMostInput">
			<div class="labelSection" ng-class="{'text-label':name==true}">Name*</div>
			<div class="inputArea" ng-class="{'text-box':name==true}">
				<div class="iconArea">
					<object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="text" name="valname" id="userName" ng-model="sendData.book_test_drife.name" class="inputText" ng-click="name=true" ng-blur="name=false" ng-required="true" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)">
			</div>
			    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
		</div>
		<div class="outerMostInput">
			<div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div>
			<div class="inputArea" ng-class="{'text-box':email==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="email" name="valEmail" id="userEmail" ng-model="sendData.book_test_drife.email" class="inputText" ng-click="email=true" ng-blur="email=false" required="true">
			</div>
			<div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
		    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
		</div>
    </div>

    <div class="rightMainTd">
		<div class="outerMostInput">
			<div class="labelSection" ng-class="{'text-label':phone==true}">Mobile Number*</div>
			<div class="inputArea" ng-class="{'text-box':phone==true}">
				<div class="iconArea">
				    <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="text" name="valPhone" id="userPhone" ng-model="sendData.book_test_drife.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" required="true" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}">
			</div>		
			<div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Mobile Number is required*</div>
		    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Mobile Number should be 10 digits*</div>
		    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Mobile Number should be 10 digits*</div>	
		</div>
		<div class="outerMostInput">
			<div class="labelSection" ng-class="{'text-label':city==true}">City*</div>
			<div class="inputArea" ng-class="{'text-box':city==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/city.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="text" id="userNewCity" name="userNewCity" ng-model="userNewCity" class="inputText c-input" ng-click="city=true" ng-blur="city=false" required="true">
			</div>
              <div class="validation" ng-show="submitted && userForm.userNewCity.$error.required">City is required*</div>		
		</div>	
    </div>	
</div>
        <input type="submit" class="testDriveLast_button" value="SUBMIT" ng-click="submitted=true" />
  </form>
</div>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>-->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
 
 -->

