<link rel="stylesheet" href="styles/servicebooking.css">

<div id="myDIV" class="fade-in" style="display: none;">

<div class="formsMenu">
    <div id="title" class="title"> SERVICES </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="testDrivebooking();" class="header_font">Test Drive</div>
            <div ng-click="servicebooking();" class="header_font">Service Booking</div>
            <div ng-click="insurancebooking();" class="header_font">Car Insurance</div>
            <div ng-click="onRoadPriceQuoteServices();" class="header_font isMenuContentActive">Price Quote</div>
            <div ng-click="emicalculatorServices();" class="header_font">EMI Calculator</div>
            <div ng-click="contactUsServices();" class="header_font">Contact Us</div>
            <div ng-click="feedback();" class="header_font">Feedback</div>
        </div>
    </div>
</div>



<div class="testDriveFormContainer">
	<h3 class="h3after" style="text-transform: uppercase;position: relative;">GET ON-ROAD PRICE</h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->
   <form name="userForm" ng-submit="getPriceQuote()" novalidate>	
	<div class="mainTD" style="margin-top: 20px;">
		<div class="leftMainTd">
			<div class="outerMostInput">
				<!-- <div class="labelSection">Name*</div> -->
				<div class="inputArea">
					<div class="iconArea">
						<object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
					</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valname" ng-model="onRoadFormData.name" id="onroadName" class="inputText" required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
				</div>
					<div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection">Email Id*</div> -->
				<div class="inputArea">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
					</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valEmail" ng-model="onRoadFormData.email" id="onroadEmail" class="inputText" required="true" tabindex="2" placeholder="Email Id*">
				</div>
				    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
				    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection">Mobile Number*</div> -->
				<div class="inputArea">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
					</div>
						<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valPhone" ng-model="onRoadFormData.mobile" id="onroadMobile" class="inputText" required="true" tabindex="3" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}" maxlength="10" minlength="10" placeholder="Mobile Number*">
				</div>
					<div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Mobile Number is required*</div>
				    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
				    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>
			</div>
		</div>
		<div class="rightMainTd">
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':model==true}">Model*</div> -->
				<div class="inputArea" ng-class="{'text-box':model==true}">
				<div class="iconArea ser-padd"> 
					<object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<select class="inputText" name="valModel" ng-model="emiCarModel" id="onroadModel" ng-change="emiModel()" ng-click="model=true" ng-blur="model=false" required style="margin-top: 0 !important;" tabindex="4">
					  <option value="" ng-selected="true">Select Model*</option>
					 <option ng-repeat="car in emidata.cars" value="{{car.car_name}}" ng-selected="" ng-if="car.car_name!='others'">{{car.car_name}}</option>	  
					</select> 
				</div>
				 <div class="validation" ng-show="submitted && userForm.valModel.$error.required">Car Model is required*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':variant==true}">Variant*</div> -->
				<div class="inputArea" ng-class="{'text-box':variant==true}">
					<div class="iconArea">
					  <object type="image/svg+xml" data="assets/new_form_icons/variants.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<select class="inputText" id="mt0" name="valVariant" ng-model="onRoadFormData.id" ng-click="variant=true" ng-blur="variant=false" required style="margin-top: 0 !important;" tabindex="5">
					  <option value="" ng-selected="true">Select Variant*</option>
					  <option disabled class="highLightYellow"> **Yellow highlight is for taxi</option>
					  <option  ng-repeat="variant in emicarVariantData" value="{{variant.variant_id}}" ng-class="{nohighLight: variant.variant_price[0].price[0].board, highLightYellow: variant.variant_price[0].price[0].board === 'yellow'}">{{variant.variant_name}}</option>		 
					</select> 
				</div>		
				 <div class="validation" ng-show="submitted && userForm.valVariant.$error.required">Car Variant is required*</div>	
			</div>
		</div>	
	</div><br><br>
	<input type="submit" class="testDriveLast_button calculate" id="onRoadPrice" value="SUBMIT" ng-click="submitted=true" />
  </form>
</div>

</div>
<style type="text/css">
.highLightYellow
{
	background-color: #FFF176;	
}
.nohighLight
{

}
.h3after:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }
	
    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
</style>
<script type="text/javascript">
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 500);
</script>


<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>-->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> -->
 


