
<!--<div id="myDIV" class="fade-in">

<div class="testDriveFormContainer"> 
<iframe  scrolling="yes" name="myiframe" src={{paymenturl}} frameborder="0" onload="onLoadFunc(this.src)"></iframe>
</div>
</div>	-->
<div id="myDIV" class="fade-in">
<img src="./images/payment_logo.png" style="margin: 0 auto;padding:0;width: auto;height:200px;position:relative;margin-top:0%;"/>
<div class="testDriveFormContainer">
    <br/>
		<h3 class="contactTitle" style="text-transform: capitalize;">Please wait... Redirecting</h3>
    </div></div>
<script>    
   
</script>

<style>
        body, html {
    height: 100%;
    color: rgba(0,0,0,.87);
    background: #fff !important;
    position: relative;
}
/*.contentContainer {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}*/
.testDriveFormContainer {
    padding: 0px !important;
    width: 100% !important;
}
body {
  margin: 0;
}
iframe {
  height:calc(100vh - 4px);
  width:calc(100vw - 4px);
  box-sizing: border-box;
}
</style>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>-->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> -->

 


