<link rel="stylesheet" href="styles/testDrive.css">
<link rel="stylesheet" href="styles/myaccount.css">
<link rel="stylesheet" href="styles/servicebooking.css">
<div id="myDIV" class="fade-in" style="display: none;width: 100%;">


<div class="formsMenu">
    <div id="title" class="title"> PAYMENTS </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="makepayment();" class="header_font">Make Payment</div>
            <div ng-click="paymentdue();" class="header_font isMenuContentActive">Payment Due</div>
            <div ng-click="mypaymentss();" class="header_font">My Payments</div>
        </div>
    </div>
</div>


<style type="text/css">
.myProfileMainDiv > div {
    margin: 30px auto !important;
}
#container_profile {
    width: 45% !important;
}
@media (max-width: 992px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 180px!important;
    margin-bottom: 60px!important;
  }
}
    @media (max-width: 770px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 180px!important;
    margin-bottom: 60px!important;
  }
    #container_profile {
    width: 90% !important;
}
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 55px!important;
    margin-bottom: 60px!important;
  }
  .imageDiv {
    max-width: 150px !important;
    max-height: 150px !important;
  }
  #container_profile {
    width: 80% !important;
  }
}

</style>
<div class="testDriveFormContainer">
    <div class="pro-title" style="margin-top:10px;">PAYMENT DUE</div>
    <br>
    <div ng-cloak>
        <div id="My Cars" ng-controller="paymentduectrl">
            
              <div ng-repeat="payment in mypayments" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);margin-bottom:20px;">
                        <div class="myProfileMainDiv" style="border: 1px solid rgba(0, 0, 0, .2);height:100px;">
              
                    <div class="myProfilePartA clear-margin addMt" id="container_profile" style="margin: 0px auto !important;">
                     <input type="submit" class="testDriveLast_button" value="Bill No - {{payment.bill_no}}" 
            style="margin-top: 20px;float:left;width:auto;" />
                            </div>
                    <div class="myProfilePartB clear-margin addMt" id="container_profile" style="margin: 0px auto !important;">
                    <input type="submit" class="payment_button" value="Make Payment" ng-click="gopayment(payment.id)" 
            style="margin-top: 20px;float: right;" />
                    </div>
                  </div>
                <div class="myProfileMainDiv" style="background:white;border: 1px solid rgba(0, 0, 0, .2);">
             <!-- <input type="submit" class="testDriveLast_button" value="View Details" ng-click="gopaymentdetails(payment.id)" 
            style="margin-top: 20px;" />-->
                    <div class="myProfilePartA clear-margin addMt" id="container_profile">
                        <div class="outerMostInput">
                            <div class="labelSection">Type:  {{payment.entity_type}}</div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection">Location:  {{payment.merchant_name}}</div>
                        </div>
                        
                    </div>
                    <div class="myProfilePartB clear-margin addMt" id="container_profile">
                        <div class="outerMostInput" style="text-align: right;">
                            <div class="labelSection" style="font-size: 20px;"><b>&#8377; {{payment.amount}}</b></div>
                        </div>
                        <div class="outerMostInput" style="text-align: right;">
                            <!--<div class="labelSection">Status {{payment.status}}</div>-->
                        </div>                     
                    </div>
                </div>
                  <div style="height: 30px;text-align:right;margin-right: 20px;margin-top: 5px;">
                   <div class="labelSection">{{payment.updated_at  | date:'medium'}}</div>
                  </div>
               <!-- <div class="carListBorder"></div>-->
              </div>  
        </div>   
    </div>
</div>
<script type='text/javascript' src='js/timepicki.js'></script>
<script type="text/javascript">
    $('#timepicker').timepicki(); 


    setTimeout(function() {
        $('#myDIV').fadeIn(1000)
        viewReady();
    }, 500);
</script>

<style type="text/css">
    .h3after:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }

    .timepicker_wrap 
    {
        width: 205px;
    }

    .time, .mins, .meridian {
        width: 50px;
        float: left;
        margin: 0 5px;
        font-size: 20px;
        color: #2d2e2e ;
        font-weight: 300;
        font-family: "Roboto" !important;
    }
    
    .checkbox_empty {
        height: 20px;
        position: relative;
        top: -2px;
    }

    .inputAreaRed {
        height: 50%;
        display: flex;
        border: 1px solid red !important;
         margin: auto;
        background-color: white;
    }


    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
</style>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript> -->
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>