<link rel="stylesheet" href="styles/testDrive.css">
<link rel="stylesheet" href="styles/myaccount.css">
<link rel="stylesheet" href="styles/servicebooking.css">

<div ng-if="!dataLoaded" style="margin: 50px auto; font-size: 22px;margin-top: 150px;">Just a moment...&nbsp;&nbsp;&nbsp;   
<img src="img/ring.svg" style="width: 38px;">
</div>


<div id="myDIV" class="fade-in" style="display: none;width: 100%;" ng-if="dataLoaded">

<div class="formsMenu">
    <div id="title" class="title"> PAYMENT Details</div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">

        </div>
    </div>
</div>

<div class="testDriveFormContainer">
  <br><br><br><br><br><br>    
    <br>
    <div ng-cloak>
        <div id="My Cars" ng-controller="paymentdetailsctrl">           
              <div>
                <div class="myProfileMainDiv" style="background: white;margin-bottom: 20px;">
               
                    <div class="myProfilePartA clear-margin addMt" id="container_profile" style="border-right: 2px solid rgba(0, 0, 0, .2);">
                        <div class="outerMostInput">
                            <div class="labelSection" style="font-weight: bold;font-size: 20px;">Transaction Details</div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection"><span class="paymentcss">Transaction ID </span> {{paymentdata.txn_id}} </div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection"> <span class="paymentcss">Date </span>  {{paymentdata.updated_at  | date:'medium'}}</div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection" ng-class="{class1:paymentdata.status=='Paid',class2:paymentdata.status=='Failed',class3:paymentdata.status=='Pending'}"> <span class="paymentcss">Status </span>  {{paymentdata.status}}</div>
                        </div>
                    </div>
                    <div class="myProfilePartB clear-margin addMt" id="container_profile">
                        <div class="outerMostInput">
                            <div class="labelSection" style="font-weight: bold;font-size: 20px;">Customer Details</div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection"><span class="paymentcss">Name </span> <font style="text-transform: capitalize;">
                              {{userdata.name}}
                            </font></div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection"><span class="paymentcss">Email ID </span> {{userdata.email}}</div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection"><span class="paymentcss">Phone No </span> {{userdata.mobile}}</div>
                        </div>
                    </div>
                </div>
                  <div class="myProfileMainDiv">          
                    <div class="myProfilePartA clear-margin addMt" id="container_profile" style="background: white;border: solid 30px white !important;margin:0px auto !important;    width: 58% !important;">
                        <div class="outerMostInput">
                            <div class="labelSection" style="font-weight: bold;font-size: 20px;">Payment Summary</div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection">Payment For<span class="paymentcss1">{{paymentdata.entity_type}}</span></div>
                        </div>
                        <div class="outerMostInput">
                            <div class="labelSection">Dealership Location<span class="paymentcss1">{{paymentdata.merchant_name}}</span></div>
                        </div><br><br>
                         <div class="outerMostInput" style="font-weight:bold;font-size: 18px;">
                             <div class="labelSection">Total Payable Amount<span class="paymentcss1">&#8377; {{paymentdata.amount}}</span></div>
                        </div>
                    </div>
                    <div class="myProfilePartB clear-margin addMt" id="container_profile" style="background:#ffffff;border: solid 0px white !important;margin:0px auto !important;padding: 2px !important;    width: 40% !important;">
                        <div style="background: white;border-style: dashed;border-color: rgba(204, 204, 204, 1);">
                             <!--<p  ng-show="showimg" style="margin-top: 15px;font-size: 18px;color:#777676;">Upload Files</p>-->
                       <div class="imageDiv clear-margin" style="margin-bottom: 0;margin: auto;padding: 0 25px;">
                       <!-- <img ng-src="{{imageurl}}" class="mypic" id="smallimage"  style="margin-top: 20px;width:auto!important;height: 200px !important;" onmousedown="return false" ng-click="viewimage(paymentdata.payment_type.url);">-->
                                <div class="container" style="width: 100%!important;">
  <img ng-src="{{imageurl}}" alt="" class="image" id="smallimage" ng-click="viewimage(imageurl);" onmousedown="return false" style="width: 180px;height: 200px;">
  <div class="middle">
    <img ng-src="./images/zoom-in.png"  style="width:30px!important;height: 30px !important;" ng-click="viewimage(paymentdata.payment_type.url);">
  </div>
                    </div>
                    </div>
                        <input type="file" ng-model="image" name="files" required base-sixty-four-input class="inputImage inputfile" id="uploadImage" style="display:none;" ng-change="uploaddocument(paymentdata.id);">
                         <input type="submit" class="testDriveLast_button" value="UPLOAD BILL" 
            style="margin-top: 20px;width: 100%;margin-bottom:0px;max-width: 100%!important;" id="formsubmit"  ng-click="uploadfiles(paymentdata.id)"/>
                            </div>
                    </div>
                </div>
               
              </div>  
        </div>   
    </div>
</div>
<script type='text/javascript' src='js/timepicki.js'></script>
<script type="text/javascript">
    $('#timepicker').timepicki(); 


    setTimeout(function() {
        $('#myDIV').fadeIn(1000)
        viewReady();
    }, 500);
</script>

<style type="text/css">
    .h3after:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }

    .timepicker_wrap 
    {
        width: 205px;
    }

    .time, .mins, .meridian {
        width: 50px;
        float: left;
        margin: 0 5px;
        font-size: 20px;
        color: #2d2e2e ;
        font-weight: 300;
        font-family: "Roboto" !important;
    }
    
    .checkbox_empty {
        height: 20px;
        position: relative;
        top: -2px;
    }

    .inputAreaRed {
        height: 50%;
        display: flex;
        border: 1px solid red !important;
         margin: auto;
        background-color: white;
    }


    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
.myProfileMainDiv > div {
    margin: 30px auto !important;
}
#container_profile {
    width: 45% !important;
}
@media (max-width: 992px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 180px!important;
    margin-bottom: 60px!important;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .contentContainer {
    margin-top: 55px!important;
    margin-bottom: 60px!important;
  }
  .imageDiv {
    max-width: 150px !important;
    max-height: 150px !important;
  }
  #container_profile {
    width: 80% !important;
  }
}
    .paymentcss{
        width:120px;
        display: inline-block;
        color:#777676 !important;
    }
        .paymentcss1{
         float:right;
    }
      .testDriveFormContainer {
      margin-top: 0px !important;
      padding: 40px;
      width: 95%;
      margin: auto;
      background-color: #F6F6F6;
      max-width: 1200px !important;
  }
    .class1 {
    color:green;
}
    .class2 {
    color:red;
}
      .class3 {
    color:orange;
}
      .container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  margin-top:20px!important;
  margin: auto;
 /* width: auto;
  height: 200px;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
</style>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> -->