<link rel="stylesheet" href="styles/preused_cars_filter.css">
        <style type="text/css">
          .checkbox_empty {
                height: 30px;
                width: 30px;
                margin-top: -4px !important;
                background-image: url("images/checkbox_empty.png");
                background-repeat: no-repeat;
                background-position: center;
          }
          .checkbox_checked {
                height: 30px;
                width: 30px;
                border: 1px solid #2b5cb0;
                margin-top: -4px !important;
                background-image: url("images/checkbox_checked.png");
                background-repeat: no-repeat;
                background-position: center;
          }
          input[type="checkbox"] {
            display: none;
          }
        </style>
<section ng-controller="CarsCtrl" ng-init="getparameter()">
  <div class="shell page-conatiner">
    <div class="isotope-wrap">
      <h3 class="filter-header">PRE-OWNED CARS</h3>
    <div class="fa-angle-down" onmousedown="return false" ></div>     
      <main class="page-content" style="margin-top: 20px;">
          <div class="shell text-md-left mobile-view">
            <div class="range text-md-left range-xs-center">
              <div class="cell-xs-10 cell-sm-8 cell-md-4  cell-md-push-1" style="padding: 0;">
                <div class="inset-lg-left-30 inset-md-left-15" style="padding: 0;">
                  <div class="cell-xs-12 cell-xs-push-1 cell-md-push-1 left-filter">
                    <table style="width: 100%;">
                      <tr>
                        <td class="my">Filter By <img src="images/cardetails/refresh.png" class="filter-refresh" ng-click="value=false;reFresh()" onmousedown="return false"/> </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: yearplus}">Year<img src="images/cardetails/{{show0}}.png" class="filter-plus" ng-click="showdetail('show0', 'yearplus')"  ng-class="{minusicon: yearplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="yearplus">
                        <td class="mytd center">
                          <rzslider
                              rz-slider-model="car_year1.min"
                              rz-slider-high="car_year1.max"
                              rz-slider-options="car_year1.options">
                          </rzslider>
                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: kmplus}">km driven<img src="images/cardetails/{{show1}}.png" class="filter-plus" ng-click="showdetail('show1', 'kmplus')"  ng-class="{minusicon: kmplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="kmplus">
                        <td class="mytd center">
                          <rzslider
                              rz-slider-model="car_km1.min"
                              rz-slider-high="car_km1.max"
                              rz-slider-options="car_km1.options">
                          </rzslider>
                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: priceplus}">Price<img src="images/cardetails/{{show2}}.png" class="filter-plus" ng-click="showdetail('show2', 'priceplus')"  ng-class="{minusicon: priceplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="priceplus">
                        <td class="mytd center">
                          <rzslider
                              rz-slider-model="car_price1.min"
                              rz-slider-high="car_price1.max"
                              rz-slider-options="car_price1.options">
                          </rzslider>
                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: brandplus}">Brand & Model <img src="images/cardetails/{{show3}}.png" class="filter-plus" ng-click="showdetail('show3', 'brandplus')"  ng-class="{minusicon: brandplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="brandplus">
                        <td class="mytd">
                          <input type="text" name="search" class="search-box" placeholder="Search">  
                            <div id="scrollArea">
                                <span class="checkbox-text" ng-repeat="carname in allBrand"> 

                                  <div  style="display: flex;min-width: 157px;">
                                    <label class="residence move-top">

                                      <input type="checkbox" id="filterBrand" ng-click="selectedBrandName(carname.brand_name)" ng-model="carfuel_ids[carname.brand_name]" ng-checked="carfuel_ids[carname.brand_name]" />
                                      <span class="chekbox-css" ng-class="carfuel_ids[carname.brand_name] ? 'checkbox_checked' : 'checkbox_empty'"></span>

                                    </label>&nbsp;&nbsp;{{carname.brand_name}}&nbsp;({{carname.cars.length}})
                                  </div>

                                  <div class="expand-checkbox" ng-if="carfuel_ids[carname.brand_name]">

                                    <span class="checkbox-text" ng-repeat="(key, value) in carname.cars | groupBy:'car_name'"> 
                                      <label class="residence move-top">

                                       <input type="checkbox" id="filterModel" ng-class="{'ameo-check': (key == 'New Polo')}" ng-click="selectedModelName(key)" ng-model="carfuel_ids[key]" ng-checked="carfuel_ids[key]" />
                                        <span class="chekbox-css" ng-class="carfuel_ids[key] ? 'checkbox_checked' : 'checkbox_empty'"></span>

                                      </label>&nbsp;&nbsp;<p class="key">{{key}}</p>&nbsp;({{value.length}})
                                    </span>

                                  </div> 

                              </span>
                            </div> 
                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: fuelplus}">Fuel Type <img src="images/cardetails/{{show4}}.png" class="filter-plus" ng-click="showdetail('show4', 'fuelplus')"  ng-class="{minusicon: fuelplus}" onmousedown="return false"/> </td>
                      </tr>
                      <tr ng-if="fuelplus">
                        <td class="mytd">

                          <span class="checkbox-text" ng-repeat="carfuel in car_fuel"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[carfuel]" ng-click="selectedFuelType(carfuel)" ng-checked="carfuel_ids[carfuel]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[carfuel] ? 'checkbox_checked' : 'checkbox_empty'"></span>
                            </label>&nbsp;&nbsp;{{carfuel}}&nbsp;({{countFuel[carfuel]}})
                          </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: transplus}">Transmission<img src="images/cardetails/{{show5}}.png" class="filter-plus" ng-click="showdetail('show5', 'transplus')"  onmousedown="return false" ng-class="{minusicon: transplus}"/> </td>
                      </tr>
                      <tr ng-if="transplus">
                        <td class="mytd">

                          <span class="checkbox-text" ng-repeat="cartrans in car_transmission"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[cartrans]" ng-click="selectedTransmission(cartrans)"  ng-checked="carfuel_ids[cartrans]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[cartrans] ? 'checkbox_checked' : 'checkbox_empty'"></span>
                            </label>&nbsp;&nbsp;{{cartrans}}&nbsp;({{transTransmission[cartrans]}})
                          </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: typeplus}">car type<img src="images/cardetails/{{show6}}.png" class="filter-plus" ng-click="showdetail('show6', 'typeplus')"  onmousedown="return false" ng-class="{minusicon: typeplus}"/> </td>
                      </tr>
                      <tr ng-if="typeplus">
                        <td class="mytd">

                          <span class="checkbox-text" ng-repeat="cartype in car_type"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[cartype]" ng-click="selectedCarType(cartype)" ng-checked="carfuel_ids[cartype]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[cartype] ? 'checkbox_checked' : 'checkbox_empty'"></span>
                            </label>&nbsp;&nbsp;{{cartype}}&nbsp;({{car_type_length[cartype]}})
                          </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="mytd" ng-class="{hideborder: ownerplus}">Ownership & Certification<img src="images/cardetails/{{show7}}.png" class="filter-plus" ng-click="showdetail('show7', 'ownerplus')"  onmousedown="return false" ng-class="{minusicon: ownerplus}"/> </td>
                      </tr>
                      <tr ng-if="ownerplus">
                        <td class="mytd">

                          <span class="checkbox-text"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[value]" ng-click="selectedOwner(1)"  ng-checked="carfuel_ids[1]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[value] ? 'checkbox_checked' : 'checkbox_empty'"></span>
                            </label>&nbsp;&nbsp;1st OwnerShip&nbsp;({{first_owner[true]}})
                          </span>

                          <span class="checkbox-text"> 
                            <label class="residence move-top">
                             <input type="checkbox"  ng-model="carfuel_ids[true]" ng-click="selectedCertified(true)" ng-checked="carfuel_ids[true]" />
                              <span class="chekbox-css" ng-class="carfuel_ids[true] ? 'checkbox_checked' : 'checkbox_empty'"></span>
                            </label>&nbsp;&nbsp;Certified&nbsp;({{certified.true}})
                          </span>

                        </td>
                      </tr>
                    </table> 
                          <button class="button_explore enquire apply"
                           ng-click="showmessege=true;sendData()">APPLY</button>
                  </div>
                </div>
              </div>
              <div class="cell-xs-10 cell-md-8 cell-md-push-2 offset-top-90 offset-md-top-0" style="padding: 0;">
                <div data-photo-swipe-gallery="gallery" class="row">
                  <div data-filter="Gallery 1" class="col-xs-12 col-sm-6 pre-car-width isotope-item filter-div" ng-repeat="car in usedcarlist">
                      <div class="col-md-33">
                        <div  ng-repeat="x in car.used_car_images">
                          <img src="{{apiUrl}}{{x.image_url}}" ng-if="$index == 0" alt=""  class="img-responsive myimg" style="padding: 0;"  onmousedown="return false"/>
                          <img src="images/blackpatch.png" class="blackpatch img-responsive" ng-click="openLightboxModal($index, car.used_car_images)" ng-if="$index == 0" onmousedown="return false"/>
                        </div>
                        <table style="width: 100%;">
                          <tr>
                            <th class="car-th th-1">{{car.car_name}}</th>
                            <th class="price-amount car-th th-2"><img src="images/rupee.png" class="icon" onmousedown="return false"/>&nbsp;{{car.price}}</th>
                          </tr>
                          <tr>
                            <td class="car-td">Variant: <span>{{car.car_variant}}</span></td>
                            <td class="car-td">Color: <span>{{car.used_car_cl}}</span></td>
                          </tr>
                          <tr>
                            <td class="car-td">Year: <span>{{car.car_year}}</span></td>
                            <td class="car-td">Fuel: <span>{{car.fuel_type}}</span></td>
                          </tr>
                          <tr>
                            <td class="car-td">Kilometer: <span>{{car.kms}}</span></td>
                            <td class="car-td">No. of Owners: <span>{{car.ownership}}</span></td>
                          </tr>
                          <tr>
                            <td class="car-td">Transmission: <span>{{car.transmission}}</span></td>
                            <td class="car-td">Under Warranty: <span>{{car.under_warranty}}</span></td>
                          </tr>
                        </table>  
                          <button class="button_explore enquire" ng-click="carenquire(car.id)">ENQUIRE</button>
                      </div>   
                  </div>
                  <div class="info_div" style="margin-top: 50px;" ng-show="!usedcarlist[0].id && showmessege">
                    <p class="info">No results found.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </main>      
    </div>
  </div>
</section>