

<md-dialog aria-label="" class="mdDialogPosition" style="min-width: 280px;width: 50%;"">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Showroom Price</h2>
        <span flex></span>
        
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<!-- ng-repeat="item in variantPriceData" -->
    <table style="width: 100%;">

      <tr ng-repeat="single in variantPriceData | orderBy: 'values[0].display_order'"  style="font-size: 16px;border: 1px solid #ededed ;">

        <td style="width: 50%; text-transform: capitalize;padding: 5px;text-align: left;" ng-style="(single.price_field_type=='Ex-Showroom'|| single.price_field_type=='On Road Price' || single.price_field_type=='On Road With Opt Addons') ? {'font-weight':'bold','background': '#f3f3f3 '}:{'font-weight':'normal'}">{{single.price_field_type}}</td>

        <td style="width: 50%; text-transform: capitalize;padding: 5px;text-align: left;" ng-style="(single.price_field_type=='Ex-Showroom'|| single.price_field_type=='On Road Price' || single.price_field_type=='On Road With Opt Addons') ? {'font-weight':'bold','background': '#f3f3f3 '}:{'font-weight':'normal'}">&#8377;&nbsp;{{single.values[0].price_field_value | rupees}}</td>

      </tr>

    </table>
		<div id="outer" style="width:100%" ng-click="closeCarModal();">
		  <div id="inner" class="testDriveLast_button">CLOSE</div>
		</div>
      
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      
      <md-button ng-click="closeModal();">
       Close
      </md-button>
      
    </md-dialog-actions> -->
  </form>
</md-dialog>

<style type="text/css">
	#outer {
	  width: 100%;
	  text-align: center;
	}

	#inner {
	  display: inline-block;
	      line-height: 55px;
	}
	.testDriveLast_button
	{
	    color: #ffffff;
	    background-color: #2E5EB3;
	    font-size: 16px;
	    border: 1px solid #2E5EB3;
	    min-width: 150px;
	    max-width: 250px;
	    width: 30%;
	    height: 54px;
	    position: relative;
	    top: 20px;
	    bottom: 20px;
	    margin: 20px auto 30px !important;
	}
	/**/
	.button
	{
		width: 100%;
	    margin: 10px auto;
	    padding: 8px;
	}



	md-input-container {
	    padding: 2px 2px 5px !important;
	}


	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	.increaseHeight {
		    height: 423.5px;
		}
</style>


