
<link rel="stylesheet" href="styles/testDrive.css">
<md-dialog aria-label="" class="mdDialogPosition" style="min-width: 280px;width: 50%;"">
  <form ng-cloak novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Request Price Quote</h2>
        <span flex></span>
        
      </div>
    </md-toolbar>

    <md-dialog-content>

	<div class="mainDiv" style="width: 70%;text-align: center;margin: auto;">

		<div class="outerMostInput">
			<div class="labelSection">Name*</div>
			<div class="inputArea">
				<div class="iconArea">
					<object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider">
				<input type="text" name="" ng-model="sendEmailData.name" class="inputText" required tabindex="1"  onkeypress="return (event.charCode > 64 || event.charCode == 32) && (event.charCode > 57 || event.charCode < 94)">
			</div>
		</div>
		<div class="outerMostInput">
			<div class="labelSection">Email*</div>
			<div class="inputArea">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider">
				<input type="text" name="" ng-model="sendEmailData.email" class="inputText" required tabindex="2">
			</div>
		</div>

		<div class="outerMostInput">
			<div class="labelSection">Phone Number*</div>
			<div class="inputArea">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider">
				<input type="number" name="" ng-model="sendEmailData.mobile_number" class="inputText" required tabindex="3" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}">
			</div>
		</div>

		<div class="outerMostInput">
			<div class="labelSection">Variant*</div>
			<div class="inputArea">
				<div class="iconArea"> 
					   <object type="image/svg+xml" data="assets/new_form_icons/variants.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider">
				<select class="inputText" name="test" ng-model="sendEmailData.id" tabindex="4">
				  <option value="" disabled selected>Variant</option>
				  <option ng-repeat="variant in variantsToShow" value="{{variant.variant.id}}" ng-selected=""  >{{variant.variant.variant_name}}</option>	 
				</select> 
			</div>
		</div>
        <div style="display: inline-block;">  
		    <input type="submit" class="testDriveLast_buttonn" value="Email Price Quote" style="" ng-click="sendEmail();" />
	        <button class="testDriveLast_buttonn" ng-click="closePriceModal();" style="width: 40%;height: 40px;    margin-bottom: 0px !important;">CLOSE</button>
	    </div> 
	</div>
      
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      
      <md-button ng-click="closeModal();">
       Close
      </md-button>
      
    </md-dialog-actions> -->
  </form>
</md-dialog>

<style type="text/css">
	/**/
	



	md-input-container {
	    padding: 2px 2px 5px !important;
	}


	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}	

	.testDriveLast_buttonn {
	    color: #ffffff;
	    background-color: #1d3f8d;
	    font-size: 16px;
	    border: 1px solid #1d3f8d;
	    min-width: 150px;
	    max-width: 320px;
	    width: 70%;
	    height: 45px;
	    margin-top: 10px !important;
	    margin-bottom: 5px !important;
	    text-transform: uppercase;
	}

	.increaseHeight {
		    height: 423.5px;
		}


.highLightYellow
{
	background-color: #FFF176;	
}
.nohighLight
{

}
</style>


