<link rel="stylesheet" href="styles/servicebooking.css">
<link rel='stylesheet' type='text/css' href='css/timepicki.css' />

<!-- <img src="{{serviceBanner.image_url}}" width="100%" class="poster_images_width" onmousedown="return false"/> -->
<div id="myDIV" class="fade-in" style="display: none;">
<div class="formsMenu">
    <div id="title" class="title"> SERVICES </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="testDrivebooking();" class="header_font">Test Drive</div>
            <div ng-click="servicebooking();" class="header_font isMenuContentActive">Service Booking</div>
            <div ng-click="insurancebooking();" class="header_font">Car Insurance</div>
            <div ng-click="onRoadPriceQuoteServices();" class="header_font">Price Quote</div>
            <div ng-click="emicalculatorServices();" class="header_font">EMI Calculator</div>
            <div ng-click="contactUsServices();" class="header_font">Contact Us</div>
            <div ng-click="feedback();" class="header_font">Feedback</div>
        </div>
    </div>
</div>
<div class="testDriveFormContainer" ng-init="getCarModel()">
    <h3 class="h3after" style="text-transform: uppercase;position: relative;">BOOK A SERVICE</h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->
    <!-- <br><br> -->
    <div class="tdBelowDividerText" ng-controller="headCtrl" style="margin-bottom: -50px;">
        <div ng-show="!hideLogin">Click here to <a ng-click="showLogin($event)" ng-href="#">Login</a></div>
    </div>
    <form name="userForm" ng-submit="" novalidate>
        <div class="mainTD mainMargin">
            <div class="leftMainTd" style="margin: 0 auto !important;">
                <div class="outerMostInput">
                    
                    <div class="inputArea" ng-class="{'text-box':name==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="text" name="valname" id="userName" ng-model="serviceFormData.name" class="inputText" ng-click="name=true" ng-blur="name=false" ng-required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
                </div>
                <div class="outerMostInput">
                     
                    <div class="inputArea" ng-class="{'text-box':email==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="email" name="valEmail" id="userEmail" ng-model="serviceFormData.email" class="inputText" ng-click="email=true" ng-blur="email=false" ng-required="true" tabindex="2" placeholder="Email Id*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
                    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
                </div>
                <div class="outerMostInput">
                     
                    <div class="inputArea" ng-class="{'text-box':phone==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="text" name="valPhone" id="userPhone" ng-model="serviceFormData.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" ng-required="true" tabindex="3" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}" placeholder="Phone Number*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
                    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
                    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>
                </div>
                 

                <div class="outerMostInput" ng-show="showDropdown">
                    <div class="inputArea" ng-class="{'text-box':model==true}">
                        <div class="iconArea ser-padd">
                            <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <select class="inputText" name="userNewModel" ng-model="modelData" id="userNewModel" ng-click="model=true" ng-blur="model=false" required="true" tabindex="4" ng-change="modalServiceBookingData(modelData)" ng-options="mode.model for mode in mycars">

                        </select>
                    </div>
                    
                    <div class="validation" ng-show="submitted && userForm.userNewModel.$error.required">Model is required*</div>

                    <div class="modelcontainer" ng-controller="addcarCtrl">
                      
                        <div class="addCar addcarmodel" ng-click="addCar($event, carAdd)">
                            <img src="images/cardetails/plus.png" class="addImage imagemodel" onmousedown="return false" />&nbsp;&nbsp;ADD CAR
                        </div>
                    </div>
                </div>


                <div class="outerMostInput" ng-show="!showDropdown">
                     
                    <div class="inputArea" ng-class="{'text-box':model==true}">
                        <div class="iconArea ser-padd">
                            <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="text" name="userNewModel" ng-model="modelData" id="userNewModel" class="inputText" ng-click="model=true" ng-blur="model=false" required="true" tabindex="4" placeholder="Enter Model*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.userNewModel.$error.required">Model is required*</div>
                </div>
                <div class="outerMostInput">
                     
                    <div class="inputArea" ng-class="{'text-box':reg==true}">
                        <div class="iconArea ser-padd">
                            <object type="image/svg+xml" data="assets/new_form_icons/registration.svg" class="model-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="text" name="valnam" id="regNumber1" ng-model="serviceCarData.registration_number" class="inputText" ng-click="reg=true" ng-blur="reg=false" ng-required="true" tabindex="5" placeholder="Registration No.*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valnam.$error.required">Registration No. is required*</div>
                </div>
                <div class="outerMostInput">
                     
                    <div class="inputArea" ng-class="{'text-box':km==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/kilometer.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <input type="text" id="kmNumber" name="kmNumber" ng-model="serviceCarData.number_of_kms" class="inputText" ng-click="km=true" ng-blur="km=false" ng-required="true" tabindex="6" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" placeholder="Kilometers*">
                    </div>
                    <div class="validation" ng-show="submitted && userForm.kmNumber.$error.required">Kilometers are required*</div>
                </div>
                <div class="outerMostInput">
                    <div class="labelSection" ng-class="{'text-label':type==true}">Service Type*</div>
                    <div class="inputArea" ng-class="{'text-box':type==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/services.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <table class="service-table">
                            <tr>
                                <td>
                                    <p class="service-p">Free</p>
                                </td>
                                <td class="serivice-chk">
                                    <label class="residence move-top">
							  <input type="radio" id="serviceFree" value="free" ng-model="serviceFormData.service_type" name="service_type" ng-required="true">
							  <span ng-click="serviceFormData.service_type='free'"></span>
							</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="service-p">Paid</p>
                                </td>
                                <td class="serivice-chk">
                                    <label class="residence move-top">
							  <input type="radio" id="serviceFree" value="paid" ng-model="serviceFormData.service_type" name="service_type" ng-required="true">
							  <span ng-click="serviceFormData.service_type='paid'"></span>
							</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="service-p">Dont Know</p>
                                </td>
                                <td class="serivice-chk">
                                    <label class="residence move-top">
							  <input type="radio" id="serviceFree" value="dont" ng-model="serviceFormData.service_type" name="service_type" ng-required="true">
							  <span ng-click="serviceFormData.service_type='Not Sure'"></span>
							</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="validation" ng-show="submitted && userForm.service_type.$error.required">Service Type is required*</div>
                </div>
            </div>

            <div class="rightMainTd">
                <div class="outerMostInput">
                     
                    <div class="inputArea" ng-class="{'text-box':ser==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/service_center.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <select class="inputText" name="valService" ng-model="serviceFormData.service_station" tabindex="8" ng-click="ser=true" ng-blur="ser=false" ng-required="true">
				  <option value="" ng-selected="true" disabled>Showroom*</option>
				  <option ng-repeat="dealer in dealerList" value="{{dealer.dealer_name}}">{{dealer.dealer_name}}</option>	 	 
				</select>
                    </div>
                    <div class="validation" ng-show="submitted && userForm.valService.$error.required">Showroom is required*</div>
                </div>
                <div class="outerMostInput">
                     
                    <div class="inputArea" ng-class="{'text-box':date==true}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/date.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <datepicker date-format="dd-MM-yyyy" date-min-limit="{{minDate}}" datepicker-mobile="true">
                            <input type="text" id="date" name="myDate" class="inputText dateCss" ng-model="serviceFormData.service_date" ng-click="date=true" ng-blur="date=false" tabindex="9" ng-required="true" readonly placeholder="Date*">
                        </datepicker>
                    </div>
                    <div class="validation" ng-show="submitted && userForm.myDate.$error.required">Date is required*</div>
                </div>
                <div class="outerMostInput">
                     
                    <div class="inputArea" ng-class="{'text-box':time==true && time2==false}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/time.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <div class="input-group clockpicker" style="width: 80%;margin: auto;border: none;">
                            <input id='myTime' class="inputText" type='text' name='timepicker' ng-click="time=true;time2=false" ng-model="serviceTtime" ng-click="time=true;time2=false" ng-blur="time=false;time2=true" tabindex="10" readonly style="width: 95%;" placeholder="Time*">
                        </div>
                    </div>
                    <div class="validation" ng-show="submitted && !serviceTtime">Time is required*</div>
                </div>
                <div class="myProfilePartB clear-margin addMt">
                    <div class="outerMostInput">
                         
                        <div class="inputArea" ng-class="{'text-box':comm==true}">
                            <div class="iconArea">
                                <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
                            </div>
                            <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                            <textarea class="inputText" rows="4" name="comment" id="comments" ng-model="serviceFormData.comments" cols="50" ng-click="comm=true" ng-blur="comm=false" tabindex="7" placeholder="Comment(s)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="outerMostInput" ng-show="serviceFormData.request_pick_up">
                     
                    <div class="inputArea" ng-class="{'text-box':address==true, 'inputAreaRed':showAddress}">
                        <div class="iconArea">
                            <object type="image/svg+xml" data="assets/new_form_icons/location.svg" class="name-icon"></object>
                        </div>
                        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
                        <textarea class="inputText" name="valAddress" id="userAddress" rows="4" ng-model="serviceFormData.address" cols="50" ng-click="address=true" ng-blur="address=false" tabindex="11" placeholder="Address*"></textarea>
                    </div>
                    <div class="validation" ng-show="submitted && !serviceFormData.address && serviceFormData.request_pick_up">Address is required*</div>
                </div>

                <style type="text/css">
                    input[type="checkbox"] {
                        width: 25px;
                        height: 25px;
                        right: 0px
                    }
                </style>
                <div class="res-div">
                    <div class="residence">Please send a personnel to my Residence/Office &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <img src="images/checkbox_empty.png" ng-show="!serviceFormData.request_pick_up" class="checkbox_empty" ng-click="isCarSelected(car.id);serviceFormData.request_pick_up = ! serviceFormData.request_pick_up" onmousedown="return false" />
                        <img src="images/checkbox_checked.png" ng-show="serviceFormData.request_pick_up" class="checkbox_empty" ng-click="isCarSelected(car.id);serviceFormData.request_pick_up = ! serviceFormData.request_pick_up" onmousedown="return false" />

                    </div>
                </div>


            </div>
        </div>
        <div class="info_div" ng-show="showInfoServiceError">
            <p class="info">Selected time slot not available. Please make a booking <br/> On or After {{available_service_day}} between {{open_time}} & {{close_time}}</p>
        </div>
        <input type="submit" class="testDriveLast_button" id="servicebooking" value="SUBMIT" ng-click="bookingTimeControl();" />
    </form>
</div>
</div>

 
<style type="text/css">
 .h3after:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }
    .timepicker_wrap {
        width: 205px;
    }

    .inputAreaRed {
        height: 50%;
        display: flex;
        border: 1px solid red !important;
         margin: auto;
        background-color: white;
    }

    .time,
    .mins,
    .meridian {
        width: 50px;
        float: left;
        margin: 0 5px;
        font-size: 20px;
        color: #2d2e2e;
        font-weight: 300;
        font-family: "Roboto" !important;
    }

    .checkbox_empty {
        height: 20px;
        position: relative;
        top: -2px;
    }
     .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }



    [type=radio]:checked+span:before {
        left: 1px !important;
    }
</style>
<script type='text/javascript' src='js/timepicki.js'></script>
<script type="text/javascript">
    $('#myTime').timepicki();

    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 500);
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */ 
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> -->