

<md-dialog aria-label="" class="mdDialogPosition" style="min-width: 280px;max-width: 370px;width: 30%;margin-top: 45px;
    margin-right: 7px;">
  <form ng-cloak>
    <md-dialog-content>
    	<div style="width: 100%;height: 15px;display: flex;">
    		<div style="width: 92% !important;">
    			
    		</div>
    		<div ng-click="closeModal();" style="width: 8%;">
    			<img src="icons/Close.png" style="width: 20px;">
    		</div>
    	</div>
      <div class="md-dialog-content">
      <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
      	<md-input-container class="md-block" flex-gt-sm>
            <label class="bold_font">Name</label>
            <input ng-model="newuser.name" type="text" id="signupName" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label class="bold_font">Phone Number</label>
            <input ng-model="newuser.mobile" type="text" id="signupPhone" tabindex="2" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}"  maxlength="10">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label class="bold_font">Email Id</label>
            <input ng-model="newuser.email" type="email" id="signupEmail" tabindex="3">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label class="bold_font">Password</label>
            <input ng-model="newuser.password" type="password" id="signupPassword" tabindex="4">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label class="bold_font">Confirm Password</label>
            <input ng-model="confPassword" type="password" id="signupConfirmPassword" tabindex="5">
        </md-input-container><br>
        
	        <!-- <button class="button fbButton" ng-click="closeModal();">CLOSE</button> -->
	        <button class="button fbButton" ng-click="signUp();">SIGN UP</button><br>
	    
      </form>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>

<style type="text/css">
	md-input-container label {
        color: rgba(0, 0, 0, 0.38);
    }
    md-input-container:not(.md-input-invalid).md-input-focused label {
        color: rgb(63, 81, 181) !important;
        font-weight: normal !important;
    }
    .bold_font{
    	font-weight: 900;
    }
    input[type="text"] {
    	width: 100%;
    }
	.button
	{
		width: 98%;
	    margin: 0 5px;
	    padding: 8px;
	}

	
	.fbButton {
	  color: #ffffff;
	  background: #3b5998;
	  border: solid #3b5998 0px;
	  text-decoration: none;
	}

	.fbButton:hover {
	  text-decoration: none;
	}

	.gpButton {
	  color: #ffffff;
	  background: #dd4b39;
	  border: solid #dd4b39 0px;
	  text-decoration: none;
	}

	.gpButton:hover {
	  text-decoration: none;
	}

	md-input-container {
	    padding: 2px 2px 5px !important;
	}


	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 100px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 100px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	.increaseHeight {
		    height: 423.5px;
		}
</style>


