<link rel="stylesheet" href="styles/servicebooking.css">
<link rel="stylesheet" href="styles/myaccount.css">
<link rel="stylesheet" href="styles/testimonialpage.css">


<style type="text/css">
	.testDriveFormContainer
	{
		margin-top: 140px !important;
	}
	.leftMainTd {
		padding: 0px !important;
	}
	.image_left
	{
		line-height: 0 !important;
	}
	.image_button
	{
		width: 75%;
		margin: auto;
		float:none !important;
		margin-top: 0px !important;
	}
	.rightMainTd
	{
		margin-top: 40px !important;
	}
	.fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
    .h3after:after {
        content: '';
        position: absolute;
        width: 12%;
        left: 44%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }
</style>

<div id="myDIV" class="fade-in" style="display: none;">


<div class="formsMenu">
    <div id="title" class="title"> TESTIMONIALS </div>   
</div>



<div class="testDriveFormContainer">
	<h3 class="h3after" style="text-transform: uppercase;position: relative;">ADD TESTIMONIAL</h3>
    
   <form name="userForm" ng-submit="giveFeedback()" novalidate>

		<div class="tdBelowDividerText" ng-controller="headCtrl" style="margin-bottom:0px;">
			<div ng-show="!hideLogin">Click here to <a ng-click="showLogin($event)" ng-href="#">Login</a></div>
		</div>

        <div class="mainTD">
            <div class="leftMainTd" style="margin-top: 0 !important;">
		        <div class="clear-margin image_left">
		            <img ng-src="{{userImage}}" class="mypic" id="profileImage"  onmousedown="return false">

		                <input type="file" ng-model="image.file" name="files" accept="image/*" maxsize="5000"  base-sixty-four-input class="inputImage file-align" onchange="updateImage();" id="uploadImage" style="display: none !important;">

					    <div class="validation" ng-show="userForm.files.$error.maxsize">Files must not exceed 5000 KB*</div>

		        </div>
                    <div ng-model="image.file" name="files" accept="image/*" maxsize="5000" base-sixty-four-input onchange="updateImage();" class="editbutton image_button" id="uploadImage" onclick="openfileDialog();">
                    	UPLOAD IMAGE
                    </div> 
	        </div>

            <div class="rightMainTd" style="margin-top: 0 !important;">

				<div class="outerMostInput">
					<!-- <div class="labelSection" ng-class="{'text-label':name==true}">Name*</div> -->
					<div class="inputArea" ng-class="{'text-box':name==true}">
						<div class="iconArea">
				          <object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
						</div>
				        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<input type="text" name="valname" id="userName" ng-model="testimonialFormData.name" class="inputText" ng-click="name=true" ng-blur="name=false" ng-required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
					</div>
					    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
					    <br>

				</div>

				<div class="outerMostInput">
					<!-- <div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div> -->
					<div class="inputArea" ng-class="{'text-box':email==true}">
						<div class="iconArea">
				          <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
						</div>
				        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<input type="email" name="valEmail" id="userEmail" ng-model="testimonialFormData.email" class="inputText" ng-click="email=true" ng-blur="email=false" required="true" tabindex="2" placeholder="Email Id*">
					</div>
				    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
				    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
				    <br>
				</div>

				<div class="outerMostInput">
					<!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Phone Number</div> -->
					<div class="inputArea" ng-class="{'text-box':phone==true}">
						<div class="iconArea">
				          <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
						</div>
				        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<input type="text" name="valPhone" id="userPhone" ng-model="testimonialFormData.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}" tabindex="3" placeholder="Phone Number" required>
					</div>		
					<div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
				    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
				    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>
				    <br>	
				</div>	
				<div class="outerMostInput hide_comment_box">
					<!-- <div class="labelSection" ng-class="{'text-label':comm==true}">Comment*</div> -->
					<div class="inputArea"  ng-class="{'text-box':comm==true}">
						<div class="iconArea">
				          <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
						</div>
				        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<textarea class="inputText" rows="4" name="comment" id="comment_small" ng-model="testimonialFormData.description" cols="50" ng-click="comm=true" ng-blur="comm=false" ng-required="true" maxlength="600" ng-maxlength="599" tabindex="4" placeholder="Comment(s) *"></textarea>
					</div>
					    <div class="validation" ng-show="submitted && userForm.comment.$error.required">Comment is required*</div>
					    <div class="validation" ng-show="userForm.comment.$error.maxlength">Comment must not exceed 600 characters*</div>
					    <br>
				</div>
            </div>
        </div>
		<div class="outerMostInput comment_box">
			<!-- <div class="labelSection" ng-class="{'text-label':comm==true}">Comment*</div> -->
			<div class="inputArea"  ng-class="{'text-box':comm==true}">
				<div class="iconArea">
		          <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="model-icon move-top"></object>
				</div>
		        <img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<textarea class="inputText" rows="4" name="comment" id="comment" ng-model="testimonialFormData.description" cols="50" ng-click="comm=true" ng-blur="comm=false" ng-required="true" maxlength="600" ng-maxlength="599" tabindex="4" placeholder="Comment(s) *"></textarea>
			</div>
			    <div class="validation" ng-show="submitted && userForm.comment.$error.required">Comment is required*</div>
			    <div class="validation" ng-show="userForm.comment.$error.maxlength">Comment must not exceed 600 characters*</div>
		</div><br>
        
        <input type="submit" class="testDriveLast_button" value="SUBMIT" ng-click="submitted=true" />
    </form>
</div>

</div>
    <script type="text/javascript">
        function openfileDialog() {
            $("#uploadImage").click();
        }

        function updateImage()
        {
            var input = document.getElementById("uploadImage");
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function(event)
            {
                var img = document.getElementById("profileImage");
                img.src = event.target.result;
                localStorage.setItem("imagechanged", "true");
            }
        }

    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 500);
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> -->