<link rel="stylesheet" href="styles/servicebooking.css">
<link rel='stylesheet' type='text/css' href='css/timepicki.css'/>

<div id="myDIV" class="fade-in" style="display: none;width: 100%;">

<div class="formsMenu">
    <div id="title" class="title"> SERVICES </div>
    <div id="menu" class="menu" style="position: fixed;width: 100%;max-width: 1200px;margin: auto;background-color:#1d2733;color: #fff;margin-top: 10px !important;">
        <div class="menuContent">
            <div ng-click="testDrivebooking();" class="header_font isMenuContentActive">Test Drive</div>
            <div ng-click="servicebooking();" class="header_font">Service Booking</div>
            <div ng-click="insurancebooking();" class="header_font">Car Insurance</div>
            <div ng-click="onRoadPriceQuoteServices();" class="header_font">Price Quote</div>
            <div ng-click="emicalculatorServices();" class="header_font">EMI Calculator</div>
            <div ng-click="contactUsServices();" class="header_font">Contact Us</div>
            <div ng-click="feedback();" class="header_font">Feedback</div>
        </div>
    </div>
</div>


<div class="testDriveFormContainer">
<h3 class="h3after" style="text-transform: uppercase;position: relative;">Book a Test Drive</h3>
    <!-- <div class="fa-angle-down" onmousedown="return false" ></div> -->
  <form name="userForm" ng-submit="carTestDrive()" novalidate>
	<br> 
	<div class="tdBelowDividerText" ng-controller="headCtrl">
		For a complete experience of Honda cars, kindly fill your details to book a test drive today.<br><div ng-show="!hideLogin">Click here to <a ng-click="showLogin($event)" ng-href="#">Login</a></div>
	</div>
  <div class="mainTD">
	<div class="leftMainTd" style="margin-top: 0 !important;">
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':name==true}">Name*</div> -->
				<div class="inputArea" ng-class="{'text-box':name==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" name="valname" id="userName" ng-model="testDriveFormdata.name" class="inputText" ng-click="name=true" ng-blur="name=false" ng-required="true" tabindex="1" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
				</div>
				    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div> -->
				<div class="inputArea" ng-class="{'text-box':email==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="email" placeholder="Email Id*" name="valEmail" id="userEmail" ng-model="testDriveFormdata.email" class="inputText" ng-click="email=true" ng-blur="email=false" ng-required="true" tabindex="2">
				</div>
			    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
			    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Phone Number*</div> -->
				<div class="inputArea" ng-class="{'text-box':phone==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" placeholder="Phone Number*" name="valPhone" id="userPhone" ng-model="testDriveFormdata.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" ng-required="true" tabindex="3" onkeypress="return (event.charCode >=48 && event.charCode < 58 || event.charCode < 9)" pattern="\d{10}">
				</div>		
			    <div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
			    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
			    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>	
			</div>
			<style type="text/css">
				
			</style>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':model==true}">Model*</div> -->
				<div class="inputArea" ng-class="{'text-box':model==true}">
				<div class="iconArea ser-padd"> 
					   <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					
					<select class="inputText"  ng-if="!fromBanner" ng-model="testDriveFormdata.model" ng-change="testFuels()">
						<option value="" ng-selected="true" disabled>Model*</option>
						<option ng-repeat="car in carsList"     ng-if="car.car_name!='others'">{{car.car_name}}</option>	 		
					</select>
					<!-- <select class="inputText" name="test" ng-model="testDriveFormdata.model" ng-click="model=true" ng-blur="model=false" ng-required="true" tabindex="4" ng-change="testFuels()" required ng-if="!fromBanner">
					  <option value="" ng-selected="true" disabled>Model*</option>
					  <option ng-repeat="car in carsList" value="{{carsList.car_name}}"   ng-if="car.car_name!='others'">{{car.car_name}}</option>	 
					</select>  -->
					<input ng-model="testDriveFormdata.model" ng-if="fromBanner" style="border: none;" >
					<!-- <select class="inputText" name="test" ng-model="testDriveFormdata.model" ng-click="model=true" ng-blur="model=false" ng-required="true" tabindex="4" ng-change="testFuels()" required ng-if="fromBanner">
						<option value="" ng-selected="true" disabled>{{carsList.car_name}}</option>

						<option ng-repeat="car in carsList" value="{{car.car_name}}" ng-selected="" ng-if="car.car_name!='others'">{{car.car_name}}</option>	 
					  </select>  -->
				</div>
			    <div class="validation" ng-show="submitted && userForm.test.$error.required">Model is required*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':fuel==true}">Fuel Types*</div> -->
				<div class="inputArea" ng-class="{'text-box':fuel==true}">
				<div class="iconArea ser-padd"> 
					   <object type="image/svg+xml" data="assets/new_form_icons/fueltype.svg" class="model-icon fuelIcon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<select class="inputText" name="fuel" ng-model="testDriveFormdata.fuel_type" ng-click="fuel=true" ng-blur="fuel=false" ng-required="true" tabindex="5">
					  <option value="" ng-selected="true" disabled>Fuel Type*</option>
					  <option ng-repeat="fuel in testDriveFuelTypes" value="{{fuel}}" ng-selected="">{{fuel}}</option>	 
					</select> 
				</div>
			    <div class="validation" ng-show="submitted && userForm.fuel.$error.required">Fuel Type is required*</div>
			</div>
	</div>

	<div class="rightMainTd">
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':ser==true}">Showroom*</div> -->
			<div class="inputArea" ng-class="{'text-box':ser==true}">
				<div class="iconArea"> 
					   <object type="image/svg+xml" data="assets/new_form_icons/service_center.svg" class="service-icon"></object>
				</div>
				<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<select class="inputText" name="valService" ng-model="testDriveFormdata.sales_center" ng-click="ser=true" ng-blur="ser=false" ng-required="true" tabindex="6">
				  <option value="" ng-selected="true" disabled>Showroom*</option>
				  <option ng-repeat="dealer in dealerList" value="{{dealer.dealer_name}}">{{dealer.dealer_name}}</option>	 
				</select> 
			</div>
		    <div class="validation" ng-show="submitted && userForm.valService.$error.required">Showroom is required*</div>
		</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':date==true}">Date*</div> -->
				<div class="inputArea" ng-class="{'text-box':date==true}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/date.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<datepicker date-format="dd-MM-yyyy, EEEE" date-min-limit="{{minDate}}" datepicker-mobile="true">
					  <input ng-model="testDriveFormdata.date" ng-change="changeDate(testDriveFormdata.date)" class="inputText dateCss" type="text" id="date"  ng-click="date=true" ng-blur="date=false" tabindex="7" ng-required="true" name="testDriveDate" readonly placeholder="Date*" />
					</datepicker>
				</div>
			    <div class="validation" ng-show="submitted && userForm.testDriveDate.$error.required">Date is required*</div>
			</div>
			<div class="outerMostInput">
				<!-- <div class="labelSection" ng-class="{'text-label':time==true && time2==false}">Time*</div> -->
				<div class="inputArea" ng-class="{'text-box':time==true && time2==false}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/time.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<div class="input-group clockpicker" style="width: 80%;margin: auto;border: none;">
                       <input id='timepicker' class="inputText" type='text' name='timepicker' ng-click="time=true;time2=false"  ng-model="testTime" ng-click="time=true;time2=false" ng-blur="time=false;time2=true" tabindex="8" readonly/ style="width: 95%;" placeholder="Time*">
					 </div>
				</div>
			    <div class="validation" ng-show="submitted && !testTime">Time is required*</div>
			</div>
			<div class="outerMostInput" ng-show="testDriveFormdata.request_pick_up">
				<!-- <div class="labelSection" ng-class="{'text-label':address==true}">Address*</div> -->
				<div class="inputArea" ng-class="{'text-box':address==true, 'inputAreaRed':showAddress}">
					<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/location.svg" class="name-icon"></object>
					</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
						<textarea class="inputText" name="valAddress" id="userAddress" ng-model="testDriveFormdata.address" rows="4" cols="50" ng-click="address=true" ng-blur="address=false" ng-required="testDriveFormdata.request_pick_up" tabindex="9" placeholder="Address*"></textarea>
					</div>
				    <div class="validation" ng-show="submitted && userForm.valAddress.$error.required">Address is required*</div>
			</div>

			<style type="text/css">
				input[type="checkbox"]{
				  width: 25px; 
				  height: 25px;
				  right: 0px 
				}
			</style>   
			<div class="res-div">	
				<div class="residence">Please send a personnel to my Residence/Office   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               
				  <!-- <span class="compare_box"> -->
                    <img src="images/checkbox_empty.png" ng-show="!testDriveFormdata.request_pick_up" class="checkbox_empty" ng-click="isCarSelected(car.id);testDriveFormdata.request_pick_up = ! testDriveFormdata.request_pick_up" onmousedown="return false"/> 
                    <img src="images/checkbox_checked.png" ng-show="testDriveFormdata.request_pick_up" class="checkbox_empty" ng-click="isCarSelected(car.id);testDriveFormdata.request_pick_up = ! testDriveFormdata.request_pick_up"  onmousedown="return false"/> 
             <!--      </span> -->
				</div>
			</div>
			
	</div>	
  </div>
	<!-- <div class="info_div" ng-show="showInfoError">
	  <p class="info">Selected time slot not available. Please make a booking <br/> On or After {{available_day}} between {{open_time}} & {{close_time}}</p>
	</div> -->
	<input type="submit" class="testDriveLast_button" id="testdrive" value="BOOK" ng-click="bookingTimeControl();" />
</form>
</div>

 
 
</div>
<style type="text/css">
    .h3after:after {
        content: '';
        position: absolute;
        width: 20%;
        left: 40%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }

    .timepicker_wrap 
    {
        width: 205px;
    }

    .time, .mins, .meridian {
        width: 50px;
        float: left;
        margin: 0 5px;
        font-size: 20px;
        color: #2d2e2e ;
        font-weight: 300;
        font-family: "Roboto" !important;
    }
    
	.checkbox_empty {
	    height: 20px;
	    position: relative;
	    top: -2px;
	}

    .inputAreaRed {
        height: 50%;
        display: flex;
        border: 1px solid red !important;
         margin: auto;
        background-color: white;
    }


    .fade-in {
	  opacity: 0;
	  animation: fadeIn .5s ease-in 1 forwards;
	}
</style>
<script type='text/javascript' src='js/timepicki.js'></script>
<script type="text/javascript">
    $('#timepicker').timepicki(); 


    setTimeout(function() {
    	$('#myDIV').fadeIn(1000)
        viewReady();
    }, 500);
</script>
<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>




 -->