<link rel="stylesheet" href="styles/servicebooking.css">

<style type="text/css">
	.testDriveFormContainer
	{
		margin-top: 140px !important;
	}
	h3:after {
        content: '';
        position: absolute;
        width: 12%;
        left: 44%;
        bottom: -10px;
        border-bottom: 4px solid #d24c42;

    }
</style>

<div id="myDIV" class="fade-in" style="display: none;">


<div class="formsMenu">
    <div id="title" class="title"> Auto Terrace </div>   
</div>



<div class="testDriveFormContainer">
<h3 class="" style="text-transform: uppercase;position: relative;">Auto Terrace ENQUIRY</h3>
<div class="tdBelowDividerText" ng-controller="headCtrl">
		<div ng-show="!hideLogin">Click here to <a ng-click="showLogin($event)" ng-href="#">Login</a></div>
	</div>
  <form name="userForm" ng-submit="enquireUsedCar()" novalidate>
<div class="mainTD mainMargin" style="margin-top: 20px !important;">
<div class="leftMainTd">
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':name==true}">Name*</div> -->
			<div class="inputArea" ng-class="{'text-box':name==true}">
				<div class="iconArea">
					<object type="image/svg+xml" data="assets/new_form_icons/profile.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="text" name="valname" id="userName" ng-model="usedCarFormData.name" class="inputText" ng-click="name=true" ng-blur="name=false" ng-required="true" tabindex="1"  onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode < 9 || event.charCode == 32)" placeholder="Name*">
			</div>
			    <div class="validation" ng-show="submitted && userForm.valname.$error.required">Name is required*</div>
			    <br>
		</div>
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':email==true}">Email Id*</div> -->
			<div class="inputArea" ng-class="{'text-box':email==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="email" name="valEmail" id="userEmail" ng-model="usedCarFormData.email" class="inputText" ng-click="email=true" ng-blur="email=false" ng-required="true" tabindex="2" placeholder="Email Id*">
			</div>
		    <div class="validation" ng-show="submitted && userForm.valEmail.$error.required">Email Id is required*</div>
		    <div class="validation" ng-show="submitted && userForm.valEmail.$error.email">Email Id is invalid*</div>
		    <br>
		</div>
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':phone==true}">Phone Number*</div> -->
			<div class="inputArea" ng-class="{'text-box':phone==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/mobile.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="text" name="valPhone" id="userPhone" ng-model="usedCarFormData.mobile" class="inputText" ng-click="phone=true" ng-blur="phone=false" minlength="10" maxlength="10" ng-required="true" tabindex="3" onkeypress="return event.charCode >=48 && event.charCode < 58 || event.charCode < 9" pattern="\d{10}" placeholder="Phone Number*">
			</div>		
		    <div class="validation" ng-show="submitted && userForm.valPhone.$error.required">Phone Number is required*</div>
		    <div class="validation" ng-show="submitted && userForm.valPhone.$error.minlength">Phone Number should be 10 digits*</div>
		    <div class="validation" ng-show="submitted && userForm.valPhone.$error.maxlength">Phone Number should be 10 digits*</div>	
		    <br>
		</div>
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':address==true}">Address*</div> -->
			<div class="inputArea" ng-class="{'text-box':address==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/email.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<textarea class="inputText" name="valAddress" id="userAddress" ng-model="usedCarFormData.address" rows="4" cols="50" ng-click="address=true" ng-blur="address=false" ng-required="true" tabindex="4" placeholder="Address"></textarea>
				</div>
				<br>
			    <!-- <div class="validation" ng-show="submitted && userForm.valAddress.$error.required">Address is required*</div> -->
		</div>
</div>

<div class="rightMainTd">
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':model==true}">Model*</div> -->
			<div class="inputArea" ng-class="{'text-box':model==true}">
				<div class="iconArea ser-padd"> 
					   <object type="image/svg+xml" data="assets/new_form_icons/model.svg" class="model-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="text" name="valModel" ng-model="usedCarFormData.car_model" class="inputText" ng-click="model=true" ng-blur="model=false" ng-required="true" readonly tabindex="5" placeholder="Model*" style="text-transform: capitalize;">
			</div>
		    <div class="validation" ng-show="submitted && userForm.valModel.$error.required">Model is required*</div>
		    <br>
		</div>
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':km==true}">Kilometers*</div> -->
			<div class="inputArea" ng-class="{'text-box':km==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/kilometer.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<input type="text" id="kmNumber" class="inputText" ng-model="usedCarFormData.kms" ng-click="km=true" ng-blur="km=false" readonly tabindex="6" onkeypress="return event.charCode < 58" placeholder="Kilometers*">

			</div>	
			<br>		
		</div> 
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':ser==true}">Dealer Location*</div> -->
			<div class="inputArea" ng-class="{'text-box':ser==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/location.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
					<input type="text" class="inputText" ng-model="usedCarFormData.dealer_location" ng-click="ser=true" ng-blur="ser=false" readonly tabindex="7" onkeypress="return event.charCode < 58" placeholder="Dealer Location*" name="carDealer" id="carDealer">

				<!-- <select class="inputText" name="carDealer" ng-model="usedCarFormData.dealer_location" id="carDealer" ng-click="ser=true" ng-blur="ser=false" ng-required="true"  tabindex="7">
				  <option value="">Select Dealer Location</option>
				  <option ng-repeat="modelService in serviceStation" value="{{modelService}}">{{modelService}}</option>	 
				</select> --> 
			</div>
			    <div class="validation" ng-show="submitted && userForm.carDealer.$error.required">Dealer Location is required*</div>
			    <br>
		</div>
		<div class="outerMostInput">
			<!-- <div class="labelSection" ng-class="{'text-label':comm==true}">Comment</div> -->
			<div class="inputArea"  ng-class="{'text-box':comm==true}">
				<div class="iconArea">
					   <object type="image/svg+xml" data="assets/new_form_icons/comment.svg" class="name-icon"></object>
				</div>
					<img src="assets/icons/grey_divider.png" class="box-divider" onmousedown="return false">
				<textarea class="inputText" rows="4" name="comment" id="comment" ng-model="usedCarFormData.comment" cols="50" ng-click="comm=true" ng-blur="comm=false" tabindex="8" placeholder="Comment(s) (If Any)"></textarea>
			</div>
		</div>

		
</div>	
</div>
        <input type="submit" class="testDriveLast_button" value="SUBMIT" ng-click="submitted=true" />
  </form>
</div>

</div>
<script type="text/javascript">
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);
        viewReady();
    }, 500);
</script>



<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
 -->