

<md-dialog aria-label="" class="mdDialogPosition" style="min-width: 280px;width: 50%;"">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Used car Information</h2>
        <span flex></span>
        
      </div>
    </md-toolbar>

    <md-dialog-content>

    <table style="width: 100%;">
      <tr style="font-size: 16px;border: 1px solid #ededed ;">
        <td class="tr_block back_color">
          {{usedCarModal.car_model}}
        </td>
        <td class="tr_block back_color">
          {{usedCarModal.price}}
        </td>
      </tr>
      <tr style="font-size: 16px;border: 1px solid #ededed ;">
        <td class="tr_block">
          Year:
        </td>
        <td class="tr_block">
          {{usedCarModal.car_year}}
        </td>
      </tr>
      <tr style="font-size: 16px;border: 1px solid #ededed ;">
        <td class="tr_block">
          Kilometer: 
        </td>
        <td class="tr_block">
          {{usedCarModal.kms}}
        </td>
      </tr>
      <tr style="font-size: 16px;border: 1px solid #ededed ;">
        <td class="tr_block">
          Transmission: 
        </td>
        <td class="tr_block">
          {{usedCarModal.transmission}}
        </td>
      </tr>
      <tr style="font-size: 16px;border: 1px solid #ededed ;">
        <td class="tr_block">
          Fuel: 
        </td>
        <td class="tr_block">
          {{usedCarModal.fuel_type}}
        </td>
      </tr>
      <tr style="font-size: 16px;border: 1px solid #ededed ;">
        <td class="tr_block">
          No. of Owners:
        </td>
        <td class="tr_block">
          {{usedCarModal.ownership}}
        </td>
      </tr>
      <tr style="font-size: 16px;border: 1px solid #ededed ;">
        <td class="tr_block">
          Under Warranty: 
        </td>
        <td class="tr_block">
          {{usedCarModal.under_warranty}}
        </td>
      </tr>
    </table>
		<div id="outer" style="width:100%" ng-click="closeCarModal();">
		  <div id="inner" class="testDriveLast_button">CLOSE</div>
		</div>
      
    </md-dialog-content>
  </form>
</md-dialog>

<style type="text/css">
	#outer {
	  width: 100%;
	  text-align: center;
	}
    
	#inner {
	  display: inline-block;
	      line-height: 55px;
	}
	.back_color {
		background-color: #f2f7ff;
		font-weight:bold;
	}
	.tr_block {
		width: 50%; 
		text-transform: capitalize;
		padding: 5px;
		text-align: left;
	}
	.testDriveLast_button
	{
	    color: #ffffff;
	    background-color: #2E5EB3;
	    font-size: 16px;
	    border: 1px solid #2E5EB3;
	    min-width: 150px;
	    max-width: 250px;
	    width: 30%;
	    height: 54px;
	    position: relative;
	    top: 20px;
	    bottom: 20px;
	    margin: 20px auto 30px !important;
	}
	/**/
	.button
	{
		width: 100%;
	    margin: 10px auto;
	    padding: 8px;
	}



	md-input-container {
	    padding: 2px 2px 5px !important;
	}


	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	.increaseHeight {
		    height: 423.5px;
		}
</style>


