
<link rel="stylesheet" href="styles/testDrive.css">
<md-dialog aria-label="" class="mdDialogPosition" style="width: 100%;max-width: 100%;height: 100%; max-height: 100%;top: 0 !important;">

    <md-dialog-content style="height: 100%;">

		<div class="mainDiv" style="width: 100%;height: 100%;text-align: center;margin: auto;">
                <div style="text-align: right;">
                	<span ng-click="closePriceModal()">
                    	<img src="assets/img/close_icon.png" style="width: 30px;" />
                	</span>
                </div>
			
			<iframe id="ifIder" src="{{youtubeurl}}" frameborder="0" class="embed-responsive-item" style="border: 0px solid #ededed;border-radius: 1px;width: 90%;height: 90%;margin: 0 auto;" allowfullscreen>
					</iframe>
		</div>
      
    </md-dialog-content>
</md-dialog>

<style type="text/css">
	/**/
	



	md-input-container {
	    padding: 2px 2px 5px !important;
	}


	@media (min-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 768px) and (max-width: 992px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.mdDialogPosition
		{
			    top: 75px !important;
		}
	}	

	.testDriveLast_buttonn {
	    color: #ffffff;
	    background-color: #1d3f8d;
	    font-size: 16px;
	    border: 1px solid #1d3f8d;
	    min-width: 150px;
	    max-width: 320px;
	    width: 70%;
	    height: 45px;
	    margin-top: 10px !important;
	    margin-bottom: 5px !important;
	    text-transform: uppercase;
	}

	.increaseHeight {
		    height: 423.5px;
		}


</style>


