<link rel="stylesheet" href="styles/servicebooking.css">

<div ng-if="!dataLoaded" style="margin: 50px auto; font-size: 22px;margin-top: 150px;">Just a moment...&nbsp;&nbsp;&nbsp;   
<img src="img/ring.svg" style="width: 38px;">
</div>
<div id="myDIV" class="fade-in" style="display: none;">
<div class="testDriveFormContainer">   
	<h3 ><span style="border-bottom: 2px solid #d24c42;">CUSTOMER TESTIMONIALS</span>
     </h3>     
        <div>
        	<a ng-href="testimonialpage" style="text-decoration: underline;font-size: 20px !important;margin: 30px auto !important;" class="view-test hoveradd">Add Testimonial</a>
		</div> 
		 
	<div ng-repeat="content in testimonialList" style="margin: 15px auto;min-height: 100px;">

		<div style="display: flex;padding: 25px;border-bottom: 2px solid #6c9bcc;">
				<!-- https://dakshin-backend.myridz.com{{content.image.url}} -->
			<div class="testimonialImageSection">
					<img src="https://dakshin-backend.myridz.com{{content.image.url}}" alt="Avatar" style="width: 200px;" onmousedown="return false" ng-if="content.image.url">
				<img src="./images/profile.png" alt="Avatar" style="width: 200px;" onmousedown="return false" ng-if="!content.image.url">
			</div>
			 
			<div style="text-align: left;width: 100%;margin-left: 20px;text-transform: capitalize !important;">
				<div style="margin: 2px auto;">
					<p style="font-size: 16px;text-decoration:underline;">By {{content.name}}</p>
				</div>
				<div style="margin: 2px auto;">
					<p style="font-size: 14px;text-align: justify;">{{content.description}}</p>
				</div>
			</div>
		</div>

	</div>
</div>
</div>

<style type="text/css">
    .fade-in {
      opacity: 0;
      animation: fadeIn .5s ease-in 1 forwards;
    }
	.testDriveFormContainer
	{
		margin-top: 100px !important;
		width: 95% !important;
	}
</style>

<script type="text/javascript">

function pageDataLoaded()
{
    setTimeout(function() {
        $('#myDIV').fadeIn(1000);

    }, 300);
}
</script>

<!-- Google Code for Dakshin Honda Conversion Page -->
<!-- <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 825753188;
var google_conversion_label = "SdPiCIux9XkQ5PzfiQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script> -->
<!-- <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/825753188/?label=SdPiCIux9XkQ5PzfiQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

 -->